<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,121}</string>
                <key>spriteSourceSize</key>
                <string>{233,121}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,121}</string>
                <key>spriteSourceSize</key>
                <string>{233,121}</string>
                <key>textureRect</key>
                <string>{{236,1},{233,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,121}</string>
                <key>spriteSourceSize</key>
                <string>{233,121}</string>
                <key>textureRect</key>
                <string>{{471,1},{233,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,121}</string>
                <key>spriteSourceSize</key>
                <string>{233,121}</string>
                <key>textureRect</key>
                <string>{{706,1},{233,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,121}</string>
                <key>spriteSourceSize</key>
                <string>{233,121}</string>
                <key>textureRect</key>
                <string>{{941,1},{233,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuiguan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,121}</string>
                <key>spriteSourceSize</key>
                <string>{233,121}</string>
                <key>textureRect</key>
                <string>{{1176,1},{233,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanlibang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1881,1},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaomu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,121}</string>
                <key>spriteSourceSize</key>
                <string>{233,121}</string>
                <key>textureRect</key>
                <string>{{1411,1},{233,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyzm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,121}</string>
                <key>spriteSourceSize</key>
                <string>{233,121}</string>
                <key>textureRect</key>
                <string>{{1646,1},{233,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>activityBtnIcon.png</string>
            <key>size</key>
            <string>{1952,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c384407ce99c6be85eccb67949da954:2fe6b9164ebc754ecf606be2ceba00d9:fd608f1affac817e5e9c18a904ea4beb$</string>
            <key>textureFileName</key>
            <string>activityBtnIcon.png</string>
        </dict>
    </dict>
</plist>
