<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{71,1},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangyubaifenbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{70,77}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{141,155},{70,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gedang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{141,1},{74,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{217,1},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongjibaifenbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{70,77}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{213,155},{70,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{287,1},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinengshanghaizengjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{1,78},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kangbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{71,78},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lengquesuojian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{141,78},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pojia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{211,78},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pojiadikang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{281,78},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pugongshanghaizengjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{351,78},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{1,155},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengmingbaifenbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{70,77}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{285,155},{70,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{71,155},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attr.png</string>
            <key>size</key>
            <string>{420,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e82635ffc5c2c43e08f90b534787634a:a26ed2377223ed197b6e1837847436cc:6225233f0d304559823b46b4371e1e9f$</string>
            <key>textureFileName</key>
            <string>attr.png</string>
        </dict>
    </dict>
</plist>
