<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ARP_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,37}</string>
                <key>spriteSourceSize</key>
                <string>{131,37}</string>
                <key>textureRect</key>
                <string>{{1,324},{131,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ARP_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,37}</string>
                <key>spriteSourceSize</key>
                <string>{131,37}</string>
                <key>textureRect</key>
                <string>{{1,363},{131,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATK_DEC_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,37}</string>
                <key>spriteSourceSize</key>
                <string>{100,37}</string>
                <key>textureRect</key>
                <string>{{1,708},{100,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATK_INC_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,37}</string>
                <key>spriteSourceSize</key>
                <string>{100,37}</string>
                <key>textureRect</key>
                <string>{{1,747},{100,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATK_SPD_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,40}</string>
                <key>spriteSourceSize</key>
                <string>{140,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATK_SPD_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,37}</string>
                <key>spriteSourceSize</key>
                <string>{133,37}</string>
                <key>textureRect</key>
                <string>{{1,127},{133,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLK_DMG_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,36}</string>
                <key>spriteSourceSize</key>
                <string>{130,36}</string>
                <key>textureRect</key>
                <string>{{1,478},{130,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLK_DMG_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,36}</string>
                <key>spriteSourceSize</key>
                <string>{130,36}</string>
                <key>textureRect</key>
                <string>{{1,516},{130,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLK_RATE_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,36}</string>
                <key>spriteSourceSize</key>
                <string>{99,36}</string>
                <key>textureRect</key>
                <string>{{135,323},{99,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLK_RATE_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,36}</string>
                <key>spriteSourceSize</key>
                <string>{99,36}</string>
                <key>textureRect</key>
                <string>{{135,400},{99,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLK_RES_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,36}</string>
                <key>spriteSourceSize</key>
                <string>{99,36}</string>
                <key>textureRect</key>
                <string>{{135,438},{99,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLK_RES_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,36}</string>
                <key>spriteSourceSize</key>
                <string>{99,36}</string>
                <key>textureRect</key>
                <string>{{135,476},{99,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CDR_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,38}</string>
                <key>spriteSourceSize</key>
                <string>{132,38}</string>
                <key>textureRect</key>
                <string>{{1,166},{132,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CDR_UP_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,38}</string>
                <key>spriteSourceSize</key>
                <string>{132,38}</string>
                <key>textureRect</key>
                <string>{{1,206},{132,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CRI_DMG_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,36}</string>
                <key>spriteSourceSize</key>
                <string>{132,36}</string>
                <key>textureRect</key>
                <string>{{1,402},{132,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CRI_DMG_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,36}</string>
                <key>spriteSourceSize</key>
                <string>{132,36}</string>
                <key>textureRect</key>
                <string>{{1,440},{132,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CRI_RATE_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,36}</string>
                <key>textureRect</key>
                <string>{{133,553},{100,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CRI_RATE_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,36}</string>
                <key>textureRect</key>
                <string>{{133,591},{100,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CRI_RES_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,36}</string>
                <key>spriteSourceSize</key>
                <string>{99,36}</string>
                <key>textureRect</key>
                <string>{{133,629},{99,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CRI_RES_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,36}</string>
                <key>spriteSourceSize</key>
                <string>{99,36}</string>
                <key>textureRect</key>
                <string>{{131,667},{99,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DEF_DEC_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,37}</string>
                <key>spriteSourceSize</key>
                <string>{100,37}</string>
                <key>textureRect</key>
                <string>{{134,361},{100,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DEF_INC_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,37}</string>
                <key>spriteSourceSize</key>
                <string>{100,37}</string>
                <key>textureRect</key>
                <string>{{133,514},{100,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DMG_INC_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,36}</string>
                <key>spriteSourceSize</key>
                <string>{130,36}</string>
                <key>textureRect</key>
                <string>{{1,554},{130,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DMG_INC_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,36}</string>
                <key>spriteSourceSize</key>
                <string>{130,36}</string>
                <key>textureRect</key>
                <string>{{1,592},{130,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DMG_RES_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,37}</string>
                <key>spriteSourceSize</key>
                <string>{128,37}</string>
                <key>textureRect</key>
                <string>{{1,630},{128,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DMG_RES_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,37}</string>
                <key>spriteSourceSize</key>
                <string>{128,37}</string>
                <key>textureRect</key>
                <string>{{1,669},{128,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DOD_RATE_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,37}</string>
                <key>spriteSourceSize</key>
                <string>{99,37}</string>
                <key>textureRect</key>
                <string>{{135,167},{99,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DOD_RATE_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,37}</string>
                <key>spriteSourceSize</key>
                <string>{99,37}</string>
                <key>textureRect</key>
                <string>{{135,206},{99,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DOD_RES_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,37}</string>
                <key>spriteSourceSize</key>
                <string>{99,37}</string>
                <key>textureRect</key>
                <string>{{135,245},{99,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DOD_RES_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,37}</string>
                <key>spriteSourceSize</key>
                <string>{99,37}</string>
                <key>textureRect</key>
                <string>{{135,284},{99,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HL_INC_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{139,1},{70,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HL_INC_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{139,43},{70,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_DEC_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,37}</string>
                <key>spriteSourceSize</key>
                <string>{132,37}</string>
                <key>textureRect</key>
                <string>{{1,246},{132,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_INC_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,37}</string>
                <key>spriteSourceSize</key>
                <string>{132,37}</string>
                <key>textureRect</key>
                <string>{{1,285},{132,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HR_DEC_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{139,43},{70,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HR_DEC_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{139,1},{70,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HR_INC_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{139,1},{70,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HR_INC_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{139,43},{70,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MOVE_SPD_DOWN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,40}</string>
                <key>spriteSourceSize</key>
                <string>{140,40}</string>
                <key>textureRect</key>
                <string>{{1,43},{136,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MOVE_SPD_UP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,40}</string>
                <key>spriteSourceSize</key>
                <string>{140,40}</string>
                <key>textureRect</key>
                <string>{{1,85},{136,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bati.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{1,786},{70,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanyao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{70,38}</string>
                <key>textureRect</key>
                <string>{{73,786},{70,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chaofeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{136,127},{70,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongse_jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,38}</string>
                <key>textureRect</key>
                <string>{{203,705},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luse_jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,38}</string>
                <key>textureRect</key>
                <string>{{175,745},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{139,85},{70,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shihua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{131,705},{70,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuanyun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{70,38}</string>
                <key>textureRect</key>
                <string>{{103,745},{70,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zudang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{145,785},{70,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battleFont.png</string>
            <key>size</key>
            <string>{235,825}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:819d45b722096a83d05859efabc21267:f1ccddbba609f0ab69b25bf851341743:4be3622bcefc702b13782455175d4374$</string>
            <key>textureFileName</key>
            <string>battleFont.png</string>
        </dict>
    </dict>
</plist>
