<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dengji_jijin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,88}</string>
                <key>spriteSourceSize</key>
                <string>{314,92}</string>
                <key>textureRect</key>
                <string>{{1,765},{310,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guaji_jijin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,88}</string>
                <key>spriteSourceSize</key>
                <string>{314,92}</string>
                <key>textureRect</key>
                <string>{{313,765},{310,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hong-shang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{616,302}</string>
                <key>spriteSourceSize</key>
                <string>{616,302}</string>
                <key>textureRect</key>
                <string>{{629,625},{616,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaoyan_jijin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,86}</string>
                <key>spriteSourceSize</key>
                <string>{309,86}</string>
                <key>textureRect</key>
                <string>{{1,855},{309,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan-shang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{616,330}</string>
                <key>spriteSourceSize</key>
                <string>{616,330}</string>
                <key>textureRect</key>
                <string>{{595,1},{616,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv-shang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{626,365}</string>
                <key>spriteSourceSize</key>
                <string>{626,365}</string>
                <key>textureRect</key>
                <string>{{1,398},{626,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mijing_jijin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,88}</string>
                <key>spriteSourceSize</key>
                <string>{314,92}</string>
                <key>textureRect</key>
                <string>{{1247,625},{310,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tansuo_jijin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,88}</string>
                <key>spriteSourceSize</key>
                <string>{314,92}</string>
                <key>textureRect</key>
                <string>{{1247,715},{310,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tsjj_mjjj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,88}</string>
                <key>spriteSourceSize</key>
                <string>{314,92}</string>
                <key>textureRect</key>
                <string>{{1247,805},{310,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txz_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,206}</string>
                <key>spriteSourceSize</key>
                <string>{544,206}</string>
                <key>textureRect</key>
                <string>{{1213,1},{544,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txz_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,206}</string>
                <key>spriteSourceSize</key>
                <string>{544,206}</string>
                <key>textureRect</key>
                <string>{{1213,209},{544,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txz_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,206}</string>
                <key>spriteSourceSize</key>
                <string>{544,206}</string>
                <key>textureRect</key>
                <string>{{629,333},{544,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txz_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,206}</string>
                <key>spriteSourceSize</key>
                <string>{544,206}</string>
                <key>textureRect</key>
                <string>{{1175,417},{544,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhiyeta_jijin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,81}</string>
                <key>spriteSourceSize</key>
                <string>{367,81}</string>
                <key>textureRect</key>
                <string>{{629,541},{367,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi-shang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,395}</string>
                <key>spriteSourceSize</key>
                <string>{592,395}</string>
                <key>textureRect</key>
                <string>{{1,1},{592,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battlePassIcon.png</string>
            <key>size</key>
            <string>{1758,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8219422c3d6990346b25a20db7066724:308c3c7c204425f24ebbfbc74de57e8b:c7cf9071cb3a6a4468f5336c2fad8c46$</string>
            <key>textureFileName</key>
            <string>battlePassIcon.png</string>
        </dict>
    </dict>
</plist>
