<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{122,123}</string>
                <key>spriteSourceSize</key>
                <string>{132,159}</string>
                <key>textureRect</key>
                <string>{{263,351},{122,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_normal_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,159}</string>
                <key>spriteSourceSize</key>
                <string>{132,159}</string>
                <key>textureRect</key>
                <string>{{1,167},{132,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-16}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{277,119},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_orange_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{132,142}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{143,1},{132,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-15}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{277,1},{120,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_purple_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{128,142}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{135,167},{128,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-16}</string>
                <key>spriteSize</key>
                <string>{124,114}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{265,235},{124,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_red_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{132,142}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{1,328},{132,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_team.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-14}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{135,311},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_team_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{140,164}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>box.png</string>
            <key>size</key>
            <string>{398,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81b0899f0f1951c91b47a79defa9db8e:210af9c4c80b4e5a881a596daf1c8d8e:e7d5df088989fd73d4e1ab6d0183848c$</string>
            <key>textureFileName</key>
            <string>box.png</string>
        </dict>
    </dict>
</plist>
