<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,374}</string>
                <key>spriteSourceSize</key>
                <string>{476,374}</string>
                <key>textureRect</key>
                <string>{{1,1},{476,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2340.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{204,293}</string>
                <key>spriteSourceSize</key>
                <string>{254,303}</string>
                <key>textureRect</key>
                <string>{{259,1025},{204,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{250,295}</string>
                <key>spriteSourceSize</key>
                <string>{254,303}</string>
                <key>textureRect</key>
                <string>{{259,728},{250,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3320.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,323}</string>
                <key>spriteSourceSize</key>
                <string>{256,323}</string>
                <key>textureRect</key>
                <string>{{1,728},{256,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,303}</string>
                <key>spriteSourceSize</key>
                <string>{254,303}</string>
                <key>textureRect</key>
                <string>{{1,1053},{254,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{254,245}</string>
                <key>spriteSourceSize</key>
                <string>{254,303}</string>
                <key>textureRect</key>
                <string>{{1,1358},{254,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5330.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{252,299}</string>
                <key>spriteSourceSize</key>
                <string>{254,303}</string>
                <key>textureRect</key>
                <string>{{257,1320},{252,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5340.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,349}</string>
                <key>spriteSourceSize</key>
                <string>{420,349}</string>
                <key>textureRect</key>
                <string>{{1,377},{420,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CareerTrial.png</string>
            <key>size</key>
            <string>{510,1620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d03728d7a90cf5cd25e13fd3c159b00f:ab33e847264b6dadc88f6f95ff3b45d8:12539f49ae62f33295cd327e0551a2a1$</string>
            <key>textureFileName</key>
            <string>CareerTrial.png</string>
        </dict>
    </dict>
</plist>
