<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>collection_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{305,257}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{681,802},{305,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,375}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{375,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-12}</string>
                <key>spriteSize</key>
                <string>{289,251}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{721,549},{289,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{353,251}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,683},{353,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{305,305}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{374,643},{305,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{275,237}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{272,1211},{275,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{277,233}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{549,1262},{277,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-6}</string>
                <key>spriteSize</key>
                <string>{319,243}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,936},{319,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-9}</string>
                <key>spriteSize</key>
                <string>{289,263}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{725,284},{289,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-38}</string>
                <key>spriteSize</key>
                <string>{199,221}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{778,1533},{199,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{273,259}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{322,950},{273,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-19}</string>
                <key>spriteSize</key>
                <string>{255,239}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{521,1497},{255,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-15}</string>
                <key>spriteSize</key>
                <string>{345,345}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{378,1},{345,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-16}</string>
                <key>spriteSize</key>
                <string>{371,303}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,378},{371,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-37}</string>
                <key>spriteSize</key>
                <string>{287,281}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{725,1},{287,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{175,269}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{828,1262},{175,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-23}</string>
                <key>spriteSize</key>
                <string>{341,293}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{378,348},{341,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{269,259}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,1181},{269,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-41}</string>
                <key>spriteSize</key>
                <string>{251,243}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{268,1450},{251,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-42}</string>
                <key>spriteSize</key>
                <string>{265,231}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,1442},{265,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collection_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{375,199}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{597,1061},{375,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>collectiblesbig.png</string>
            <key>size</key>
            <string>{1015,1755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18eec24d8a70459f2908f6010b499952:d1bb6d3babf1d9970a72edf265df4a1f:0a62be691e9254d47f89cc7aab2421a9$</string>
            <key>textureFileName</key>
            <string>collectiblesbig.png</string>
        </dict>
    </dict>
</plist>
