<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossdy_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1,47},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bossdydi_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,21}</string>
                <key>spriteSourceSize</key>
                <string>{72,21}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bossjd_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{41,47},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bossjddi_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,21}</string>
                <key>spriteSourceSize</key>
                <string>{72,21}</string>
                <key>textureRect</key>
                <string>{{75,1},{72,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bossjy_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{79,47},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bossjydi_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,21}</string>
                <key>spriteSourceSize</key>
                <string>{72,21}</string>
                <key>textureRect</key>
                <string>{{149,1},{72,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bosspt_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{119,47},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bossptdi_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,21}</string>
                <key>spriteSourceSize</key>
                <string>{72,21}</string>
                <key>textureRect</key>
                <string>{{1,24},{72,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bossss_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{159,47},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bossssdi_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,21}</string>
                <key>spriteSourceSize</key>
                <string>{72,21}</string>
                <key>textureRect</key>
                <string>{{75,24},{72,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bosswj_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{199,47},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bosswjdi_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,21}</string>
                <key>spriteSourceSize</key>
                <string>{72,21}</string>
                <key>textureRect</key>
                <string>{{149,24},{72,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dailyBoss.png</string>
            <key>size</key>
            <string>{238,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f79b313641cdb137b5e03b332c8a96a:36bc1786370d5cbb8b19fa67566da7e9:5ab24aa77535ae7659b7c1de6ab8d393$</string>
            <key>textureFileName</key>
            <string>dailyBoss.png</string>
        </dict>
    </dict>
</plist>
