<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,87}</string>
                <key>spriteSourceSize</key>
                <string>{92,87}</string>
                <key>textureRect</key>
                <string>{{135,295},{92,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,87}</string>
                <key>spriteSourceSize</key>
                <string>{92,87}</string>
                <key>textureRect</key>
                <string>{{135,384},{92,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,98}</string>
                <key>textureRect</key>
                <string>{{135,103},{104,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,87}</string>
                <key>spriteSourceSize</key>
                <string>{92,87}</string>
                <key>textureRect</key>
                <string>{{1,389},{92,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{135,1},{106,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_z007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{135,203},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,98}</string>
                <key>spriteSourceSize</key>
                <string>{132,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light-purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,98}</string>
                <key>spriteSourceSize</key>
                <string>{132,98}</string>
                <key>textureRect</key>
                <string>{{1,101},{132,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{132,86}</string>
                <key>spriteSourceSize</key>
                <string>{132,98}</string>
                <key>textureRect</key>
                <string>{{1,301},{132,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,98}</string>
                <key>spriteSourceSize</key>
                <string>{132,98}</string>
                <key>textureRect</key>
                <string>{{1,201},{132,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>drawCard.png</string>
            <key>size</key>
            <string>{242,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4e6504f9f28bbc045a3030877032280:79ffa7ecd41cc3e18f55469dd6302364:34cbf5452c009dbab14651faaa650fbd$</string>
            <key>textureFileName</key>
            <string>drawCard.png</string>
        </dict>
    </dict>
</plist>
