<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{624,244}</string>
                <key>spriteSourceSize</key>
                <string>{652,260}</string>
                <key>textureRect</key>
                <string>{{629,1},{624,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{624,244}</string>
                <key>spriteSourceSize</key>
                <string>{652,260}</string>
                <key>textureRect</key>
                <string>{{1255,1},{624,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{624,244}</string>
                <key>spriteSourceSize</key>
                <string>{652,260}</string>
                <key>textureRect</key>
                <string>{{1,247},{624,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{624,244}</string>
                <key>spriteSourceSize</key>
                <string>{652,260}</string>
                <key>textureRect</key>
                <string>{{627,247},{624,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{626,244}</string>
                <key>spriteSourceSize</key>
                <string>{652,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{626,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{624,244}</string>
                <key>spriteSourceSize</key>
                <string>{652,260}</string>
                <key>textureRect</key>
                <string>{{1253,247},{624,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{624,244}</string>
                <key>spriteSourceSize</key>
                <string>{652,260}</string>
                <key>textureRect</key>
                <string>{{1,493},{624,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{624,244}</string>
                <key>spriteSourceSize</key>
                <string>{652,260}</string>
                <key>textureRect</key>
                <string>{{627,493},{624,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{624,244}</string>
                <key>spriteSourceSize</key>
                <string>{652,260}</string>
                <key>textureRect</key>
                <string>{{1253,493},{624,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameMode.png</string>
            <key>size</key>
            <string>{1880,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5dce9cfa7bafdc82763970e8099876a:0dcd7a8b5dd9eef57fad45de16f21e3d:36b437014118b310720cc851fdcd5ab0$</string>
            <key>textureFileName</key>
            <string>gameMode.png</string>
        </dict>
    </dict>
</plist>
