<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{464,1},{118,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{136,138}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{137,246},{136,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{134,124}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1,107},{134,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{275,249},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{132,114}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{213,1},{132,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{130,118}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{702,1},{130,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{834,1},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{269,118},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{584,1},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{107,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hf_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{347,1},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_activity01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{130,124}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{137,117},{130,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_activity02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,138}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{833,123},{134,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_activity03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{134,140}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1,233},{134,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_activity04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{142,128}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{399,119},{142,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_activity05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{142,134}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{543,119},{142,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_activity06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{144,138}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{415,255},{144,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_activity07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{144,134}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{687,121},{144,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_activity08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{146,138}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{561,257},{146,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_activity09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{709,263},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_zdfb01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{317,395},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_zdfb02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{475,397},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_zdfb03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{633,405},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_zdfb04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{156,150}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1,386},{156,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_zdfb05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{156,150}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{159,389},{156,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_zdfb06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{791,405},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>headframe.png</string>
            <key>size</key>
            <string>{969,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c13c4bf7dcf9aeb3dae6c5ef850fc8c4:3408fe1fbac6304b72edf03b289529d9:f686d3766e449f93f272a1b68ba73817$</string>
            <key>textureFileName</key>
            <string>headframe.png</string>
        </dict>
    </dict>
</plist>
