<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{129,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1043,535},{129,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{111,126}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1269,1},{111,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{179,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1174,539},{179,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{199,132}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{327,255},{199,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1320.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{189,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1355,543},{189,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1340.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-15}</string>
                <key>spriteSize</key>
                <string>{163,118}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{163,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{191,124}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1076,1},{191,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{179,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1,669},{179,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{182,671},{199,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{191,146}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{566,531},{191,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{181,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{383,675},{181,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{165,132}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{528,255},{165,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{695,257},{163,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2340.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-9}</string>
                <key>spriteSize</key>
                <string>{111,130}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{333,123},{111,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2430.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{731,681},{199,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-9}</string>
                <key>spriteSize</key>
                <string>{155,130}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{446,123},{155,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-9}</string>
                <key>spriteSize</key>
                <string>{143,130}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{603,123},{143,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{163,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{566,679},{163,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{127,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{932,685},{127,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{171,144}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{393,529},{171,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{159,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1061,689},{159,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-8}</string>
                <key>spriteSize</key>
                <string>{175,132}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{860,259},{175,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3320.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-11}</string>
                <key>spriteSize</key>
                <string>{151,126}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1382,1},{151,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{179,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1222,693},{179,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3440.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{199,132}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1037,261},{199,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-14}</string>
                <key>spriteSize</key>
                <string>{167,120}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{166,1},{167,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-13}</string>
                <key>spriteSize</key>
                <string>{153,122}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{784,1},{153,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-10}</string>
                <key>spriteSize</key>
                <string>{107,128}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1535,1},{107,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-6}</string>
                <key>spriteSize</key>
                <string>{149,136}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1419,263},{149,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{173,140}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1405,401},{173,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{121,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{759,531},{121,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{195,136}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{158,389},{195,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{147,134}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{178,251},{147,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-6}</string>
                <key>spriteSize</key>
                <string>{155,136}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1,383},{155,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{199,130}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{748,125},{199,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{187,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1403,693},{187,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4330.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-13}</string>
                <key>spriteSize</key>
                <string>{135,122}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{939,1},{135,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4340.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-5}</string>
                <key>spriteSize</key>
                <string>{155,138}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{536,389},{155,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{193,140}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1,527},{193,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-7}</string>
                <key>spriteSize</key>
                <string>{179,134}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1238,261},{179,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{174,821},{199,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{195,142}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{196,527},{195,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{171,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1,819},{171,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{189,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{375,825},{189,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{151,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{566,829},{151,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{129,126}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1,121},{129,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{179,136}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{355,389},{179,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-14}</string>
                <key>spriteSize</key>
                <string>{169,120}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{335,1},{169,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-9}</string>
                <key>spriteSize</key>
                <string>{173,130}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{949,127},{173,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{111,132}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1124,127},{111,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{199,130}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1237,129},{199,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{177,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{719,831},{177,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-14}</string>
                <key>spriteSize</key>
                <string>{143,120}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{506,1},{143,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-9}</string>
                <key>spriteSize</key>
                <string>{165,130}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1438,131},{165,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{131,120}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{651,1},{131,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{167,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1047,839},{167,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-6}</string>
                <key>spriteSize</key>
                <string>{187,136}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{693,393},{187,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{199,126}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{132,123},{199,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5330.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{147,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{898,835},{147,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5340.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-9}</string>
                <key>spriteSize</key>
                <string>{175,130}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1,251},{175,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-4}</string>
                <key>spriteSize</key>
                <string>{147,140}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1256,397},{147,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{177,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1216,843},{177,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-6}</string>
                <key>spriteSize</key>
                <string>{177,136}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{882,395},{177,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{177,148}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1395,843},{177,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6330.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{193,136}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{1061,397},{193,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-1}</string>
                <key>spriteSize</key>
                <string>{159,146}</string>
                <key>spriteSourceSize</key>
                <string>{199,148}</string>
                <key>textureRect</key>
                <string>{{882,533},{159,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heroHead.png</string>
            <key>size</key>
            <string>{1643,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5430adca6ae1f6575eb4fbc1fb17a2d1:de92d5614e8967f72449045ed76f9300:16652703b142aece0102bef2a5be0e09$</string>
            <key>textureFileName</key>
            <string>heroHead.png</string>
        </dict>
    </dict>
</plist>
