<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dw_jjc01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{258,228}</string>
                <key>spriteSourceSize</key>
                <string>{352,228}</string>
                <key>textureRect</key>
                <string>{{673,231},{258,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dw_jjc02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{292,228}</string>
                <key>spriteSourceSize</key>
                <string>{352,228}</string>
                <key>textureRect</key>
                <string>{{703,1},{292,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dw_jjc03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{322,226}</string>
                <key>spriteSourceSize</key>
                <string>{352,228}</string>
                <key>textureRect</key>
                <string>{{349,231},{322,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dw_jjc04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{346,222}</string>
                <key>spriteSourceSize</key>
                <string>{352,228}</string>
                <key>textureRect</key>
                <string>{{1,231},{346,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dw_jjc05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{346,228}</string>
                <key>spriteSourceSize</key>
                <string>{352,228}</string>
                <key>textureRect</key>
                <string>{{355,1},{346,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dw_jjc06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,228}</string>
                <key>spriteSourceSize</key>
                <string>{352,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{352,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dws_jjc01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{70,52}</string>
                <key>textureRect</key>
                <string>{{311,459},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dws_jjc02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,44}</string>
                <key>spriteSourceSize</key>
                <string>{70,52}</string>
                <key>textureRect</key>
                <string>{{255,455},{54,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dws_jjc03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{58,44}</string>
                <key>spriteSourceSize</key>
                <string>{70,52}</string>
                <key>textureRect</key>
                <string>{{195,455},{58,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dws_jjc04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{62,44}</string>
                <key>spriteSourceSize</key>
                <string>{70,52}</string>
                <key>textureRect</key>
                <string>{{131,455},{62,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dws_jjc05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,52}</string>
                <key>textureRect</key>
                <string>{{67,455},{62,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dws_jjc06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,52}</string>
                <key>textureRect</key>
                <string>{{1,455},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sd_Rrukoutubiao_rk0001_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,90}</string>
                <key>textureRect</key>
                <string>{{933,231},{83,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sd_Rrukoutubiao_rk0002_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,90}</string>
                <key>textureRect</key>
                <string>{{933,323},{83,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sd_Rrukoutubiao_rk0006_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,90}</string>
                <key>textureRect</key>
                <string>{{933,415},{83,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jjc.png</string>
            <key>size</key>
            <string>{1017,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:663adea19e934cec8bd6068eb4aceb78:187c83f9dc8171064d5340305d087109:c6f3cb38e0540fc19aa17db3866ea483$</string>
            <key>textureFileName</key>
            <string>jjc.png</string>
        </dict>
    </dict>
</plist>
