<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,214}</string>
                <key>spriteSourceSize</key>
                <string>{188,214}</string>
                <key>textureRect</key>
                <string>{{203,1},{188,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,214}</string>
                <key>spriteSourceSize</key>
                <string>{188,214}</string>
                <key>textureRect</key>
                <string>{{1,167},{188,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,214}</string>
                <key>spriteSourceSize</key>
                <string>{188,214}</string>
                <key>textureRect</key>
                <string>{{393,1},{188,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,214}</string>
                <key>spriteSourceSize</key>
                <string>{188,214}</string>
                <key>textureRect</key>
                <string>{{583,1},{188,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,214}</string>
                <key>spriteSourceSize</key>
                <string>{188,214}</string>
                <key>textureRect</key>
                <string>{{773,1},{188,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,214}</string>
                <key>spriteSourceSize</key>
                <string>{188,214}</string>
                <key>textureRect</key>
                <string>{{191,217},{188,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,214}</string>
                <key>spriteSourceSize</key>
                <string>{188,214}</string>
                <key>textureRect</key>
                <string>{{381,217},{188,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,214}</string>
                <key>spriteSourceSize</key>
                <string>{188,214}</string>
                <key>textureRect</key>
                <string>{{571,217},{188,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,164}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{617,433},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{253,433},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{549,433},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{74,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{177,433},{74,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1016,369},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{405,433},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{329,433},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{479,433},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rk0001_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{963,1},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rk0002_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{963,93},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rk0003_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{963,185},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rk0004_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1,383},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rk0005_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,90}</string>
                <key>textureRect</key>
                <string>{{761,309},{83,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rk0006_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,90}</string>
                <key>textureRect</key>
                <string>{{937,277},{83,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rk0007_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,90}</string>
                <key>textureRect</key>
                <string>{{1022,277},{83,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rk0008_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,90}</string>
                <key>textureRect</key>
                <string>{{846,369},{83,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rk0009_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,90}</string>
                <key>textureRect</key>
                <string>{{761,401},{83,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rk0010_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,90}</string>
                <key>textureRect</key>
                <string>{{931,369},{83,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rk0011_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{89,383},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rk0012_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{761,217},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rk0013_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{849,277},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>league.png</string>
            <key>size</key>
            <string>{1106,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0283fd68e816a92741109d8eb345719:e60f77d8495f309fe501ba83ec90a66c:96d1ec34e0cafada38ec22bb0d70585c$</string>
            <key>textureFileName</key>
            <string>league.png</string>
        </dict>
    </dict>
</plist>
