<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zykt_planet01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,279}</string>
                <key>spriteSourceSize</key>
                <string>{245,279}</string>
                <key>textureRect</key>
                <string>{{1,669},{245,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_planet02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,284}</string>
                <key>spriteSourceSize</key>
                <string>{291,284}</string>
                <key>textureRect</key>
                <string>{{595,626},{291,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_planet03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,319}</string>
                <key>spriteSourceSize</key>
                <string>{293,319}</string>
                <key>textureRect</key>
                <string>{{300,341},{293,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_planet04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,286}</string>
                <key>spriteSourceSize</key>
                <string>{293,286}</string>
                <key>textureRect</key>
                <string>{{300,662},{293,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_planet05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,317}</string>
                <key>spriteSourceSize</key>
                <string>{281,317}</string>
                <key>textureRect</key>
                <string>{{594,1},{281,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_planet06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,304}</string>
                <key>spriteSourceSize</key>
                <string>{281,304}</string>
                <key>textureRect</key>
                <string>{{595,320},{281,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_planet07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,324}</string>
                <key>spriteSourceSize</key>
                <string>{282,324}</string>
                <key>textureRect</key>
                <string>{{310,1},{282,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_planet08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,338}</string>
                <key>spriteSourceSize</key>
                <string>{307,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{307,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_planet09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,326}</string>
                <key>spriteSourceSize</key>
                <string>{297,326}</string>
                <key>textureRect</key>
                <string>{{1,341},{297,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>leagueExplore.png</string>
            <key>size</key>
            <string>{887,949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e1b772d5677192b720d1b63bb9984bc:51616b4ceb35b8978d9f9dbb217ab327:01b8ecab97c0d17e1fe7ad7723af294c$</string>
            <key>textureFileName</key>
            <string>leagueExplore.png</string>
        </dict>
    </dict>
</plist>
