<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cube1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,73}</string>
                <key>spriteSourceSize</key>
                <string>{78,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,73}</string>
                <key>spriteSourceSize</key>
                <string>{78,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,73}</string>
                <key>spriteSourceSize</key>
                <string>{78,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,73}</string>
                <key>spriteSourceSize</key>
                <string>{78,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,73}</string>
                <key>spriteSourceSize</key>
                <string>{78,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,73}</string>
                <key>spriteSourceSize</key>
                <string>{78,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{81,38},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{111,38},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{141,38},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{171,38},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{201,38},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuanshi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{81,1},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuanshi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{111,1},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuanshi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{141,1},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuanshi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{171,1},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuanshi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{201,1},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>magicCube.png</string>
            <key>size</key>
            <string>{230,75}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7c230cd769ba1560da4039670fb777:7ebb6402e581b40e3857c7ee713f21a8:974acb40134971f0c6384f9cfac0796f$</string>
            <key>textureFileName</key>
            <string>magicCube.png</string>
        </dict>
    </dict>
</plist>
