<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Energy_crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,211}</string>
                <key>spriteSourceSize</key>
                <string>{234,211}</string>
                <key>textureRect</key>
                <string>{{1235,1594},{234,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goddess_sculpture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,434}</string>
                <key>spriteSourceSize</key>
                <string>{391,434}</string>
                <key>textureRect</key>
                <string>{{861,1},{391,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Recruiting_hall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{858,1085}</string>
                <key>spriteSourceSize</key>
                <string>{858,1085}</string>
                <key>textureRect</key>
                <string>{{1,1},{858,1085}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TP_building.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,111}</string>
                <key>spriteSourceSize</key>
                <string>{187,111}</string>
                <key>textureRect</key>
                <string>{{658,1794},{187,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building/Energy_crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,211}</string>
                <key>spriteSourceSize</key>
                <string>{234,211}</string>
                <key>textureRect</key>
                <string>{{1235,1594},{234,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building/Goddess_sculpture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,434}</string>
                <key>spriteSourceSize</key>
                <string>{391,434}</string>
                <key>textureRect</key>
                <string>{{861,1},{391,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building/Recruiting_hall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{858,1085}</string>
                <key>spriteSourceSize</key>
                <string>{858,1085}</string>
                <key>textureRect</key>
                <string>{{1,1},{858,1085}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building/TP_building.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,111}</string>
                <key>spriteSourceSize</key>
                <string>{187,111}</string>
                <key>textureRect</key>
                <string>{{658,1794},{187,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building/mist_unlocked_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,167}</string>
                <key>spriteSourceSize</key>
                <string>{164,167}</string>
                <key>textureRect</key>
                <string>{{1235,1807},{164,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building/mist_unlocked_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,167}</string>
                <key>spriteSourceSize</key>
                <string>{164,167}</string>
                <key>textureRect</key>
                <string>{{1401,1846},{164,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_build_2101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,351}</string>
                <key>spriteSourceSize</key>
                <string>{389,351}</string>
                <key>textureRect</key>
                <string>{{1254,1},{389,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_hero_2105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{255,276}</string>
                <key>spriteSourceSize</key>
                <string>{255,310}</string>
                <key>textureRect</key>
                <string>{{1263,994},{255,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_hero_2106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,30}</string>
                <key>spriteSize</key>
                <string>{171,250}</string>
                <key>spriteSourceSize</key>
                <string>{255,310}</string>
                <key>textureRect</key>
                <string>{{1471,1594},{171,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_hero_2107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,173}</string>
                <key>textureRect</key>
                <string>{{401,1794},{255,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_hero_2108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,310}</string>
                <key>spriteSourceSize</key>
                <string>{255,310}</string>
                <key>textureRect</key>
                <string>{{1263,682},{255,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mist_unlocked_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,167}</string>
                <key>spriteSourceSize</key>
                <string>{164,167}</string>
                <key>textureRect</key>
                <string>{{1235,1807},{164,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mist_unlocked_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,167}</string>
                <key>spriteSourceSize</key>
                <string>{164,167}</string>
                <key>textureRect</key>
                <string>{{1401,1846},{164,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_factory01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-42}</string>
                <key>spriteSize</key>
                <string>{386,306}</string>
                <key>spriteSourceSize</key>
                <string>{456,456}</string>
                <key>textureRect</key>
                <string>{{459,1486},{386,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_factory02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-41}</string>
                <key>spriteSize</key>
                <string>{386,306}</string>
                <key>spriteSourceSize</key>
                <string>{456,456}</string>
                <key>textureRect</key>
                <string>{{847,1587},{386,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_factory03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-34}</string>
                <key>spriteSize</key>
                <string>{386,320}</string>
                <key>spriteSourceSize</key>
                <string>{456,456}</string>
                <key>textureRect</key>
                <string>{{1261,1272},{386,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_factory04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-31}</string>
                <key>spriteSize</key>
                <string>{386,326}</string>
                <key>spriteSourceSize</key>
                <string>{456,456}</string>
                <key>textureRect</key>
                <string>{{1259,354},{386,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_factory05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{400,374}</string>
                <key>spriteSourceSize</key>
                <string>{456,456}</string>
                <key>textureRect</key>
                <string>{{861,835},{400,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_factory06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{398,374}</string>
                <key>spriteSourceSize</key>
                <string>{456,456}</string>
                <key>textureRect</key>
                <string>{{861,1211},{398,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_factory07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{398,398}</string>
                <key>spriteSourceSize</key>
                <string>{456,456}</string>
                <key>textureRect</key>
                <string>{{1,1546},{398,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_factory08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{396,396}</string>
                <key>spriteSourceSize</key>
                <string>{456,456}</string>
                <key>textureRect</key>
                <string>{{861,437},{396,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_factory09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{400,396}</string>
                <key>spriteSourceSize</key>
                <string>{456,456}</string>
                <key>textureRect</key>
                <string>{{459,1088},{400,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_mine01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,79}</string>
                <key>spriteSourceSize</key>
                <string>{116,79}</string>
                <key>textureRect</key>
                <string>{{1,1946},{116,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_mine02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,86}</string>
                <key>spriteSourceSize</key>
                <string>{116,86}</string>
                <key>textureRect</key>
                <string>{{1018,1895},{116,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_mine03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,91}</string>
                <key>spriteSourceSize</key>
                <string>{115,91}</string>
                <key>textureRect</key>
                <string>{{901,1895},{115,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_mine04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,99}</string>
                <key>spriteSourceSize</key>
                <string>{120,99}</string>
                <key>textureRect</key>
                <string>{{658,1907},{120,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_mine05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,110}</string>
                <key>spriteSourceSize</key>
                <string>{119,110}</string>
                <key>textureRect</key>
                <string>{{780,1907},{119,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_mine06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,116}</string>
                <key>textureRect</key>
                <string>{{1520,1104},{120,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_mine07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,122}</string>
                <key>textureRect</key>
                <string>{{1520,682},{128,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_mine08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,142}</string>
                <key>spriteSourceSize</key>
                <string>{127,142}</string>
                <key>textureRect</key>
                <string>{{1520,960},{127,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zykt_mine09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,152}</string>
                <key>spriteSourceSize</key>
                <string>{127,152}</string>
                <key>textureRect</key>
                <string>{{1520,806},{127,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>站位示意图.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,456}</string>
                <key>spriteSourceSize</key>
                <string>{456,456}</string>
                <key>textureRect</key>
                <string>{{1,1088},{456,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mapImage.png</string>
            <key>size</key>
            <string>{1649,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1b5a12dfe7c50352e86e79e2ce30318:86e8f3657f468d4f08e24d2bff014068:d99e9636fc2e408ba3f44d309bf7ce14$</string>
            <key>textureFileName</key>
            <string>mapImage.png</string>
        </dict>
    </dict>
</plist>
