<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>petcard_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{296,1},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petcard_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{296,167},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petcard_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{296,333},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petcard_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{296,499},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petcard_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{296,665},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petcard_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{122,164}</string>
                <key>textureRect</key>
                <string>{{296,831},{122,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pethead_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,98}</string>
                <key>spriteSourceSize</key>
                <string>{178,98}</string>
                <key>textureRect</key>
                <string>{{1,885},{178,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pethead_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,98}</string>
                <key>spriteSourceSize</key>
                <string>{178,98}</string>
                <key>textureRect</key>
                <string>{{1,985},{178,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pethead_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,98}</string>
                <key>spriteSourceSize</key>
                <string>{178,98}</string>
                <key>textureRect</key>
                <string>{{181,997},{178,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pethead_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,98}</string>
                <key>spriteSourceSize</key>
                <string>{178,98}</string>
                <key>textureRect</key>
                <string>{{1,1085},{178,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pethead_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,98}</string>
                <key>spriteSourceSize</key>
                <string>{178,98}</string>
                <key>textureRect</key>
                <string>{{181,1097},{178,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pethead_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,98}</string>
                <key>spriteSourceSize</key>
                <string>{178,98}</string>
                <key>textureRect</key>
                <string>{{1,1185},{178,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quality3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,56}</string>
                <key>spriteSourceSize</key>
                <string>{172,56}</string>
                <key>textureRect</key>
                <string>{{181,1197},{172,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quality4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,56}</string>
                <key>spriteSourceSize</key>
                <string>{172,56}</string>
                <key>textureRect</key>
                <string>{{181,1255},{172,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quality5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,56}</string>
                <key>spriteSourceSize</key>
                <string>{172,56}</string>
                <key>textureRect</key>
                <string>{{1,1285},{172,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quality6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,56}</string>
                <key>spriteSourceSize</key>
                <string>{172,56}</string>
                <key>textureRect</key>
                <string>{{175,1313},{172,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qualityBG3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,219}</string>
                <key>spriteSourceSize</key>
                <string>{293,219}</string>
                <key>textureRect</key>
                <string>{{1,1},{293,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qualityBG4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,219}</string>
                <key>spriteSourceSize</key>
                <string>{293,219}</string>
                <key>textureRect</key>
                <string>{{1,222},{293,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qualityBG5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,219}</string>
                <key>spriteSourceSize</key>
                <string>{293,219}</string>
                <key>textureRect</key>
                <string>{{1,443},{293,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qualityBG6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,219}</string>
                <key>spriteSourceSize</key>
                <string>{293,219}</string>
                <key>textureRect</key>
                <string>{{1,664},{293,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>petQuality.png</string>
            <key>size</key>
            <string>{419,1370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c544612d77c010c6a46a36d9d414f912:2d43d48a0dc6171fd82402340cf0fc82:638cc9949bc2f7a0bf6db352c7a42bf1$</string>
            <key>textureFileName</key>
            <string>petQuality.png</string>
        </dict>
    </dict>
</plist>
