<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cwlx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{1,107},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cylf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{95,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gjgq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{95,107},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{189,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jjc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{189,107},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{283,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{283,107},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{377,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rcrw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{377,107},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{471,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scpfb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{471,107},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{565,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swmj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{565,107},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{659,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldboss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{659,107},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xjgc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{753,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{753,107},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxhj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{847,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{847,107},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zdkj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{941,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{941,107},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{1035,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>preview.png</string>
            <key>size</key>
            <string>{1128,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e026e6eb50c962d5c7bfdf50be3c551:742f2bea13847ff8ad83097b647dfe46:c548c35ff5e3dedda2b69c93653e6061$</string>
            <key>textureFileName</key>
            <string>preview.png</string>
        </dict>
    </dict>
</plist>
