<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{665,901},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{872,465},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizuo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,54}</string>
                <key>spriteSourceSize</key>
                <string>{120,54}</string>
                <key>textureRect</key>
                <string>{{1,1140},{120,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizuo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,54}</string>
                <key>spriteSourceSize</key>
                <string>{120,54}</string>
                <key>textureRect</key>
                <string>{{616,1120},{120,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizuo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,54}</string>
                <key>spriteSourceSize</key>
                <string>{120,54}</string>
                <key>textureRect</key>
                <string>{{738,1113},{120,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizuo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,54}</string>
                <key>spriteSourceSize</key>
                <string>{120,54}</string>
                <key>textureRect</key>
                <string>{{860,1113},{120,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizuo5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,54}</string>
                <key>spriteSourceSize</key>
                <string>{120,54}</string>
                <key>textureRect</key>
                <string>{{801,783},{120,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizuo6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,54}</string>
                <key>spriteSourceSize</key>
                <string>{120,54}</string>
                <key>textureRect</key>
                <string>{{801,839},{120,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizuo7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,54}</string>
                <key>spriteSourceSize</key>
                <string>{120,54}</string>
                <key>textureRect</key>
                <string>{{877,895},{120,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizuo8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,54}</string>
                <key>spriteSourceSize</key>
                <string>{120,54}</string>
                <key>textureRect</key>
                <string>{{877,951},{120,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gray_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{872,571},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{872,677},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hc_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{616,1014},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_skin_quality3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,505}</string>
                <key>spriteSourceSize</key>
                <string>{330,505}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_skin_quality4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,505}</string>
                <key>spriteSourceSize</key>
                <string>{330,505}</string>
                <key>textureRect</key>
                <string>{{1,508},{330,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_skin_quality5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,505}</string>
                <key>spriteSourceSize</key>
                <string>{330,505}</string>
                <key>textureRect</key>
                <string>{{333,1},{330,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_skin_quality6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,504}</string>
                <key>spriteSourceSize</key>
                <string>{330,504}</string>
                <key>textureRect</key>
                <string>{{333,508},{330,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapai2_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1,1015},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapai3_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{665,1},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapai4_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{665,126},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapai5_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{665,251},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapai6_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{665,376},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapai7_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{665,501},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapai8_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{665,626},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{722,1007},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{771,901},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{665,751},{134,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{208,1015},{134,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{344,1014},{134,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{480,1014},{134,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{872,1},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{872,117},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{872,233},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{872,349},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{828,1007},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quality.png</string>
            <key>size</key>
            <string>{998,1195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faad194cfd57de34f5355b72ba4891c0:eb46533d7df71683abc18dbc9137312b:ac919ecfec5e80c250128d2be84879ca$</string>
            <key>textureFileName</key>
            <string>quality.png</string>
        </dict>
    </dict>
</plist>
