<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>04.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,493}</string>
                <key>spriteSourceSize</key>
                <string>{750,493}</string>
                <key>textureRect</key>
                <string>{{1,1079},{750,493}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>djhg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,493}</string>
                <key>spriteSourceSize</key>
                <string>{750,493}</string>
                <key>textureRect</key>
                <string>{{753,1},{750,493}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>djsd.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,493}</string>
                <key>spriteSourceSize</key>
                <string>{750,493}</string>
                <key>textureRect</key>
                <string>{{753,496},{750,493}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hs.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,493}</string>
                <key>spriteSourceSize</key>
                <string>{750,493}</string>
                <key>textureRect</key>
                <string>{{753,991},{750,493}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kfcb_beijing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,537}</string>
                <key>spriteSourceSize</key>
                <string>{750,537}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kfcb_beijing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,537}</string>
                <key>spriteSourceSize</key>
                <string>{750,537}</string>
                <key>textureRect</key>
                <string>{{1,540},{750,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianwangzhaomu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,43}</string>
                <key>spriteSourceSize</key>
                <string>{240,43}</string>
                <key>textureRect</key>
                <string>{{1,1574},{240,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianwangzhaomu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,43}</string>
                <key>spriteSourceSize</key>
                <string>{240,43}</string>
                <key>textureRect</key>
                <string>{{243,1574},{240,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zm.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,493}</string>
                <key>spriteSourceSize</key>
                <string>{750,493}</string>
                <key>textureRect</key>
                <string>{{753,1486},{750,493}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>reachStandard.png</string>
            <key>size</key>
            <string>{1504,1980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b58b630e9c5f4375d394ad81d14eb9ea:03de56cfedf8e5f106a348f8628cd679:8cc437e56ea4753672748161a3beff20$</string>
            <key>textureFileName</key>
            <string>reachStandard.png</string>
        </dict>
    </dict>
</plist>
