<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>season0_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{633,1},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season0_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{633,99},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season0_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{633,197},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season0_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{633,295},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season1_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{633,393},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season1_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{633,491},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season1_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{633,589},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season1_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{633,687},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season3_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{633,785},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season3_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{633,883},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season4_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{1,913},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season4_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{89,913},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season4_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{177,913},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>season4_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{265,913},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sjkj_rk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,226}</string>
                <key>spriteSourceSize</key>
                <string>{630,226}</string>
                <key>textureRect</key>
                <string>{{1,1},{630,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sjkj_rk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,226}</string>
                <key>spriteSourceSize</key>
                <string>{630,226}</string>
                <key>textureRect</key>
                <string>{{1,229},{630,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sjkj_rk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,226}</string>
                <key>spriteSourceSize</key>
                <string>{630,226}</string>
                <key>textureRect</key>
                <string>{{1,457},{630,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sjkj_rk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,226}</string>
                <key>spriteSourceSize</key>
                <string>{630,226}</string>
                <key>textureRect</key>
                <string>{{1,685},{630,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>season.png</string>
            <key>size</key>
            <string>{720,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd0951dac0c85c7bf31b49433ed289d3:65de25997f1b1d46c9b32ef7bf9eda0b:200276e91b3ea727f3a0a2a309d8924d$</string>
            <key>textureFileName</key>
            <string>season.png</string>
        </dict>
    </dict>
</plist>
