<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0000_zjm_317.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0001_zjm_318.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{91,1},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0002_zjm_319.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{181,1},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0003_zjm_320.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{271,1},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0004_zjm_321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{361,1},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0005_zjm_317a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{451,1},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0006_zjm_318a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{541,1},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0007_zjm_319a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{631,1},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0008_zjm_320a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{721,1},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0009_zjm_321a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{811,1},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0010_zjm_322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{901,1},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0011_zjm_322a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{991,1},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0012_zjm_323.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{1081,1},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0012_zjm_323a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{1169,1},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cysd1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{1257,1},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cysd2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{1345,1},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scpsd1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{1433,1},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scpsd2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{1521,1},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{1608,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dda81ab11334968ee5d1599f2c0a4f1e:a96e58e509d94cff2e46563c2999ac3c:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
