<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diqitian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,161}</string>
                <key>spriteSourceSize</key>
                <string>{288,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sign.png</string>
            <key>size</key>
            <string>{290,163}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0137d3ac334a19cab113118d02ebc94c:532c814b463ea897b72d8723d51bd2ef:38d604299945f777ad2a2799fdf85711$</string>
            <key>textureFileName</key>
            <string>sign.png</string>
        </dict>
    </dict>
</plist>
