<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{711,1},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{805,1},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangyubaifenbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{116,118}</string>
                <key>spriteSourceSize</key>
                <string>{136,154}</string>
                <key>textureRect</key>
                <string>{{121,1},{116,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gedang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{899,1},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{711,101},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongjibaifenbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{136,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{805,101},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinengshanghaizengjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{899,101},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kangbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{1,121},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lengquesuojian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{95,121},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liangrenjiban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{116,118}</string>
                <key>spriteSourceSize</key>
                <string>{136,154}</string>
                <key>textureRect</key>
                <string>{{239,1},{116,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pojia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{189,121},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pojiadikang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{283,121},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pugongshanghaizengjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{377,121},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanrenjiban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{116,118}</string>
                <key>spriteSourceSize</key>
                <string>{136,154}</string>
                <key>textureRect</key>
                <string>{{357,1},{116,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{471,121},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengmingbaifenbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{116,118}</string>
                <key>spriteSourceSize</key>
                <string>{136,154}</string>
                <key>textureRect</key>
                <string>{{475,1},{116,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{565,121},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sirenjiban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{116,118}</string>
                <key>spriteSourceSize</key>
                <string>{136,154}</string>
                <key>textureRect</key>
                <string>{{593,1},{116,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talent.png</string>
            <key>size</key>
            <string>{992,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e613125f20da34c28a5ba913a4d47a53:9ccf68a4c4d646e702b437791b405179:d24131d24c72cca618ef0f830509d434$</string>
            <key>textureFileName</key>
            <string>talent.png</string>
        </dict>
    </dict>
</plist>
