<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,173}</string>
                <key>spriteSourceSize</key>
                <string>{572,173}</string>
                <key>textureRect</key>
                <string>{{1,1},{572,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,173}</string>
                <key>spriteSourceSize</key>
                <string>{572,173}</string>
                <key>textureRect</key>
                <string>{{1,176},{572,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dacheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{638,283},{33,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dangqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{61,64}</string>
                <key>textureRect</key>
                <string>{{575,283},{61,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duobianxing2kaobei5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{660,1},{33,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanliduiwu_99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,92}</string>
                <key>spriteSourceSize</key>
                <string>{83,92}</string>
                <key>textureRect</key>
                <string>{{575,1},{83,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuichuduiwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,92}</string>
                <key>spriteSourceSize</key>
                <string>{83,92}</string>
                <key>textureRect</key>
                <string>{{575,95},{83,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuduidating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,92}</string>
                <key>spriteSourceSize</key>
                <string>{83,92}</string>
                <key>textureRect</key>
                <string>{{575,189},{83,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>teamChallenge.png</string>
            <key>size</key>
            <string>{694,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c19f025d873bacce04e5cf6a098b4025:bf7f0f4bff1cb9f5afbea4239f330e75:bcdbef720e3d65d48c5886aeaca44cee$</string>
            <key>textureFileName</key>
            <string>teamChallenge.png</string>
        </dict>
    </dict>
</plist>
