<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4001.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4002.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{434,1},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4003.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{867,1},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4004.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1300,1},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4005.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1,129},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4006.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{434,129},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4007.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{867,129},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4008.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1300,129},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4009.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1,257},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4010.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{434,257},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5001.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{867,257},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5002.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1300,257},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5003.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1,385},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5004.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{434,385},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5005.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{867,385},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5006.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1300,385},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5007.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1,513},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5008.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{434,513},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5009.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{867,513},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5010.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1300,513},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5011.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1,641},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6001.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{434,641},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6002.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{867,641},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6003.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1300,641},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6004.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1,769},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6005.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{434,769},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6006.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{867,769},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6007.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1300,769},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6008.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1,897},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6009.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{434,897},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6010.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{867,897},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6011.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1300,897},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6012.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1,1025},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6013.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{434,1025},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6014.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{867,1025},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6015.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1300,1025},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7001.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1,1153},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7002.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{434,1153},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7003.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{867,1153},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7004.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1300,1153},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7005.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1,1281},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7006.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{434,1281},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7007.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{867,1281},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7008.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1300,1281},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7009.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1,1409},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7010.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{434,1409},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7011.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{867,1409},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7012.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1300,1409},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7013.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{1,1537},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,126}</string>
                <key>spriteSourceSize</key>
                <string>{431,126}</string>
                <key>textureRect</key>
                <string>{{434,1537},{431,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>teleportlistscene.png</string>
            <key>size</key>
            <string>{1732,1664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebf1de27a6294752184f9f049b7f9a9d:90dee23f30cf569c2a9575f3233c2a07:3cf75eafbe574d113145627012eb0ba6$</string>
            <key>textureFileName</key>
            <string>teleportlistscene.png</string>
        </dict>
    </dict>
</plist>
