<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailyboss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{264,88}</string>
                <key>spriteSourceSize</key>
                <string>{280,120}</string>
                <key>textureRect</key>
                <string>{{553,1},{264,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailyboss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{260,102}</string>
                <key>spriteSourceSize</key>
                <string>{280,120}</string>
                <key>textureRect</key>
                <string>{{1,117},{260,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailyboss3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{254,74}</string>
                <key>spriteSourceSize</key>
                <string>{280,120}</string>
                <key>textureRect</key>
                <string>{{1053,179},{254,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lc5888.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{254,94}</string>
                <key>spriteSourceSize</key>
                <string>{280,120}</string>
                <key>textureRect</key>
                <string>{{797,91},{254,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,53}</string>
                <key>spriteSourceSize</key>
                <string>{152,53}</string>
                <key>textureRect</key>
                <string>{{535,187},{152,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linshichenghao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,49}</string>
                <key>spriteSourceSize</key>
                <string>{143,49}</string>
                <key>textureRect</key>
                <string>{{689,187},{143,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>llinshichenghao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,39}</string>
                <key>spriteSourceSize</key>
                <string>{114,39}</string>
                <key>textureRect</key>
                <string>{{834,187},{114,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mjcb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{260,92}</string>
                <key>spriteSourceSize</key>
                <string>{280,120}</string>
                <key>textureRect</key>
                <string>{{535,93},{260,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mjcb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{256,92}</string>
                <key>spriteSourceSize</key>
                <string>{280,120}</string>
                <key>textureRect</key>
                <string>{{1053,85},{256,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mjcb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{246,80}</string>
                <key>spriteSourceSize</key>
                <string>{280,120}</string>
                <key>textureRect</key>
                <string>{{1311,85},{246,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{256,82}</string>
                <key>spriteSourceSize</key>
                <string>{280,100}</string>
                <key>textureRect</key>
                <string>{{1089,1},{256,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{270,96}</string>
                <key>spriteSourceSize</key>
                <string>{280,120}</string>
                <key>textureRect</key>
                <string>{{263,117},{270,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldboss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{278,114}</string>
                <key>spriteSourceSize</key>
                <string>{280,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{278,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zmcb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{270,90}</string>
                <key>spriteSourceSize</key>
                <string>{280,120}</string>
                <key>textureRect</key>
                <string>{{281,1},{270,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zmcb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{268,82}</string>
                <key>spriteSourceSize</key>
                <string>{280,120}</string>
                <key>textureRect</key>
                <string>{{819,1},{268,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zmcb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{250,78}</string>
                <key>spriteSourceSize</key>
                <string>{280,120}</string>
                <key>textureRect</key>
                <string>{{1311,167},{250,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{1562,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3bb15d9997e348ecbb52c46fd73518b:be493bf4de4ebbf4d4d87bcd7ff9dfd2:eac3319ae54fe6d043150c971d4e6759$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
