<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chonghou_death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{602,444}</string>
                <key>spriteSourceSize</key>
                <string>{604,444}</string>
                <key>textureRect</key>
                <string>{{1,1},{602,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chonghou_live.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{602,444}</string>
                <key>spriteSourceSize</key>
                <string>{604,444}</string>
                <key>textureRect</key>
                <string>{{605,1},{602,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>worldboss.png</string>
            <key>size</key>
            <string>{1208,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6a0731047be0b3a686a8f521855a5f5:9905fa8f08beed9e5a32c1cfe8731aff:5cd1bd4c5310648d548a6cc5d5b88d51$</string>
            <key>textureFileName</key>
            <string>worldboss.png</string>
        </dict>
    </dict>
</plist>
