<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qinsehuoyan_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{184,86}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{187,551},{184,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{184,86}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{187,551},{184,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{184,92}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{1,355},{184,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{184,92}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{187,365},{184,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{184,92}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{187,365},{184,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{1,259},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{186,94}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{191,89},{186,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{186,94}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{191,89},{186,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{187,269},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{187,269},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{184,92}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{1,449},{184,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{184,92}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{1,449},{184,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{182,88}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{185,639},{182,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{182,88}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{185,639},{182,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{184,88}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{1,543},{184,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,90}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{187,459},{184,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,90}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{187,459},{184,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{182,90}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{1,633},{182,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{182,90}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{1,633},{182,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{186,82}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{189,185},{186,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{186,82}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{189,185},{186,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{188,86}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{188,86}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{186,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{1,173},{186,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{186,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{1,173},{186,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{188,82}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{1,89},{188,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{188,82}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{1,89},{188,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{188,86}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{191,1},{188,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qinsehuoyan_idle_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{188,86}</string>
                <key>spriteSourceSize</key>
                <string>{190,94}</string>
                <key>textureRect</key>
                <string>{{191,1},{188,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qinsehuoyan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72de1f8d81b3d72cb88280eac71afa43:10650f128687985537ed90dc048d0e71:97e2fe2ee60e382466a4ea5e388aea2b$</string>
            <key>textureFileName</key>
            <string>qinsehuoyan.png</string>
        </dict>
    </dict>
</plist>
