<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_bajiaoyuan-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{85,69}</string>
                <key>spriteSourceSize</key>
                <string>{107,87}</string>
                <key>textureRect</key>
                <string>{{181,206},{85,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-7}</string>
                <key>spriteSize</key>
                <string>{87,61}</string>
                <key>spriteSourceSize</key>
                <string>{107,87}</string>
                <key>textureRect</key>
                <string>{{296,133},{87,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{85,65}</string>
                <key>spriteSourceSize</key>
                <string>{107,87}</string>
                <key>textureRect</key>
                <string>{{89,210},{85,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,3}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{107,87}</string>
                <key>textureRect</key>
                <string>{{417,557},{77,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{107,69}</string>
                <key>spriteSourceSize</key>
                <string>{107,87}</string>
                <key>textureRect</key>
                <string>{{1,1},{107,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{105,63}</string>
                <key>spriteSourceSize</key>
                <string>{107,87}</string>
                <key>textureRect</key>
                <string>{{110,1},{105,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{97,65}</string>
                <key>spriteSourceSize</key>
                <string>{107,87}</string>
                <key>textureRect</key>
                <string>{{217,1},{97,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{85,75}</string>
                <key>spriteSourceSize</key>
                <string>{107,87}</string>
                <key>textureRect</key>
                <string>{{385,195},{85,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{85,73}</string>
                <key>spriteSourceSize</key>
                <string>{107,87}</string>
                <key>textureRect</key>
                <string>{{294,196},{85,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{335,485},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{251,556},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{426,483},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{86,70}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{206,134},{86,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{88,66}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{406,1},{88,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{406,69},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{206,68},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{88,68}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{316,1},{88,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{86,68}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{93,140},{86,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{268,271},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{82,68}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{85,417},{82,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{167,561},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-6}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{1,417},{82,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{1,260},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{94,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{110,66},{94,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{92,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{1,72},{92,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{1,198},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{86,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{385,135},{86,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{88,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{296,71},{88,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-15}</string>
                <key>spriteSize</key>
                <string>{90,62}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{1,134},{90,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{427,345},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{427,414},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{1,348},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{87,277},{83,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,71}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{354,272},{83,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{81,71}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{169,417},{81,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{81,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{168,490},{81,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{81,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{84,560},{81,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{81,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{1,562},{81,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{86,348},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{171,348},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{256,414},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{172,277},{83,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,71}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{354,272},{83,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{81,71}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{85,487},{81,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{81,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{168,490},{81,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{81,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{84,560},{81,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{81,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{1,562},{81,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{257,343},{83,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{341,416},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{342,345},{83,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{81,71}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{1,489},{81,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bajiaoyuan-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{81,71}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{252,483},{81,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_bajiaoyuan_binhan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cb5fb486ccba34a18f05f79f20d02af:12b00c5dd313621eb6a0b17fc9ab6216:ac9abd22ae47c4256e4c72bb302b7e5a$</string>
            <key>textureFileName</key>
            <string>gw_bajiaoyuan_binhan.png</string>
        </dict>
    </dict>
</plist>
