<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_biandawei-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-4}</string>
                <key>spriteSize</key>
                <string>{79,106}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{385,561},{79,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-16}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{310,419},{95,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{87,108}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{257,181},{87,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,13}</string>
                <key>spriteSize</key>
                <string>{73,126}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{1,889},{73,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,24}</string>
                <key>spriteSize</key>
                <string>{89,112}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{1,565},{89,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,13}</string>
                <key>spriteSize</key>
                <string>{103,106}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{346,199},{103,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-28}</string>
                <key>spriteSize</key>
                <string>{201,132}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-11}</string>
                <key>spriteSize</key>
                <string>{147,104}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{361,1},{147,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-5}</string>
                <key>spriteSize</key>
                <string>{139,102}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{1,135},{139,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,3}</string>
                <key>spriteSize</key>
                <string>{113,98}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{1,239},{113,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,8}</string>
                <key>spriteSize</key>
                <string>{101,94}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{775,225},{101,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,4}</string>
                <key>spriteSize</key>
                <string>{93,96}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{104,511},{93,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-2}</string>
                <key>spriteSize</key>
                <string>{79,102}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{302,615},{79,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-7}</string>
                <key>spriteSize</key>
                <string>{99,108}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{546,343},{99,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-7}</string>
                <key>spriteSize</key>
                <string>{99,108}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{647,417},{99,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-7}</string>
                <key>spriteSize</key>
                <string>{97,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{546,453},{97,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-8}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{657,305},{99,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-10}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{878,225},{99,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-12}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{758,321},{99,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-13}</string>
                <key>spriteSize</key>
                <string>{101,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{569,119},{101,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-15}</string>
                <key>spriteSize</key>
                <string>{101,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{672,193},{101,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-15}</string>
                <key>spriteSize</key>
                <string>{101,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{451,231},{101,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-15}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{859,337},{99,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-14}</string>
                <key>spriteSize</key>
                <string>{101,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{342,307},{101,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-14}</string>
                <key>spriteSize</key>
                <string>{101,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{554,231},{101,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-12}</string>
                <key>spriteSize</key>
                <string>{101,112}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{1,339},{101,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-11}</string>
                <key>spriteSize</key>
                <string>{101,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{104,399},{101,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-9}</string>
                <key>spriteSize</key>
                <string>{101,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{1,453},{101,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-ctrl_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-7}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{445,343},{99,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-4}</string>
                <key>spriteSize</key>
                <string>{79,106}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{385,561},{79,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-5}</string>
                <key>spriteSize</key>
                <string>{77,132}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{466,561},{77,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,22}</string>
                <key>spriteSize</key>
                <string>{93,122}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{207,505},{93,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,33}</string>
                <key>spriteSize</key>
                <string>{107,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{738,81},{107,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,43}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{847,119},{107,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,44}</string>
                <key>spriteSize</key>
                <string>{115,90}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{347,107},{115,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,27}</string>
                <key>spriteSize</key>
                <string>{97,82}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{748,433},{97,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,1}</string>
                <key>spriteSize</key>
                <string>{109,78}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{738,1},{109,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-35}</string>
                <key>spriteSize</key>
                <string>{141,86}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{204,93},{141,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-44}</string>
                <key>spriteSize</key>
                <string>{155,90}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{204,1},{155,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-4}</string>
                <key>spriteSize</key>
                <string>{79,102}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{383,669},{79,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-5}</string>
                <key>spriteSize</key>
                <string>{79,100}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{177,629},{79,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-7}</string>
                <key>spriteSize</key>
                <string>{79,100}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{84,717},{79,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{79,100}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{1,787},{79,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-13}</string>
                <key>spriteSize</key>
                <string>{81,104}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{407,455},{81,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-15}</string>
                <key>spriteSize</key>
                <string>{81,104}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{302,509},{81,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-14}</string>
                <key>spriteSize</key>
                <string>{83,106}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{257,291},{83,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-10}</string>
                <key>spriteSize</key>
                <string>{83,106}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{92,609},{83,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-6}</string>
                <key>spriteSize</key>
                <string>{81,106}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{1,679},{81,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-7}</string>
                <key>spriteSize</key>
                <string>{107,116}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{849,1},{107,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-6}</string>
                <key>spriteSize</key>
                <string>{103,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{464,119},{103,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-7}</string>
                <key>spriteSize</key>
                <string>{101,104}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{207,399},{101,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-11}</string>
                <key>spriteSize</key>
                <string>{103,104}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{116,293},{103,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-14}</string>
                <key>spriteSize</key>
                <string>{113,110}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{142,181},{113,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-12}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{510,1},{115,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_biandawei-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-8}</string>
                <key>spriteSize</key>
                <string>{109,116}</string>
                <key>spriteSourceSize</key>
                <string>{233,190}</string>
                <key>textureRect</key>
                <string>{{627,1},{109,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_biandawei.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dfa50984787a21ba23b7a58b4c29622:7f5e4bd91c04ffb97beeb488e44dc33a:1bd5124f92257aafb11adc6fdf86097e$</string>
            <key>textureFileName</key>
            <string>gw_biandawei.png</string>
        </dict>
    </dict>
</plist>
