<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_bianyifeiyu-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,13}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{175,157},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,14}</string>
                <key>spriteSize</key>
                <string>{83,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{349,535},{83,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,16}</string>
                <key>spriteSize</key>
                <string>{83,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{1,465},{83,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,16}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{282,1},{87,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,11}</string>
                <key>spriteSize</key>
                <string>{91,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{96,1},{91,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,11}</string>
                <key>spriteSize</key>
                <string>{93,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,19}</string>
                <key>spriteSize</key>
                <string>{91,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{189,1},{91,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,32}</string>
                <key>spriteSize</key>
                <string>{83,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{1,545},{83,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,23}</string>
                <key>spriteSize</key>
                <string>{85,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{349,311},{85,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,15}</string>
                <key>spriteSize</key>
                <string>{83,76}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{171,537},{83,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,13}</string>
                <key>spriteSize</key>
                <string>{85,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{371,73},{85,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{85,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{1,77},{85,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,5}</string>
                <key>spriteSize</key>
                <string>{83,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{86,465},{83,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{85,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{88,77},{85,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{83,76}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{256,539},{83,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{262,161},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{83,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{86,545},{83,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,13}</string>
                <key>spriteSize</key>
                <string>{85,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{1,237},{85,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,14}</string>
                <key>spriteSize</key>
                <string>{85,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{88,237},{85,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{175,235},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{83,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{171,615},{83,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,17}</string>
                <key>spriteSize</key>
                <string>{85,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{175,77},{85,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,25}</string>
                <key>spriteSize</key>
                <string>{85,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{262,81},{85,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-15}</string>
                <key>spriteSize</key>
                <string>{83,68}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{86,621},{83,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-31}</string>
                <key>spriteSize</key>
                <string>{83,70}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{1,621},{83,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-33}</string>
                <key>spriteSize</key>
                <string>{87,70}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{371,1},{87,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,13}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{349,233},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{85,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{349,153},{85,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{85,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{1,157},{85,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{85,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{88,157},{85,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{85,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{1,313},{85,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{85,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{88,313},{85,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{85,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{175,313},{85,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,14}</string>
                <key>spriteSize</key>
                <string>{85,72}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{175,389},{85,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{85,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{262,317},{85,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,14}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{262,239},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{85,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{349,387},{85,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{85,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{1,389},{85,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{85,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{88,389},{85,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{85,72}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{262,393},{85,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{85,72}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{175,463},{85,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{85,70}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{349,463},{85,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bianyifeiyu-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{85,70}</string>
                <key>spriteSourceSize</key>
                <string>{155,138}</string>
                <key>textureRect</key>
                <string>{{262,467},{85,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_bianyifeiyu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfd76a332a1c25ad652d679b8bacb49b:3b938e98d3eb6b08b3fa1c7d201fb241:4566630b6ca007a48277fd21f40464ff$</string>
            <key>textureFileName</key>
            <string>gw_bianyifeiyu.png</string>
        </dict>
    </dict>
</plist>
