<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_chongqiwuzei-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-22}</string>
                <key>spriteSize</key>
                <string>{86,97}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{517,204},{86,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-28}</string>
                <key>spriteSize</key>
                <string>{86,97}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{583,1},{86,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-25}</string>
                <key>spriteSize</key>
                <string>{114,115}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,33}</string>
                <key>spriteSize</key>
                <string>{88,137}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{1,118},{88,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-104,-32}</string>
                <key>spriteSize</key>
                <string>{126,89}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{1,342},{126,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-6}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{129,342},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{98,105}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{143,227},{98,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-24}</string>
                <key>spriteSize</key>
                <string>{106,107}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{91,118},{106,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-27}</string>
                <key>spriteSize</key>
                <string>{86,81}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{937,189},{86,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-35}</string>
                <key>spriteSize</key>
                <string>{80,101}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{605,300},{80,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-33}</string>
                <key>spriteSize</key>
                <string>{78,111}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{525,303},{78,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-26}</string>
                <key>spriteSize</key>
                <string>{86,105}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{339,210},{86,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-20}</string>
                <key>spriteSize</key>
                <string>{78,93}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{847,96},{78,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-22}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{859,191},{76,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-24}</string>
                <key>spriteSize</key>
                <string>{74,97}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{927,90},{74,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-26}</string>
                <key>spriteSize</key>
                <string>{74,103}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{771,294},{74,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-28}</string>
                <key>spriteSize</key>
                <string>{74,105}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{773,399},{74,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-30}</string>
                <key>spriteSize</key>
                <string>{74,105}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{759,1},{74,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-33}</string>
                <key>spriteSize</key>
                <string>{70,105}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{849,397},{70,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-32}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{847,290},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-31}</string>
                <key>spriteSize</key>
                <string>{78,101}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{693,399},{78,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-29}</string>
                <key>spriteSize</key>
                <string>{82,99}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{675,98},{82,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-25}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{687,300},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-21}</string>
                <key>spriteSize</key>
                <string>{82,91}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{775,197},{82,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-22}</string>
                <key>spriteSize</key>
                <string>{86,97}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{587,100},{86,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-42}</string>
                <key>spriteSize</key>
                <string>{126,79}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{149,429},{126,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-15}</string>
                <key>spriteSize</key>
                <string>{106,87}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{295,70},{106,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{425,418},{90,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,2}</string>
                <key>spriteSize</key>
                <string>{86,87}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{759,108},{86,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,2}</string>
                <key>spriteSize</key>
                <string>{88,95}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{517,416},{88,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,5}</string>
                <key>spriteSize</key>
                <string>{114,99}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{117,1},{114,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,-11}</string>
                <key>spriteSize</key>
                <string>{140,83}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{1,257},{140,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,-54}</string>
                <key>spriteSize</key>
                <string>{146,71}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{1,433},{146,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,-43}</string>
                <key>spriteSize</key>
                <string>{144,67}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{233,1},{144,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,-67}</string>
                <key>spriteSize</key>
                <string>{144,49}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{379,1},{144,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-75}</string>
                <key>spriteSize</key>
                <string>{142,47}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{443,155},{142,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,-75}</string>
                <key>spriteSize</key>
                <string>{146,49}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{277,427},{146,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-76}</string>
                <key>spriteSize</key>
                <string>{146,49}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{295,159},{146,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-22}</string>
                <key>spriteSize</key>
                <string>{86,97}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{517,204},{86,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-25}</string>
                <key>spriteSize</key>
                <string>{86,99}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{495,52},{86,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-28}</string>
                <key>spriteSize</key>
                <string>{90,101}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{403,52},{90,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-30}</string>
                <key>spriteSize</key>
                <string>{88,99}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{349,317},{88,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-28}</string>
                <key>spriteSize</key>
                <string>{86,95}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{671,1},{86,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-25}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{919,1},{82,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-23}</string>
                <key>spriteSize</key>
                <string>{80,85}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{921,379},{80,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-22}</string>
                <key>spriteSize</key>
                <string>{80,89}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{921,288},{80,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-21}</string>
                <key>spriteSize</key>
                <string>{82,93}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{691,199},{82,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-21}</string>
                <key>spriteSize</key>
                <string>{84,95}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{607,403},{84,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-27}</string>
                <key>spriteSize</key>
                <string>{94,107}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{199,102},{94,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-30}</string>
                <key>spriteSize</key>
                <string>{90,107}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{257,318},{90,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-32}</string>
                <key>spriteSize</key>
                <string>{84,103}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{439,311},{84,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-31}</string>
                <key>spriteSize</key>
                <string>{84,99}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{605,199},{84,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-27}</string>
                <key>spriteSize</key>
                <string>{82,93}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{835,1},{82,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-26}</string>
                <key>spriteSize</key>
                <string>{88,99}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{427,210},{88,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwuzei-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-25}</string>
                <key>spriteSize</key>
                <string>{94,105}</string>
                <key>spriteSourceSize</key>
                <string>{334,203}</string>
                <key>textureRect</key>
                <string>{{243,211},{94,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_chongqiwuzei.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9118f2b4dcae9c0d7c87f10d0d5dcd18:76a54aa788e49cd38bc09ebdfd9ba05c:b1dd7a2c6123488b80de3adf299e5e8d$</string>
            <key>textureFileName</key>
            <string>gw_chongqiwuzei.png</string>
        </dict>
    </dict>
</plist>
