<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_chongqiwangchong-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{647,489},{112,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{112,127}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{1,398},{112,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{112,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{117,136},{112,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,19}</string>
                <key>spriteSize</key>
                <string>{112,127}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{111,267},{112,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,18}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{567,870},{112,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,18}</string>
                <key>spriteSize</key>
                <string>{114,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{99,654},{114,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,11}</string>
                <key>spriteSize</key>
                <string>{112,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{135,1},{112,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,6}</string>
                <key>spriteSize</key>
                <string>{114,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{103,527},{114,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,3}</string>
                <key>spriteSize</key>
                <string>{112,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{453,896},{112,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{98,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{443,771},{98,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{98,119}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{449,495},{98,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,5}</string>
                <key>spriteSize</key>
                <string>{112,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{225,263},{112,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,6}</string>
                <key>spriteSize</key>
                <string>{104,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{337,771},{104,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,11}</string>
                <key>spriteSize</key>
                <string>{108,129}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{1,267},{108,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,14}</string>
                <key>spriteSize</key>
                <string>{114,129}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{1,136},{114,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,16}</string>
                <key>spriteSize</key>
                <string>{100,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{1,527},{100,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,20}</string>
                <key>spriteSize</key>
                <string>{96,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{1,654},{96,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,20}</string>
                <key>spriteSize</key>
                <string>{94,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{1,781},{94,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,17}</string>
                <key>spriteSize</key>
                <string>{114,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{215,652},{114,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,13}</string>
                <key>spriteSize</key>
                <string>{94,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{357,1},{94,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,11}</string>
                <key>spriteSize</key>
                <string>{96,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{345,124},{96,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,6}</string>
                <key>spriteSize</key>
                <string>{114,117}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{117,906},{114,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,5}</string>
                <key>spriteSize</key>
                <string>{112,119}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{443,124},{112,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,9}</string>
                <key>spriteSize</key>
                <string>{114,117}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{543,751},{114,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,7}</string>
                <key>spriteSize</key>
                <string>{114,115}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{1,908},{114,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,34}</string>
                <key>spriteSize</key>
                <string>{122,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{97,781},{122,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,12}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-26}</string>
                <key>spriteSize</key>
                <string>{122,113}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{681,854},{122,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-30}</string>
                <key>spriteSize</key>
                <string>{106,105}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{915,1},{106,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-36}</string>
                <key>spriteSize</key>
                <string>{108,103}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{805,1},{108,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,8}</string>
                <key>spriteSize</key>
                <string>{112,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{219,521},{112,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,10}</string>
                <key>spriteSize</key>
                <string>{112,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{231,128},{112,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,14}</string>
                <key>spriteSize</key>
                <string>{112,119}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{453,1},{112,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,20}</string>
                <key>spriteSize</key>
                <string>{114,119}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{333,509},{114,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,23}</string>
                <key>spriteSize</key>
                <string>{114,119}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{435,374},{114,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,22}</string>
                <key>spriteSize</key>
                <string>{114,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{233,902},{114,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,18}</string>
                <key>spriteSize</key>
                <string>{112,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{331,646},{112,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,12}</string>
                <key>spriteSize</key>
                <string>{114,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{221,777},{114,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,9}</string>
                <key>spriteSize</key>
                <string>{114,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{115,396},{114,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,9}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{659,735},{112,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,14}</string>
                <key>spriteSize</key>
                <string>{100,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{231,386},{100,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,19}</string>
                <key>spriteSize</key>
                <string>{114,117}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{551,616},{114,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,26}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{549,495},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,21}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{551,368},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,14}</string>
                <key>spriteSize</key>
                <string>{106,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{249,1},{106,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,11}</string>
                <key>spriteSize</key>
                <string>{102,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{349,896},{102,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,16}</string>
                <key>spriteSize</key>
                <string>{100,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{333,386},{100,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,22}</string>
                <key>spriteSize</key>
                <string>{104,119}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{445,630},{104,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,27}</string>
                <key>spriteSize</key>
                <string>{96,117}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{667,608},{96,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,22}</string>
                <key>spriteSize</key>
                <string>{114,119}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{441,247},{114,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongqiwangchong-move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,15}</string>
                <key>spriteSize</key>
                <string>{100,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,191}</string>
                <key>textureRect</key>
                <string>{{339,251},{100,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_chongqiwangchong.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:324573786e39ed2cabccbeef03f9db94:dc1723c11892acd56471f1d79f262e02:9108677eb424026c2db6006de8f269e1$</string>
            <key>textureFileName</key>
            <string>gw_chongqiwangchong.png</string>
        </dict>
    </dict>
</plist>
