<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_chaogu-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-12}</string>
                <key>spriteSize</key>
                <string>{58,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{1,639},{58,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{62,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{295,78},{62,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-17}</string>
                <key>spriteSize</key>
                <string>{62,79}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{427,76},{62,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-17}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{355,157},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-19}</string>
                <key>spriteSize</key>
                <string>{58,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{249,538},{58,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-24}</string>
                <key>spriteSize</key>
                <string>{62,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{227,80},{62,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-26}</string>
                <key>spriteSize</key>
                <string>{68,79}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{1,92},{68,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-27}</string>
                <key>spriteSize</key>
                <string>{74,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{79,1},{74,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{76,89}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,26}</string>
                <key>spriteSize</key>
                <string>{70,97}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{155,1},{70,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,36}</string>
                <key>spriteSize</key>
                <string>{68,81}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{79,80},{68,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,17}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{227,1},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-18}</string>
                <key>spriteSize</key>
                <string>{64,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{295,1},{64,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-30}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{277,226},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{58,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{187,611},{58,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-12}</string>
                <key>spriteSize</key>
                <string>{60,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{187,538},{60,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-14}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{323,317},{60,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-17}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{199,228},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-22}</string>
                <key>spriteSize</key>
                <string>{62,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{359,78},{62,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-26}</string>
                <key>spriteSize</key>
                <string>{64,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{361,1},{64,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-28}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{427,1},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-26}</string>
                <key>spriteSize</key>
                <string>{62,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{149,100},{62,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-22}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{291,157},{62,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-18}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{213,159},{62,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-14}</string>
                <key>spriteSize</key>
                <string>{62,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{71,163},{62,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-12}</string>
                <key>spriteSize</key>
                <string>{60,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{187,463},{60,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-34}</string>
                <key>spriteSize</key>
                <string>{62,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{1,173},{62,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{58,83}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{1,554},{58,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{60,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{125,542},{60,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-33}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{63,544},{60,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-36}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{259,384},{60,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-46}</string>
                <key>spriteSize</key>
                <string>{62,59}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{135,171},{62,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-12}</string>
                <key>spriteSize</key>
                <string>{58,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{247,617},{58,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-16}</string>
                <key>spriteSize</key>
                <string>{60,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{125,467},{60,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-20}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{189,386},{60,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-22}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{135,232},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-23}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{65,234},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-21}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{1,244},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-16}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{417,157},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-13}</string>
                <key>spriteSize</key>
                <string>{58,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{121,615},{58,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-11}</string>
                <key>spriteSize</key>
                <string>{58,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{375,544},{58,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-12}</string>
                <key>spriteSize</key>
                <string>{58,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{181,690},{58,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-15}</string>
                <key>spriteSize</key>
                <string>{60,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{63,469},{60,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-19}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{125,390},{60,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-22}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{417,236},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-23}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{339,238},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-22}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{261,305},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-17}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{197,307},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-13}</string>
                <key>spriteSize</key>
                <string>{58,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{61,615},{58,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-11}</string>
                <key>spriteSize</key>
                <string>{58,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{309,546},{58,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-12}</string>
                <key>spriteSize</key>
                <string>{58,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{121,692},{58,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-9}</string>
                <key>spriteSize</key>
                <string>{60,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{1,479},{60,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-16}</string>
                <key>spriteSize</key>
                <string>{60,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{383,394},{60,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-22}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{63,392},{60,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-24}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{127,311},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-18}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{63,313},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-12}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{1,402},{60,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-9}</string>
                <key>spriteSize</key>
                <string>{60,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{445,394},{60,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-11}</string>
                <key>spriteSize</key>
                <string>{60,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{383,469},{60,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-19}</string>
                <key>spriteSize</key>
                <string>{60,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{445,469},{60,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-24}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{321,394},{60,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-23}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{1,323},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-16}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{401,315},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-10}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{251,461},{60,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chaogu-move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-8}</string>
                <key>spriteSize</key>
                <string>{60,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,153}</string>
                <key>textureRect</key>
                <string>{{313,471},{60,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_chaogu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee8d2e4dec458090621d0231651df18b:6b750279f68e529d2b829638953dde5a:9b41bc4e73ead980910e5fe6fb259ba7$</string>
            <key>textureFileName</key>
            <string>gw_chaogu.png</string>
        </dict>
    </dict>
</plist>
