<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_ciqiu-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-34}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{293,175},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-36}</string>
                <key>spriteSize</key>
                <string>{63,58}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{391,469},{63,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,14}</string>
                <key>spriteSize</key>
                <string>{63,76}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{1,191},{63,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,43}</string>
                <key>spriteSize</key>
                <string>{63,70}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{374,149},{63,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,13}</string>
                <key>spriteSize</key>
                <string>{69,78}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{384,1},{69,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-31}</string>
                <key>spriteSize</key>
                <string>{75,70}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{159,1},{75,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-29}</string>
                <key>spriteSize</key>
                <string>{77,78}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-40}</string>
                <key>spriteSize</key>
                <string>{75,58}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{80,39},{75,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-38}</string>
                <key>spriteSize</key>
                <string>{73,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{236,1},{73,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-35}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{305,111},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-35}</string>
                <key>spriteSize</key>
                <string>{65,68}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{226,133},{65,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-34}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{196,519},{61,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-33}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{439,149},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-36}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{214,203},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-36}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{137,211},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-36}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{66,235},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-36}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{409,345},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-35}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{1,269},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-35}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{358,221},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-35}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{279,239},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-36}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{332,349},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-36}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{261,367},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-36}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{202,267},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-34}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{293,175},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-32}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{196,395},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-10}</string>
                <key>spriteSize</key>
                <string>{65,68}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{147,141},{65,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-32}</string>
                <key>spriteSize</key>
                <string>{69,58}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{311,51},{69,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-48}</string>
                <key>spriteSize</key>
                <string>{71,48}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{311,1},{71,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-50}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{1,81},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-51}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{80,1},{77,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-35}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{131,403},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-35}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{66,427},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-36}</string>
                <key>spriteSize</key>
                <string>{63,58}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{326,473},{63,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-36}</string>
                <key>spriteSize</key>
                <string>{63,58}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{261,491},{63,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-35}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{1,461},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-34}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{131,275},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-34}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{66,299},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-34}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{1,333},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-34}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{423,281},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-34}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{344,285},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-34}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{267,303},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-34}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{196,331},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-34}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{131,339},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-35}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{397,407},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-35}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{326,411},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-35}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{261,429},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-35}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{196,457},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-35}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{131,465},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-35}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{66,489},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-35}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{1,523},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-36}</string>
                <key>spriteSize</key>
                <string>{61,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{1,585},{61,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-35}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{236,65},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-35}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{131,527},{61,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-35}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{157,73},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-36}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{66,363},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-35}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{78,99},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-35}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{439,215},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-35}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{70,167},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-35}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{66,551},{61,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-35}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{1,123},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-36}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{1,397},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ciqiu-move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-35}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{167,156}</string>
                <key>textureRect</key>
                <string>{{382,81},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_ciqiu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eb314be1885292da24936909fe0d29e:f808634d62589f4231207730e3e4920a:15e0343530d3849c766867c952b8ed20$</string>
            <key>textureFileName</key>
            <string>gw_ciqiu.png</string>
        </dict>
    </dict>
</plist>
