<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_dayangua-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,7}</string>
                <key>spriteSize</key>
                <string>{58,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{123,874},{58,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{62,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{1,589},{62,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{62,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{131,577},{62,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{66,99}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{1,387},{66,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{76,93}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{1,193},{76,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,6}</string>
                <key>spriteSize</key>
                <string>{68,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{301,288},{68,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,5}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{325,191},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,6}</string>
                <key>spriteSize</key>
                <string>{78,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{253,1},{78,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,6}</string>
                <key>spriteSize</key>
                <string>{82,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,8}</string>
                <key>spriteSize</key>
                <string>{72,99}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{81,98},{72,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{58,99}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{129,773},{58,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{229,197},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{68,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{223,294},{68,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,7}</string>
                <key>spriteSize</key>
                <string>{62,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{65,593},{62,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{66,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{143,383},{66,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{62,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{425,396},{62,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{52,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{307,883},{52,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{64,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{293,385},{64,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,5}</string>
                <key>spriteSize</key>
                <string>{72,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{155,189},{72,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,5}</string>
                <key>spriteSize</key>
                <string>{78,93}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{1,98},{78,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,5}</string>
                <key>spriteSize</key>
                <string>{82,93}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{169,1},{82,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{80,91}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{169,96},{80,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,5}</string>
                <key>spriteSize</key>
                <string>{72,93}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{407,167},{72,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{60,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{393,653},{60,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{54,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{317,786},{54,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{62,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{343,493},{62,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,7}</string>
                <key>spriteSize</key>
                <string>{58,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{61,890},{58,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,0}</string>
                <key>spriteSize</key>
                <string>{80,89}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{333,1},{80,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{415,1},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,8}</string>
                <key>spriteSize</key>
                <string>{62,99}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{1,488},{62,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{82,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{85,1},{82,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-15}</string>
                <key>spriteSize</key>
                <string>{96,69}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{397,262},{96,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-26}</string>
                <key>spriteSize</key>
                <string>{102,61}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{371,333},{102,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-28}</string>
                <key>spriteSize</key>
                <string>{100,67}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{407,98},{100,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-die_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-32}</string>
                <key>spriteSize</key>
                <string>{98,59}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{393,592},{98,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{60,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{1,787},{60,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{62,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{267,579},{62,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{62,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{195,585},{62,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{56,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{455,653},{56,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{54,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{251,872},{54,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{60,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{407,493},{60,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{64,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{211,391},{64,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{64,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{135,480},{64,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{60,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{321,689},{60,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{54,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{183,878},{54,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{60,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{331,590},{60,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{62,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{129,676},{62,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{62,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{65,692},{62,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{56,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{383,750},{56,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{54,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{441,750},{54,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{60,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{259,676},{60,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{64,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{65,496},{64,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{64,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{359,396},{64,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{60,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{255,775},{60,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{54,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{373,847},{54,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,13}</string>
                <key>spriteSize</key>
                <string>{72,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{333,92},{72,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{151,286},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{64,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{277,482},{64,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,13}</string>
                <key>spriteSize</key>
                <string>{60,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{189,781},{60,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,12}</string>
                <key>spriteSize</key>
                <string>{58,99}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{63,789},{58,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,7}</string>
                <key>spriteSize</key>
                <string>{62,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{1,688},{62,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,12}</string>
                <key>spriteSize</key>
                <string>{68,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{73,298},{68,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,12}</string>
                <key>spriteSize</key>
                <string>{72,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{251,98},{72,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{70,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{79,199},{70,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{64,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{201,488},{64,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,13}</string>
                <key>spriteSize</key>
                <string>{60,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{193,682},{60,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,11}</string>
                <key>spriteSize</key>
                <string>{58,99}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{1,886},{58,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,8}</string>
                <key>spriteSize</key>
                <string>{64,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{69,397},{64,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dayangua-move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,13}</string>
                <key>spriteSize</key>
                <string>{70,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{1,288},{70,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_dayangua.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bcec339106bc9482879a74bda91e879:f29b448175b80a2259a60d4fa449404d:df88116439c3866e09fc6de35f0bf86a$</string>
            <key>textureFileName</key>
            <string>gw_dayangua.png</string>
        </dict>
    </dict>
</plist>
