<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_dijing-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{205,653},{100,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{122,60}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{1,123},{122,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,26}</string>
                <key>spriteSize</key>
                <string>{110,70}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{337,393},{110,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,28}</string>
                <key>spriteSize</key>
                <string>{110,78}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{353,313},{110,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,18}</string>
                <key>spriteSize</key>
                <string>{102,98}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{1,481},{102,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,14}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{427,465},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{86,104}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{421,565},{86,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{110,74}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{1,329},{110,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,9}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{103,709},{100,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{407,765},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{413,671},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{108,84}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{403,1},{108,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,4}</string>
                <key>spriteSize</key>
                <string>{114,74}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{1,253},{114,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{118,74}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{267,115},{118,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{116,72}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{121,199},{116,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,8}</string>
                <key>spriteSize</key>
                <string>{110,74}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{113,329},{110,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{104,78}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{217,415},{104,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{209,571},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{100,82}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{1,581},{100,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,3}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{103,627},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,2}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{323,465},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{1,665},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{96,88}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{205,731},{96,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-ctrl_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{303,773},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{205,653},{100,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,18}</string>
                <key>spriteSize</key>
                <string>{112,70}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{239,267},{112,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,19}</string>
                <key>spriteSize</key>
                <string>{118,72}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{125,125},{118,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{102,72}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{105,553},{102,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-18}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{307,709},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-33}</string>
                <key>spriteSize</key>
                <string>{112,54}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{117,273},{112,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-33}</string>
                <key>spriteSize</key>
                <string>{126,56}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{1,65},{126,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-32}</string>
                <key>spriteSize</key>
                <string>{130,62}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{135,61},{130,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-31}</string>
                <key>spriteSize</key>
                <string>{132,62}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-31}</string>
                <key>spriteSize</key>
                <string>{132,58}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{135,1},{132,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-31}</string>
                <key>spriteSize</key>
                <string>{132,56}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{269,1},{132,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-32}</string>
                <key>spriteSize</key>
                <string>{132,54}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{269,59},{132,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,9}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{109,475},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{100,78}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{311,629},{100,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{96,82}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{103,787},{96,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{201,821},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{96,80}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{1,825},{96,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{110,74}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{225,339},{110,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{118,74}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{387,163},{118,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,3}</string>
                <key>spriteSize</key>
                <string>{116,74}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{245,191},{116,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,6}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{403,87},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,8}</string>
                <key>spriteSize</key>
                <string>{106,74}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{1,405},{106,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,3}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{1,747},{100,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,5}</string>
                <key>spriteSize</key>
                <string>{100,82}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{319,545},{100,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,7}</string>
                <key>spriteSize</key>
                <string>{112,72}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{363,239},{112,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,6}</string>
                <key>spriteSize</key>
                <string>{118,66}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{1,185},{118,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,2}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{109,405},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dijing-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,2}</string>
                <key>spriteSize</key>
                <string>{102,74}</string>
                <key>spriteSourceSize</key>
                <string>{154,134}</string>
                <key>textureRect</key>
                <string>{{215,495},{102,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_dijing.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a179279ed456659f95593c940b0fbf3:f0b132f5c9d8313e334f8ccdf6d57647:1ce37dcaacbd54a0d95442a77f989dd7$</string>
            <key>textureFileName</key>
            <string>gw_dijing.png</string>
        </dict>
    </dict>
</plist>
