<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_duomujuxi-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{132,-17}</string>
                <key>spriteSize</key>
                <string>{192,127}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{1,630},{192,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{131,-20}</string>
                <key>spriteSize</key>
                <string>{194,121}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{1,507},{194,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{138,-23}</string>
                <key>spriteSize</key>
                <string>{184,115}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{577,738},{184,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{141,-23}</string>
                <key>spriteSize</key>
                <string>{182,115}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{381,842},{182,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{138,-18}</string>
                <key>spriteSize</key>
                <string>{188,125}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{583,611},{188,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{156,6}</string>
                <key>spriteSize</key>
                <string>{146,173}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{673,126},{146,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,9}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{671,301},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-19}</string>
                <key>spriteSize</key>
                <string>{474,123}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{1,1},{474,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-19}</string>
                <key>spriteSize</key>
                <string>{348,123}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{477,1},{348,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,-18}</string>
                <key>spriteSize</key>
                <string>{256,125}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{1,126},{256,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{123,-15}</string>
                <key>spriteSize</key>
                <string>{208,131}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{259,126},{208,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{143,-15}</string>
                <key>spriteSize</key>
                <string>{178,131}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{187,902},{178,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{146,-14}</string>
                <key>spriteSize</key>
                <string>{170,131}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{745,876},{170,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{141,-15}</string>
                <key>spriteSize</key>
                <string>{178,131}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{1,999},{178,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{150,-16}</string>
                <key>spriteSize</key>
                <string>{156,129}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{849,1138},{156,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,-15}</string>
                <key>spriteSize</key>
                <string>{156,131}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{691,1138},{156,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,-15}</string>
                <key>spriteSize</key>
                <string>{158,131}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{1,1366},{158,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,-16}</string>
                <key>spriteSize</key>
                <string>{162,129}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{527,1099},{162,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{150,-17}</string>
                <key>spriteSize</key>
                <string>{164,127}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{717,1009},{164,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,-19}</string>
                <key>spriteSize</key>
                <string>{166,123}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{177,1156},{166,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{147,-21}</string>
                <key>spriteSize</key>
                <string>{170,119}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{545,978},{170,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{142,-24}</string>
                <key>spriteSize</key>
                <string>{178,121}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{763,753},{178,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{141,-23}</string>
                <key>spriteSize</key>
                <string>{178,121}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{565,855},{178,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{142,-22}</string>
                <key>spriteSize</key>
                <string>{174,119}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{181,1035},{174,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{145,-20}</string>
                <key>spriteSize</key>
                <string>{166,121}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{1,1243},{166,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{147,-19}</string>
                <key>spriteSize</key>
                <string>{162,123}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{345,1211},{162,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{148,-18}</string>
                <key>spriteSize</key>
                <string>{160,125}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{169,1281},{160,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{150,-16}</string>
                <key>spriteSize</key>
                <string>{156,129}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{849,1269},{156,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,-14}</string>
                <key>spriteSize</key>
                <string>{198,133}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{811,360},{198,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,-25}</string>
                <key>spriteSize</key>
                <string>{196,111}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{827,1},{196,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{142,-10}</string>
                <key>spriteSize</key>
                <string>{186,125}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{193,775},{186,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{162,-3}</string>
                <key>spriteSize</key>
                <string>{176,131}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{367,959},{176,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{154,-22}</string>
                <key>spriteSize</key>
                <string>{190,111}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{1,759},{190,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{159,-29}</string>
                <key>spriteSize</key>
                <string>{174,109}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{1,1132},{174,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{159,-33}</string>
                <key>spriteSize</key>
                <string>{168,117}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{357,1092},{168,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,-14}</string>
                <key>spriteSize</key>
                <string>{198,133}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{209,259},{198,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{129,-15}</string>
                <key>spriteSize</key>
                <string>{192,131}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{197,523},{192,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{133,-16}</string>
                <key>spriteSize</key>
                <string>{188,129}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{785,495},{188,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{133,-17}</string>
                <key>spriteSize</key>
                <string>{190,127}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{593,482},{190,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{133,-17}</string>
                <key>spriteSize</key>
                <string>{194,127}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{409,348},{194,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{135,-17}</string>
                <key>spriteSize</key>
                <string>{194,127}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{201,394},{194,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{137,-17}</string>
                <key>spriteSize</key>
                <string>{190,127}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{391,586},{190,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{139,-18}</string>
                <key>spriteSize</key>
                <string>{184,125}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{1,872},{184,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{138,-18}</string>
                <key>spriteSize</key>
                <string>{184,125}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{773,626},{184,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{133,-18}</string>
                <key>spriteSize</key>
                <string>{188,125}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{387,715},{188,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{128,-16}</string>
                <key>spriteSize</key>
                <string>{194,129}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{827,114},{194,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,-15}</string>
                <key>spriteSize</key>
                <string>{198,131}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{1,374},{198,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,-15}</string>
                <key>spriteSize</key>
                <string>{202,113}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{469,126},{202,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{133,-23}</string>
                <key>spriteSize</key>
                <string>{190,117}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{195,656},{190,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{131,-24}</string>
                <key>spriteSize</key>
                <string>{202,113}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{821,245},{202,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{132,-21}</string>
                <key>spriteSize</key>
                <string>{206,119}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{1,253},{206,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,-19}</string>
                <key>spriteSize</key>
                <string>{194,107}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{397,477},{194,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duomujuxi-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{130,-19}</string>
                <key>spriteSize</key>
                <string>{200,105}</string>
                <key>spriteSourceSize</key>
                <string>{500,197}</string>
                <key>textureRect</key>
                <string>{{469,241},{200,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_duomujuxi.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0f89817fdf07a386b6dd6f6d66cd439:0d4974db943b083699805f6bfed5829e:d4665fb5bc946d704022626daa0e4d37$</string>
            <key>textureFileName</key>
            <string>gw_duomujuxi.png</string>
        </dict>
    </dict>
</plist>
