<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_dazuihua-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{62,89}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{435,369},{62,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-1}</string>
                <key>spriteSize</key>
                <string>{68,89}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{71,394},{68,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-1}</string>
                <key>spriteSize</key>
                <string>{78,89}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{403,94},{78,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{116,91}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{367,1},{116,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{110,87}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{1,52},{110,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{225,54},{96,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{82,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{1,141},{82,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,3}</string>
                <key>spriteSize</key>
                <string>{68,95}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{1,327},{68,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,3}</string>
                <key>spriteSize</key>
                <string>{68,95}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{231,274},{68,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,1}</string>
                <key>spriteSize</key>
                <string>{66,91}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{369,274},{66,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{60,91}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{1,606},{60,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,1}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{71,485},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,1}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{1,511},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{64,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{437,274},{64,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{66,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{301,274},{66,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-4}</string>
                <key>spriteSize</key>
                <string>{68,91}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{147,333},{68,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-6}</string>
                <key>spriteSize</key>
                <string>{70,87}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{75,305},{70,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-7}</string>
                <key>spriteSize</key>
                <string>{68,85}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{1,424},{68,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-6}</string>
                <key>spriteSize</key>
                <string>{64,85}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{369,367},{64,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-5}</string>
                <key>spriteSize</key>
                <string>{60,85}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{329,545},{60,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-4}</string>
                <key>spriteSize</key>
                <string>{56,85}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{125,701},{56,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-2}</string>
                <key>spriteSize</key>
                <string>{58,87}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{187,648},{58,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-1}</string>
                <key>spriteSize</key>
                <string>{60,89}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{125,610},{60,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{60,91}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{267,472},{60,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{60,89}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{63,675},{60,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{78,91}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{323,94},{78,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,0}</string>
                <key>spriteSize</key>
                <string>{72,95}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{205,145},{72,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,2}</string>
                <key>spriteSize</key>
                <string>{62,101}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{301,369},{62,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{90,97}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{113,115},{90,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-22}</string>
                <key>spriteSize</key>
                <string>{110,61}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{113,52},{110,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-25}</string>
                <key>spriteSize</key>
                <string>{118,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{247,1},{118,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-26}</string>
                <key>spriteSize</key>
                <string>{122,49}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-die_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{120,49}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{125,1},{120,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,0}</string>
                <key>spriteSize</key>
                <string>{62,89}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{365,454},{62,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,1}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{205,460},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{58,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{257,565},{58,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-1}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{133,515},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-2}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{63,580},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-3}</string>
                <key>spriteSize</key>
                <string>{60,91}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{195,555},{60,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-3}</string>
                <key>spriteSize</key>
                <string>{60,89}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{1,699},{60,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-3}</string>
                <key>spriteSize</key>
                <string>{62,87}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{429,460},{62,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-2}</string>
                <key>spriteSize</key>
                <string>{62,87}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{217,371},{62,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-1}</string>
                <key>spriteSize</key>
                <string>{62,87}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{141,426},{62,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-1}</string>
                <key>spriteSize</key>
                <string>{72,89}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{85,214},{72,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,1}</string>
                <key>spriteSize</key>
                <string>{72,89}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{1,236},{72,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-4}</string>
                <key>spriteSize</key>
                <string>{76,87}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{403,185},{76,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{72,85}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{279,187},{72,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dazuihua-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-2}</string>
                <key>spriteSize</key>
                <string>{70,89}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{159,242},{70,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_dazuihua.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2660e4aee1b312c691afe31ca90ceeb6:535bc95fe4734ef2683a5faa1a0e78e0:f71095fc9f92727c14e23ece278ec65d$</string>
            <key>textureFileName</key>
            <string>gw_dazuihua.png</string>
        </dict>
    </dict>
</plist>
