<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_duanyifu-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{83,503},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{359,73},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,6}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,85},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,30}</string>
                <key>spriteSize</key>
                <string>{88,66}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{185,1},{88,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,24}</string>
                <key>spriteSize</key>
                <string>{82,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,227},{82,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,18}</string>
                <key>spriteSize</key>
                <string>{86,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{275,1},{86,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,26}</string>
                <key>spriteSize</key>
                <string>{78,66}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{247,497},{78,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,11}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{363,1},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-8}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{95,1},{88,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-4}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{171,281},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{84,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{87,147},{84,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{317,649},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{335,361},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{85,289},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{443,73},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{157,637},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{95,73},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{273,73},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,8}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{401,583},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,653},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{84,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,157},{84,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{245,565},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{233,705},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{161,567},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{181,135},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,18}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{165,363},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,3}</string>
                <key>spriteSize</key>
                <string>{92,82}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-18}</string>
                <key>spriteSize</key>
                <string>{86,64}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{185,69},{86,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-26}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{329,433},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-24}</string>
                <key>spriteSize</key>
                <string>{80,62}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{247,433},{80,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{79,575},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{417,369},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,297},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{435,147},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{341,287},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{87,217},{82,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,583},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{82,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{351,147},{82,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{247,363},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,511},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{267,145},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{253,289},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{435,221},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{173,207},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{82,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{351,217},{82,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{405,513},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{82,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{257,219},{82,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{79,645},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{409,441},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{423,295},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,14}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{327,507},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{80,66}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{165,433},{80,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{165,501},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{323,579},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{83,363},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,371},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,14}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{239,635},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{80,66}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{83,435},{80,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_duanyifu-move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{80,66}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,443},{80,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_duanyifu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:324e66ca923ed7a067f7bb019241e715:6177112757ab58e2dac2b7b2ba5ce290:7d860020314edab1c9aee5489a9a3cfb$</string>
            <key>textureFileName</key>
            <string>gw_duanyifu.png</string>
        </dict>
    </dict>
</plist>
