<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_datouyou-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-3}</string>
                <key>spriteSize</key>
                <string>{64,95}</string>
                <key>spriteSourceSize</key>
                <string>{160,105}</string>
                <key>textureRect</key>
                <string>{{351,357},{64,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-4}</string>
                <key>spriteSize</key>
                <string>{62,89}</string>
                <key>spriteSourceSize</key>
                <string>{160,105}</string>
                <key>textureRect</key>
                <string>{{341,550},{62,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-9}</string>
                <key>spriteSize</key>
                <string>{56,79}</string>
                <key>spriteSourceSize</key>
                <string>{160,105}</string>
                <key>textureRect</key>
                <string>{{306,258},{56,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,0}</string>
                <key>spriteSize</key>
                <string>{84,105}</string>
                <key>spriteSourceSize</key>
                <string>{160,105}</string>
                <key>textureRect</key>
                <string>{{1,121},{84,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-1}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{160,105}</string>
                <key>textureRect</key>
                <string>{{116,63},{86,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-2}</string>
                <key>spriteSize</key>
                <string>{78,99}</string>
                <key>spriteSourceSize</key>
                <string>{160,105}</string>
                <key>textureRect</key>
                <string>{{287,67},{78,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{66,93}</string>
                <key>spriteSourceSize</key>
                <string>{160,105}</string>
                <key>textureRect</key>
                <string>{{143,445},{66,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-3}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{160,105}</string>
                <key>textureRect</key>
                <string>{{211,446},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-3}</string>
                <key>spriteSize</key>
                <string>{64,93}</string>
                <key>spriteSourceSize</key>
                <string>{160,105}</string>
                <key>textureRect</key>
                <string>{{284,444},{64,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,96}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{441,1},{70,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,96}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{367,67},{70,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,96}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{439,99},{70,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{68,96}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{436,295},{68,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{145,349},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{162,253},{70,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{73,256},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{1,326},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{234,258},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{364,263},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{73,350},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,96}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{367,165},{70,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,96}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{439,197},{70,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,96}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{1,228},{70,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,3}</string>
                <key>spriteSize</key>
                <string>{65,100}</string>
                <key>spriteSourceSize</key>
                <string>{183,146}</string>
                <key>textureRect</key>
                <string>{{69,538},{65,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,24}</string>
                <key>spriteSize</key>
                <string>{81,98}</string>
                <key>spriteSourceSize</key>
                <string>{183,146}</string>
                <key>textureRect</key>
                <string>{{204,63},{81,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{95,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,146}</string>
                <key>textureRect</key>
                <string>{{344,1},{95,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-42}</string>
                <key>spriteSize</key>
                <string>{113,60}</string>
                <key>spriteSourceSize</key>
                <string>{183,146}</string>
                <key>textureRect</key>
                <string>{{120,1},{113,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-26}</string>
                <key>spriteSize</key>
                <string>{107,60}</string>
                <key>spriteSourceSize</key>
                <string>{183,146}</string>
                <key>textureRect</key>
                <string>{{235,1},{107,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-43}</string>
                <key>spriteSize</key>
                <string>{113,58}</string>
                <key>spriteSourceSize</key>
                <string>{183,146}</string>
                <key>textureRect</key>
                <string>{{1,61},{113,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-44}</string>
                <key>spriteSize</key>
                <string>{117,58}</string>
                <key>spriteSourceSize</key>
                <string>{183,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{67,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{215,352},{67,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{73,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{283,168},{73,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{77,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{204,163},{77,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{73,86}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{87,168},{73,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{65,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{284,352},{65,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{63,94}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{350,454},{63,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{63,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{415,483},{63,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{63,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{211,539},{63,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{63,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{276,539},{63,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,94}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{1,600},{65,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{66,86}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{1,512},{66,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{64,88}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{417,393},{64,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{62,88}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{136,540},{62,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{66,90}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{71,446},{66,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_datouyou-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{68,90}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{1,420},{68,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_datouyou_binhan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfe64420e1cbb123b7097802f7f75f5e:38fec2ff3532d5a7c467a41d2c48b2e3:a073ff8ecbda082b3542ac36f0c1bdf7$</string>
            <key>textureFileName</key>
            <string>gw_datouyou_binhan.png</string>
        </dict>
    </dict>
</plist>
