<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_dicijun-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{353,115},{99,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{215,170},{99,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{103,201},{99,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{1,223},{99,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,51}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{405,225},{99,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,51}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{405,278},{99,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{316,170},{99,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{1,278},{99,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{1,333},{99,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{1,388},{99,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{1,443},{99,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{102,256},{99,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{100,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,69}</string>
                <key>textureRect</key>
                <string>{{1,168},{100,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{118,51}</string>
                <key>spriteSourceSize</key>
                <string>{138,69}</string>
                <key>textureRect</key>
                <string>{{277,58},{118,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{138,41}</string>
                <key>spriteSourceSize</key>
                <string>{138,69}</string>
                <key>textureRect</key>
                <string>{{141,1},{138,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,69}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{134,55}</string>
                <key>spriteSourceSize</key>
                <string>{138,69}</string>
                <key>textureRect</key>
                <string>{{281,1},{134,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{134,55}</string>
                <key>spriteSourceSize</key>
                <string>{138,69}</string>
                <key>textureRect</key>
                <string>{{141,44},{134,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{134,49}</string>
                <key>spriteSourceSize</key>
                <string>{138,69}</string>
                <key>textureRect</key>
                <string>{{1,56},{134,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,52}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{102,311},{99,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,52}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{102,365},{99,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,52}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{102,419},{99,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,50}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{304,279},{99,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,48}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{303,362},{99,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,50}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{203,310},{99,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,50}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{203,415},{99,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,52}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{203,256},{99,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,52}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{304,225},{99,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,57}</string>
                <key>spriteSourceSize</key>
                <string>{114,59}</string>
                <key>textureRect</key>
                <string>{{249,111},{102,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{114,59}</string>
                <key>textureRect</key>
                <string>{{1,107},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{114,55}</string>
                <key>spriteSourceSize</key>
                <string>{114,59}</string>
                <key>textureRect</key>
                <string>{{397,58},{114,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{110,49}</string>
                <key>spriteSourceSize</key>
                <string>{114,59}</string>
                <key>textureRect</key>
                <string>{{137,101},{110,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{102,47}</string>
                <key>spriteSourceSize</key>
                <string>{114,59}</string>
                <key>textureRect</key>
                <string>{{111,152},{102,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_dicijun-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{98,51}</string>
                <key>spriteSourceSize</key>
                <string>{114,59}</string>
                <key>textureRect</key>
                <string>{{203,362},{98,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_dicijun.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14dcfe8692def8c84ea72536d16b4be8:34e2652aef889295d29a364dd074bb11:0d8475d3a7e4c391df8ac121783a7d1d$</string>
            <key>textureFileName</key>
            <string>gw_dicijun.png</string>
        </dict>
    </dict>
</plist>
