<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_feihuang-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{104,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{113,275},{104,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,7}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{117,1},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,9}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{1,105},{106,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,6}</string>
                <key>spriteSize</key>
                <string>{98,84}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{219,451},{98,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,7}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{113,547},{92,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,7}</string>
                <key>spriteSize</key>
                <string>{86,104}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{113,647},{86,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,7}</string>
                <key>spriteSize</key>
                <string>{110,96}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{1,207},{110,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{213,805},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{1,305},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{114,102}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{104,90}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{113,183},{104,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{337,177},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{98,90}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{219,359},{98,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{113,753},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{319,265},{96,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{417,265},{94,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{417,359},{94,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{417,629},{94,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{417,723},{94,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{319,359},{96,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{111,847},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{219,265},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{98,90}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{213,713},{98,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{98,90}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{317,805},{98,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{104,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{113,365},{104,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,16}</string>
                <key>spriteSize</key>
                <string>{104,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{319,453},{104,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-2}</string>
                <key>spriteSize</key>
                <string>{102,90}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{113,455},{102,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-16}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{417,817},{94,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-15}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{219,885},{90,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-15}</string>
                <key>spriteSize</key>
                <string>{88,82}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{311,897},{88,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{110,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{1,397},{110,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{108,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{1,937},{108,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,1}</string>
                <key>spriteSize</key>
                <string>{104,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{319,541},{104,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,5}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{217,537},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,6}</string>
                <key>spriteSize</key>
                <string>{104,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{207,625},{104,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,5}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{1,847},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,2}</string>
                <key>spriteSize</key>
                <string>{110,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{1,487},{110,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{110,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{1,577},{110,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{357,87},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,2}</string>
                <key>spriteSize</key>
                <string>{102,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{313,629},{102,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,5}</string>
                <key>spriteSize</key>
                <string>{102,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{313,717},{102,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,6}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{229,177},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,4}</string>
                <key>spriteSize</key>
                <string>{110,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{1,667},{110,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,1}</string>
                <key>spriteSize</key>
                <string>{110,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{1,757},{110,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-10}</string>
                <key>spriteSize</key>
                <string>{120,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{235,1},{120,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-11}</string>
                <key>spriteSize</key>
                <string>{116,84}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{357,1},{116,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-6}</string>
                <key>spriteSize</key>
                <string>{106,82}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{111,941},{106,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-3}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{117,99},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feihuang-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{116,84}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{235,91},{116,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_feihuang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d339a18df19837098713ec93f122bc5:83c1e84940c1ca88c10348bf93cf4391:c8d6551b0dde60fcb6159d153181356c$</string>
            <key>textureFileName</key>
            <string>gw_feihuang.png</string>
        </dict>
    </dict>
</plist>
