<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_feiyu-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{93,53}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{96,438},{93,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,18}</string>
                <key>spriteSize</key>
                <string>{99,55}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{209,121},{99,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,22}</string>
                <key>spriteSize</key>
                <string>{95,63}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{199,237},{95,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,22}</string>
                <key>spriteSize</key>
                <string>{93,61}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{1,375},{93,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,14}</string>
                <key>spriteSize</key>
                <string>{89,83}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{284,499},{89,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,10}</string>
                <key>spriteSize</key>
                <string>{99,71}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{314,1},{99,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,13}</string>
                <key>spriteSize</key>
                <string>{95,67}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{415,72},{95,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,17}</string>
                <key>spriteSize</key>
                <string>{97,73}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{411,141},{97,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,23}</string>
                <key>spriteSize</key>
                <string>{105,65}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{99,61}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{211,58},{99,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,3}</string>
                <key>spriteSize</key>
                <string>{101,55}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{211,1},{101,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{95,63}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{100,241},{95,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,18}</string>
                <key>spriteSize</key>
                <string>{89,59}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{375,529},{89,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{93,55}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{1,438},{93,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{97,55}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{100,184},{97,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{99,57}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{108,66},{99,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{97,59}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{1,68},{97,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{93,61}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{286,373},{93,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{93,61}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{191,428},{93,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{93,67}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{1,306},{93,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,22}</string>
                <key>spriteSize</key>
                <string>{95,69}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{415,1},{95,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,23}</string>
                <key>spriteSize</key>
                <string>{95,67}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{298,192},{95,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,23}</string>
                <key>spriteSize</key>
                <string>{93,65}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{96,306},{93,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,21}</string>
                <key>spriteSize</key>
                <string>{91,63}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{191,491},{91,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{95,59}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{395,216},{95,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{93,61}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{381,407},{93,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,16}</string>
                <key>spriteSize</key>
                <string>{101,63}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{108,1},{101,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,18}</string>
                <key>spriteSize</key>
                <string>{93,69}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{391,336},{93,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-18}</string>
                <key>spriteSize</key>
                <string>{95,51}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{294,320},{95,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-24}</string>
                <key>spriteSize</key>
                <string>{91,61}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{96,493},{91,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-28}</string>
                <key>spriteSize</key>
                <string>{95,57}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{296,261},{95,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{89,59}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{94,556},{89,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{93,57}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{381,470},{93,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,9}</string>
                <key>spriteSize</key>
                <string>{97,57}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{100,125},{97,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{97,57}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{1,129},{97,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{95,57}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{197,302},{95,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,18}</string>
                <key>spriteSize</key>
                <string>{97,57}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{199,178},{97,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{99,59}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{312,74},{99,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,18}</string>
                <key>spriteSize</key>
                <string>{95,61}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{1,243},{95,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,15}</string>
                <key>spriteSize</key>
                <string>{91,61}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{1,495},{91,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{89,57}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{1,558},{89,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{97,53}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{1,188},{97,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{99,55}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{310,135},{99,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{95,57}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{393,277},{95,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{93,61}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{286,436},{93,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,20}</string>
                <key>spriteSize</key>
                <string>{93,65}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{191,361},{93,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feiyu-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,14}</string>
                <key>spriteSize</key>
                <string>{93,63}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{96,373},{93,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_feiyu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aebf8e15d54f5480f2c8a6c03a4bf2ca:2a4c029ec53be5fdfb13ee195a12c130:fc55825cb0378e3b18d0dfa86bb76a87$</string>
            <key>textureFileName</key>
            <string>gw_feiyu.png</string>
        </dict>
    </dict>
</plist>
