<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_fengbaocichong-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-20}</string>
                <key>spriteSize</key>
                <string>{79,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{420,561},{79,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-15}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{183,250},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-14}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{270,335},{83,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-16}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,369},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-13}</string>
                <key>spriteSize</key>
                <string>{105,85}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{334,1},{105,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-12}</string>
                <key>spriteSize</key>
                <string>{105,81}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{225,82},{105,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-14}</string>
                <key>spriteSize</key>
                <string>{101,79}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{116,88},{101,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-17}</string>
                <key>spriteSize</key>
                <string>{93,83}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{219,165},{93,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-19}</string>
                <key>spriteSize</key>
                <string>{83,85}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{171,432},{83,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{79,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{335,650},{79,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{85,91}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,183},{85,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{83,91}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{88,264},{83,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{81,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{343,468},{81,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{79,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{339,559},{79,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{79,91}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,545},{79,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{75,91}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{244,784},{75,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{75,95}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{435,90},{75,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-25}</string>
                <key>spriteSize</key>
                <string>{75,93}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{331,739},{75,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-23}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{416,737},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{79,91}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{426,468},{79,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{83,91}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,276},{83,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{85,93}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{96,169},{85,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-20}</string>
                <key>spriteSize</key>
                <string>{79,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{250,695},{79,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{93,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,92},{93,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-6}</string>
                <key>spriteSize</key>
                <string>{113,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-22}</string>
                <key>spriteSize</key>
                <string>{107,85}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{116,1},{107,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-40}</string>
                <key>spriteSize</key>
                <string>{93,75}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{314,165},{93,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-36}</string>
                <key>spriteSize</key>
                <string>{101,75}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{332,88},{101,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-48}</string>
                <key>spriteSize</key>
                <string>{107,79}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{225,1},{107,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{75,85}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,816},{75,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{163,699},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{83,85}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{86,448},{83,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{256,515},{81,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{79,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{254,604},{79,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{75,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{163,786},{75,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{79,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{169,608},{79,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{173,341},{83,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{355,379},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{82,715},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{75,85}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{408,832},{75,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,729},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{83,85}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,458},{83,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{171,519},{81,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{79,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{82,624},{79,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{75,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{82,802},{75,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{79,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,638},{79,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{86,357},{83,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{258,426},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{416,650},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,43}</string>
                <key>spriteSize</key>
                <string>{89,91}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{314,242},{89,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,27}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{86,535},{81,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-4}</string>
                <key>spriteSize</key>
                <string>{71,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{440,379},{71,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-13}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{441,1},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,10}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{405,282},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,39}</string>
                <key>spriteSize</key>
                <string>{89,93}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{409,187},{89,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_fengbaocichong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fca9811dd9ed02272bb174257b31e91:8526356f9e20b61a2795869106b29774:f654f96cc8af4fe05bf39a39a123f747$</string>
            <key>textureFileName</key>
            <string>gw_fengbaocichong.png</string>
        </dict>
    </dict>
</plist>
