<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_fenliebaochong-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{122,111}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{255,209},{122,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-15}</string>
                <key>spriteSize</key>
                <string>{122,109}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{1,316},{122,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-14}</string>
                <key>spriteSize</key>
                <string>{124,111}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{129,110},{124,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-11}</string>
                <key>spriteSize</key>
                <string>{124,117}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{269,90},{124,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{124,109}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{1,205},{124,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-16}</string>
                <key>spriteSize</key>
                <string>{118,105}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{1,542},{118,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{120,109}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{379,268},{120,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-born_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,115}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{1,865},{112,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-born_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,24}</string>
                <key>spriteSize</key>
                <string>{120,113}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{775,86},{120,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-born_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,11}</string>
                <key>spriteSize</key>
                <string>{138,97}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-born_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{124,95}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{395,171},{124,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-born_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-22}</string>
                <key>spriteSize</key>
                <string>{116,93}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{611,419},{116,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{120,113}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{897,116},{120,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{120,113}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{645,197},{120,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{118,113}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{125,336},{118,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-13}</string>
                <key>spriteSize</key>
                <string>{116,113}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{365,492},{116,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{114,111}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{729,423},{114,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-13}</string>
                <key>spriteSize</key>
                <string>{114,111}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{611,514},{114,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-13}</string>
                <key>spriteSize</key>
                <string>{112,111}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{115,865},{112,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-14}</string>
                <key>spriteSize</key>
                <string>{112,109}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{845,461},{112,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{112,109}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{727,536},{112,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{114,109}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{483,532},{114,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{116,111}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{241,542},{116,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{118,111}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{501,298},{118,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{118,113}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{1,427},{118,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{120,113}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{767,201},{120,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-16}</string>
                <key>spriteSize</key>
                <string>{116,105}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{741,316},{116,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{116,119}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{493,411},{116,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{126,107}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{141,1},{126,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-28}</string>
                <key>spriteSize</key>
                <string>{126,87}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{269,1},{126,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-32}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{397,1},{126,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-32}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{525,1},{126,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-32}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{653,1},{126,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-32}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{781,1},{126,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-32}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{397,86},{126,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77.5,79}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{129,100},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{122,111}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{127,223},{122,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{120,113}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{889,231},{120,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{118,111}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{373,379},{118,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{116,107}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{1,649},{116,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-15}</string>
                <key>spriteSize</key>
                <string>{114,107}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{239,655},{114,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{114,109}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{359,607},{114,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-12}</string>
                <key>spriteSize</key>
                <string>{114,113}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{909,1},{114,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{114,113}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{859,346},{114,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{116,111}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{121,560},{116,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{118,107}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{121,451},{118,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{120,107}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{251,322},{120,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{122,109}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{651,86},{122,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-17}</string>
                <key>spriteSize</key>
                <string>{126,103}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{1,100},{126,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{122,103}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{521,193},{122,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{118,105}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{621,312},{118,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-16}</string>
                <key>spriteSize</key>
                <string>{114,105}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{1,758},{114,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-16}</string>
                <key>spriteSize</key>
                <string>{114,107}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{119,673},{114,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{118,109}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{245,431},{118,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fenliebaochong-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-16}</string>
                <key>spriteSize</key>
                <string>{124,105}</string>
                <key>spriteSourceSize</key>
                <string>{158,161}</string>
                <key>textureRect</key>
                <string>{{525,86},{124,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_fenliebaochong.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a01638dde06da8b133222208d98d428:733d05ea647be00340418093d67bdb2b:58b4cc785f7d090518433c8a19317720$</string>
            <key>textureFileName</key>
            <string>gw_fenliebaochong.png</string>
        </dict>
    </dict>
</plist>
