<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_feishe-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-3}</string>
                <key>spriteSize</key>
                <string>{143,141}</string>
                <key>spriteSourceSize</key>
                <string>{261,171}</string>
                <key>textureRect</key>
                <string>{{161,179},{143,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,3}</string>
                <key>spriteSize</key>
                <string>{157,117}</string>
                <key>spriteSourceSize</key>
                <string>{261,171}</string>
                <key>textureRect</key>
                <string>{{710,1},{157,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,20}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{261,171}</string>
                <key>textureRect</key>
                <string>{{288,555},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,10}</string>
                <key>spriteSize</key>
                <string>{137,103}</string>
                <key>spriteSourceSize</key>
                <string>{261,171}</string>
                <key>textureRect</key>
                <string>{{433,438},{137,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{205,159}</string>
                <key>spriteSourceSize</key>
                <string>{261,171}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{121,141}</string>
                <key>spriteSourceSize</key>
                <string>{261,171}</string>
                <key>textureRect</key>
                <string>{{219,879},{121,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,7}</string>
                <key>spriteSize</key>
                <string>{127,147}</string>
                <key>spriteSourceSize</key>
                <string>{261,171}</string>
                <key>textureRect</key>
                <string>{{342,839},{127,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,5}</string>
                <key>spriteSize</key>
                <string>{137,155}</string>
                <key>spriteSourceSize</key>
                <string>{261,171}</string>
                <key>textureRect</key>
                <string>{{594,388},{137,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-2}</string>
                <key>spriteSize</key>
                <string>{141,147}</string>
                <key>spriteSourceSize</key>
                <string>{261,171}</string>
                <key>textureRect</key>
                <string>{{451,289},{141,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{154,104}</string>
                <key>spriteSourceSize</key>
                <string>{158,180}</string>
                <key>textureRect</key>
                <string>{{869,1},{154,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{158,104}</string>
                <key>spriteSourceSize</key>
                <string>{158,180}</string>
                <key>textureRect</key>
                <string>{{1,162},{158,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{152,120}</string>
                <key>spriteSourceSize</key>
                <string>{158,180}</string>
                <key>textureRect</key>
                <string>{{869,107},{152,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{124,146}</string>
                <key>spriteSourceSize</key>
                <string>{158,180}</string>
                <key>textureRect</key>
                <string>{{451,660},{124,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{102,156}</string>
                <key>spriteSourceSize</key>
                <string>{158,180}</string>
                <key>textureRect</key>
                <string>{{219,721},{102,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{108,160}</string>
                <key>spriteSourceSize</key>
                <string>{158,180}</string>
                <key>textureRect</key>
                <string>{{1,773},{108,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{142,130}</string>
                <key>spriteSourceSize</key>
                <string>{158,180}</string>
                <key>textureRect</key>
                <string>{{146,322},{142,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{156,104}</string>
                <key>spriteSourceSize</key>
                <string>{158,180}</string>
                <key>textureRect</key>
                <string>{{550,88},{156,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{128,138}</string>
                <key>spriteSourceSize</key>
                <string>{158,180}</string>
                <key>textureRect</key>
                <string>{{1,633},{128,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{106,160}</string>
                <key>spriteSourceSize</key>
                <string>{158,180}</string>
                <key>textureRect</key>
                <string>{{111,773},{106,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,22}</string>
                <key>spriteSize</key>
                <string>{146,141}</string>
                <key>spriteSourceSize</key>
                <string>{240,191}</string>
                <key>textureRect</key>
                <string>{{374,130},{146,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,32}</string>
                <key>spriteSize</key>
                <string>{164,127}</string>
                <key>spriteSourceSize</key>
                <string>{240,191}</string>
                <key>textureRect</key>
                <string>{{384,1},{164,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,25}</string>
                <key>spriteSize</key>
                <string>{142,95}</string>
                <key>spriteSourceSize</key>
                <string>{240,191}</string>
                <key>textureRect</key>
                <string>{{1,402},{142,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-3}</string>
                <key>spriteSize</key>
                <string>{164,105}</string>
                <key>spriteSourceSize</key>
                <string>{240,191}</string>
                <key>textureRect</key>
                <string>{{208,72},{164,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-32}</string>
                <key>spriteSize</key>
                <string>{174,69}</string>
                <key>spriteSourceSize</key>
                <string>{240,191}</string>
                <key>textureRect</key>
                <string>{{208,1},{174,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-41}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{240,191}</string>
                <key>textureRect</key>
                <string>{{522,194},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-42}</string>
                <key>spriteSize</key>
                <string>{158,85}</string>
                <key>spriteSourceSize</key>
                <string>{240,191}</string>
                <key>textureRect</key>
                <string>{{550,1},{158,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{149,116}</string>
                <key>spriteSourceSize</key>
                <string>{149,158}</string>
                <key>textureRect</key>
                <string>{{708,120},{149,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{147,152}</string>
                <key>spriteSourceSize</key>
                <string>{149,158}</string>
                <key>textureRect</key>
                <string>{{859,229},{147,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{145,134}</string>
                <key>spriteSourceSize</key>
                <string>{149,158}</string>
                <key>textureRect</key>
                <string>{{817,383},{145,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{145,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,158}</string>
                <key>textureRect</key>
                <string>{{670,238},{145,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{143,132}</string>
                <key>spriteSourceSize</key>
                <string>{149,158}</string>
                <key>textureRect</key>
                <string>{{1,268},{143,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{141,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,158}</string>
                <key>textureRect</key>
                <string>{{145,454},{141,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{139,132}</string>
                <key>spriteSourceSize</key>
                <string>{149,158}</string>
                <key>textureRect</key>
                <string>{{1,499},{139,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{149,158}</string>
                <key>textureRect</key>
                <string>{{290,407},{141,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{143,132}</string>
                <key>spriteSourceSize</key>
                <string>{149,158}</string>
                <key>textureRect</key>
                <string>{{306,273},{143,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{132,119}</string>
                <key>spriteSourceSize</key>
                <string>{150,161}</string>
                <key>textureRect</key>
                <string>{{142,600},{132,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{124,139}</string>
                <key>spriteSourceSize</key>
                <string>{150,161}</string>
                <key>textureRect</key>
                <string>{{471,808},{124,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{126,149}</string>
                <key>spriteSourceSize</key>
                <string>{150,161}</string>
                <key>textureRect</key>
                <string>{{323,688},{126,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{126,129}</string>
                <key>spriteSourceSize</key>
                <string>{150,161}</string>
                <key>textureRect</key>
                <string>{{577,545},{126,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{134,115}</string>
                <key>spriteSourceSize</key>
                <string>{150,161}</string>
                <key>textureRect</key>
                <string>{{433,543},{134,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_feishe_feishe.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9be4731d2059b4f056afaa5541d9f263:00832f1de73bebcfab71a29f4f05c91f:3851e0c1c6c3eb82861fdcf045bddd21$</string>
            <key>textureFileName</key>
            <string>gw_feishe_feishe.png</string>
        </dict>
    </dict>
</plist>
