<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_feishe-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,15}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{162,181},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,21}</string>
                <key>spriteSize</key>
                <string>{157,118}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{550,1},{157,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,38}</string>
                <key>spriteSize</key>
                <string>{133,130}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{432,497},{133,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,28}</string>
                <key>spriteSize</key>
                <string>{137,104}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{593,459},{137,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,24}</string>
                <key>spriteSize</key>
                <string>{205,158}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,16}</string>
                <key>spriteSize</key>
                <string>{121,140}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{449,629},{121,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,25}</string>
                <key>spriteSize</key>
                <string>{127,148}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{1,649},{127,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,23}</string>
                <key>spriteSize</key>
                <string>{137,156}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{1,491},{137,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,15}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{307,275},{141,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{153,104}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{550,121},{153,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{157,104}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{709,1},{157,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{153,122}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{709,107},{153,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{123,148}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{342,827},{123,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{103,156}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{217,723},{103,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,4}</string>
                <key>spriteSize</key>
                <string>{107,160}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{1,799},{107,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{141,130}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{289,423},{141,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{155,104}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{868,1},{155,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{125,138}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{467,771},{125,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,18}</string>
                <key>spriteSize</key>
                <string>{105,160}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{110,799},{105,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{147,142}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{373,131},{147,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,26}</string>
                <key>spriteSize</key>
                <string>{165,128}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{383,1},{165,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,17}</string>
                <key>spriteSize</key>
                <string>{143,94}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{1,249},{143,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-10}</string>
                <key>spriteSize</key>
                <string>{163,106}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{208,73},{163,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-39}</string>
                <key>spriteSize</key>
                <string>{173,70}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{208,1},{173,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,-48}</string>
                <key>spriteSize</key>
                <string>{147,92}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{671,231},{147,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-49}</string>
                <key>spriteSize</key>
                <string>{159,86}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{1,161},{159,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{149,116}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{864,107},{149,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,20}</string>
                <key>spriteSize</key>
                <string>{147,152}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{864,225},{147,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{147,134}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{522,227},{147,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,13}</string>
                <key>spriteSize</key>
                <string>{143,146}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{818,379},{143,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{141,132}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{450,363},{141,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{141,144}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{1,345},{141,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{139,130}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{144,473},{139,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{146,325},{141,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,13}</string>
                <key>spriteSize</key>
                <string>{145,132}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{671,325},{145,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,5}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{285,555},{133,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,13}</string>
                <key>spriteSize</key>
                <string>{123,140}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{217,881},{123,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{125,148}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{322,677},{125,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{125,128}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{572,565},{125,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_feishe-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{133,116}</string>
                <key>spriteSourceSize</key>
                <string>{329,206}</string>
                <key>textureRect</key>
                <string>{{140,605},{133,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_feishe.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07c961fb4e282291f87a061f712a75ba:4779ff306740f2175287ed8c448606a2:69f77796d54570a01acc6a7b7f7e9d97$</string>
            <key>textureFileName</key>
            <string>gw_feishe.png</string>
        </dict>
    </dict>
</plist>
