<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_fengbaocichong-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{132,92}</string>
                <key>textureRect</key>
                <string>{{421,548},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,92}</string>
                <key>textureRect</key>
                <string>{{87,169},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,2}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{132,92}</string>
                <key>textureRect</key>
                <string>{{173,257},{84,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,0}</string>
                <key>spriteSize</key>
                <string>{80,86}</string>
                <key>spriteSourceSize</key>
                <string>{132,92}</string>
                <key>textureRect</key>
                <string>{{425,372},{80,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{104,86}</string>
                <key>spriteSourceSize</key>
                <string>{132,92}</string>
                <key>textureRect</key>
                <string>{{335,1},{104,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{104,82}</string>
                <key>spriteSourceSize</key>
                <string>{132,92}</string>
                <key>textureRect</key>
                <string>{{225,81},{104,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{132,92}</string>
                <key>textureRect</key>
                <string>{{115,87},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,92}</string>
                <key>textureRect</key>
                <string>{{331,89},{94,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{132,92}</string>
                <key>textureRect</key>
                <string>{{87,261},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{132,92}</string>
                <key>textureRect</key>
                <string>{{333,555},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{84,91}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{427,89},{84,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{82,89}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{173,347},{82,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{82,89}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{85,349},{82,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{80,89}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{1,533},{80,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{78,91}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{341,462},{78,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,91}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{161,794},{76,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{74,93}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{239,802},{74,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{76,93}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{327,643},{76,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{76,93}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{243,707},{76,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{80,91}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{85,528},{80,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{82,91}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{1,262},{82,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{84,91}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{1,169},{84,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{247,619},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,11}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{217,165},{92,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,19}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{108,84}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{115,1},{108,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-14}</string>
                <key>spriteSize</key>
                <string>{92,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{311,175},{92,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{1,91},{100,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-23}</string>
                <key>spriteSize</key>
                <string>{108,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,126}</string>
                <key>textureRect</key>
                <string>{{225,1},{108,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{405,722},{76,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{1,714},{78,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{82,86}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{169,438},{82,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{82,86}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{85,440},{82,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{78,88}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{83,621},{78,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{81,799},{76,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{253,527},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,88}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{1,355},{82,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,88}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{257,347},{82,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{163,706},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{321,738},{76,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{413,636},{78,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{82,86}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{1,445},{82,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{82,86}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{169,526},{82,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{78,88}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{1,624},{78,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{1,800},{76,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{167,614},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,88}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{341,372},{82,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,88}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{257,437},{82,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{81,711},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,26}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{102,144}</string>
                <key>textureRect</key>
                <string>{{311,253},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{80,86}</string>
                <key>spriteSourceSize</key>
                <string>{102,144}</string>
                <key>textureRect</key>
                <string>{{425,460},{80,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-20}</string>
                <key>spriteSize</key>
                <string>{70,86}</string>
                <key>spriteSourceSize</key>
                <string>{102,144}</string>
                <key>textureRect</key>
                <string>{{441,1},{70,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-29}</string>
                <key>spriteSize</key>
                <string>{70,86}</string>
                <key>spriteSourceSize</key>
                <string>{102,144}</string>
                <key>textureRect</key>
                <string>{{159,887},{70,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{102,144}</string>
                <key>textureRect</key>
                <string>{{405,182},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_fengbaocichong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,23}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{102,144}</string>
                <key>textureRect</key>
                <string>{{401,278},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_fengbaocichong_binhan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31eb82159de46ac33553a4ce97af393f:3a660ab2b615ec8ef4805bcdaa3dc6e0:c8f5d24619da5cf54f886893a8dbfb69$</string>
            <key>textureFileName</key>
            <string>gw_fengbaocichong_binhan.png</string>
        </dict>
    </dict>
</plist>
