<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_gongchong-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{95,109}</string>
                <key>spriteSourceSize</key>
                <string>{173,135}</string>
                <key>textureRect</key>
                <string>{{92,1},{95,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{91,103}</string>
                <key>spriteSourceSize</key>
                <string>{173,135}</string>
                <key>textureRect</key>
                <string>{{286,216},{91,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{95,101}</string>
                <key>spriteSourceSize</key>
                <string>{173,135}</string>
                <key>textureRect</key>
                <string>{{288,321},{95,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{111,107}</string>
                <key>spriteSourceSize</key>
                <string>{173,135}</string>
                <key>textureRect</key>
                <string>{{1,901},{111,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,9}</string>
                <key>spriteSize</key>
                <string>{107,113}</string>
                <key>spriteSourceSize</key>
                <string>{173,135}</string>
                <key>textureRect</key>
                <string>{{1,126},{107,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,2}</string>
                <key>spriteSize</key>
                <string>{89,123}</string>
                <key>spriteSourceSize</key>
                <string>{173,135}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,1}</string>
                <key>spriteSize</key>
                <string>{113,95}</string>
                <key>spriteSourceSize</key>
                <string>{173,135}</string>
                <key>textureRect</key>
                <string>{{288,424},{113,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,4}</string>
                <key>spriteSize</key>
                <string>{111,101}</string>
                <key>spriteSourceSize</key>
                <string>{173,135}</string>
                <key>textureRect</key>
                <string>{{395,885},{111,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,5}</string>
                <key>spriteSize</key>
                <string>{109,105}</string>
                <key>spriteSourceSize</key>
                <string>{173,135}</string>
                <key>textureRect</key>
                <string>{{96,784},{109,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,6}</string>
                <key>spriteSize</key>
                <string>{97,107}</string>
                <key>spriteSourceSize</key>
                <string>{173,135}</string>
                <key>textureRect</key>
                <string>{{96,351},{97,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{93,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{1,351},{93,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{95,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{1,241},{95,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{93,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{1,461},{93,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{93,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{1,571},{93,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{93,106}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{189,1},{93,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{93,106}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{96,460},{93,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{91,104}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{284,1},{91,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{91,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{377,1},{91,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{91,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{395,781},{91,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{91,104}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{195,327},{91,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{91,106}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{96,568},{91,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{91,106}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{96,676},{91,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{93,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{1,681},{93,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{93,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{1,791},{93,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,8}</string>
                <key>spriteSize</key>
                <string>{95,106}</string>
                <key>spriteSourceSize</key>
                <string>{141,122}</string>
                <key>textureRect</key>
                <string>{{110,112},{95,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{107,92}</string>
                <key>spriteSourceSize</key>
                <string>{141,122}</string>
                <key>textureRect</key>
                <string>{{470,205},{107,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{109,94}</string>
                <key>spriteSourceSize</key>
                <string>{141,122}</string>
                <key>textureRect</key>
                <string>{{385,315},{109,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{115,96}</string>
                <key>spriteSourceSize</key>
                <string>{141,122}</string>
                <key>textureRect</key>
                <string>{{470,1},{115,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{121,98}</string>
                <key>spriteSourceSize</key>
                <string>{141,122}</string>
                <key>textureRect</key>
                <string>{{389,105},{121,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{107,92}</string>
                <key>spriteSourceSize</key>
                <string>{141,122}</string>
                <key>textureRect</key>
                <string>{{512,99},{107,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{107,80}</string>
                <key>spriteSourceSize</key>
                <string>{141,122}</string>
                <key>textureRect</key>
                <string>{{587,1},{107,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-13}</string>
                <key>spriteSize</key>
                <string>{107,78}</string>
                <key>spriteSourceSize</key>
                <string>{141,122}</string>
                <key>textureRect</key>
                <string>{{381,521},{107,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-13}</string>
                <key>spriteSize</key>
                <string>{107,78}</string>
                <key>spriteSourceSize</key>
                <string>{141,122}</string>
                <key>textureRect</key>
                <string>{{381,521},{107,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-13}</string>
                <key>spriteSize</key>
                <string>{107,78}</string>
                <key>spriteSourceSize</key>
                <string>{141,122}</string>
                <key>textureRect</key>
                <string>{{381,521},{107,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,105}</string>
                <key>textureRect</key>
                <string>{{114,891},{95,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{93,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,105}</string>
                <key>textureRect</key>
                <string>{{189,675},{93,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{93,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,105}</string>
                <key>textureRect</key>
                <string>{{207,782},{93,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{91,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,105}</string>
                <key>textureRect</key>
                <string>{{211,889},{91,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,105}</string>
                <key>textureRect</key>
                <string>{{304,889},{89,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,105}</string>
                <key>textureRect</key>
                <string>{{195,220},{89,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,105}</string>
                <key>textureRect</key>
                <string>{{207,109},{89,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{91,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,105}</string>
                <key>textureRect</key>
                <string>{{302,782},{91,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{93,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,105}</string>
                <key>textureRect</key>
                <string>{{284,675},{93,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{95,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,105}</string>
                <key>textureRect</key>
                <string>{{189,568},{95,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{95,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,107}</string>
                <key>textureRect</key>
                <string>{{191,460},{95,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{93,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,107}</string>
                <key>textureRect</key>
                <string>{{286,567},{93,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{89,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,107}</string>
                <key>textureRect</key>
                <string>{{298,107},{89,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{89,101}</string>
                <key>spriteSourceSize</key>
                <string>{99,107}</string>
                <key>textureRect</key>
                <string>{{379,212},{89,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{91,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,107}</string>
                <key>textureRect</key>
                <string>{{379,674},{91,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_gongchong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,107}</string>
                <key>spriteSourceSize</key>
                <string>{99,107}</string>
                <key>textureRect</key>
                <string>{{98,241},{95,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_gongchong_binhan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec5e9de048974bf783e7ebdf6781802d:3658bb3034aaf7289e0359eab8f4906a:be1c565f8ccb5f499b2d4bfd36c409ac$</string>
            <key>textureFileName</key>
            <string>gw_gongchong_binhan.png</string>
        </dict>
    </dict>
</plist>
