<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_ganransheshou-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{131,105},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{132,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{561,105},{132,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,10}</string>
                <key>spriteSize</key>
                <string>{134,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{565,1},{134,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,10}</string>
                <key>spriteSize</key>
                <string>{138,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{145,1},{138,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,8}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{901,313},{120,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,9}</string>
                <key>spriteSize</key>
                <string>{138,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{425,1},{138,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{142,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{138,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{285,1},{138,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,10}</string>
                <key>spriteSize</key>
                <string>{130,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{835,105},{130,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{109,509},{104,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,8}</string>
                <key>spriteSize</key>
                <string>{108,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{361,313},{108,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,8}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{1,503},{106,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{443,415},{104,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,8}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{329,515},{104,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,7}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{471,313},{106,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{227,399},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{1,605},{104,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{191,715},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{93,813},{96,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{1,709},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{1,919},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{102,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{103,917},{102,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-4}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{113,405},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-5}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{115,299},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-4}</string>
                <key>spriteSize</key>
                <string>{112,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{247,297},{112,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{112,98}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{1,299},{112,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{106,98}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{335,415},{106,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-7}</string>
                <key>spriteSize</key>
                <string>{90,104}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{1,813},{90,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-26}</string>
                <key>spriteSize</key>
                <string>{106,92}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{221,503},{106,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-18}</string>
                <key>spriteSize</key>
                <string>{114,88}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{131,209},{114,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{114,86}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{1,211},{114,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-22}</string>
                <key>spriteSize</key>
                <string>{114,86}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{247,209},{114,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,9}</string>
                <key>spriteSize</key>
                <string>{126,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{519,209},{126,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{128,104}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{1,105},{128,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,9}</string>
                <key>spriteSize</key>
                <string>{130,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{695,107},{130,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,9}</string>
                <key>spriteSize</key>
                <string>{132,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{835,1},{132,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,9}</string>
                <key>spriteSize</key>
                <string>{134,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{425,103},{134,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,10}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{701,1},{132,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,9}</string>
                <key>spriteSize</key>
                <string>{130,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{827,209},{130,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,9}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{261,105},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,9}</string>
                <key>spriteSize</key>
                <string>{126,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{647,211},{126,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,23}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{215,597},{104,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,10}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{579,315},{106,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,8}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{901,413},{116,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,21}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{391,207},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{124,104}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{775,313},{124,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{110,102}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{1,399},{110,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,20}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{107,613},{104,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_ganransheshou.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f209e48a3bbb2222b0d138c6c9636e03:d667b716707043d0a0d2c88523b5bd23:b1bfee19719125080a3a56ba09e2e382$</string>
            <key>textureFileName</key>
            <string>gw_ganransheshou.png</string>
        </dict>
    </dict>
</plist>
