<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_ganransheshou-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{127,101}</string>
                <key>spriteSourceSize</key>
                <string>{153,105}</string>
                <key>textureRect</key>
                <string>{{528,106},{127,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{133,103}</string>
                <key>spriteSourceSize</key>
                <string>{153,105}</string>
                <key>textureRect</key>
                <string>{{561,1},{133,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{133,103}</string>
                <key>spriteSourceSize</key>
                <string>{153,105}</string>
                <key>textureRect</key>
                <string>{{696,1},{133,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{137,101}</string>
                <key>spriteSourceSize</key>
                <string>{153,105}</string>
                <key>textureRect</key>
                <string>{{144,1},{137,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{121,99}</string>
                <key>spriteSourceSize</key>
                <string>{153,105}</string>
                <key>textureRect</key>
                <string>{{130,312},{121,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{137,101}</string>
                <key>spriteSourceSize</key>
                <string>{153,105}</string>
                <key>textureRect</key>
                <string>{{283,1},{137,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{141,101}</string>
                <key>spriteSourceSize</key>
                <string>{153,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{137,101}</string>
                <key>spriteSourceSize</key>
                <string>{153,105}</string>
                <key>textureRect</key>
                <string>{{422,1},{137,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{129,101}</string>
                <key>spriteSourceSize</key>
                <string>{153,105}</string>
                <key>textureRect</key>
                <string>{{267,104},{129,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{105,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,107}</string>
                <key>textureRect</key>
                <string>{{612,387},{105,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{107,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,107}</string>
                <key>textureRect</key>
                <string>{{638,284},{107,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{107,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,107}</string>
                <key>textureRect</key>
                <string>{{503,314},{107,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{105,99}</string>
                <key>spriteSourceSize</key>
                <string>{117,107}</string>
                <key>textureRect</key>
                <string>{{247,521},{105,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{105,99}</string>
                <key>spriteSourceSize</key>
                <string>{117,107}</string>
                <key>textureRect</key>
                <string>{{116,524},{105,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{105,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,107}</string>
                <key>textureRect</key>
                <string>{{499,417},{105,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{107,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,107}</string>
                <key>textureRect</key>
                <string>{{390,415},{107,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{103,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,107}</string>
                <key>textureRect</key>
                <string>{{1,609},{103,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{99,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,107}</string>
                <key>textureRect</key>
                <string>{{354,621},{99,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{97,103}</string>
                <key>spriteSourceSize</key>
                <string>{117,107}</string>
                <key>textureRect</key>
                <string>{{223,622},{97,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{101,103}</string>
                <key>spriteSourceSize</key>
                <string>{117,107}</string>
                <key>textureRect</key>
                <string>{{719,423},{101,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{99,103}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{461,520},{99,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,9}</string>
                <key>spriteSize</key>
                <string>{101,99}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{606,490},{101,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{747,316},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{109,105}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{772,209},{109,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{111,101}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{390,312},{111,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{113,99}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{1,417},{113,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,7}</string>
                <key>spriteSize</key>
                <string>{107,99}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{883,209},{107,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{106,625},{89,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-18}</string>
                <key>spriteSize</key>
                <string>{107,93}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{883,310},{107,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{113,89}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{1,518},{113,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{113,87}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{657,106},{113,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{113,87}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{657,195},{113,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{126,102}</string>
                <key>spriteSourceSize</key>
                <string>{134,102}</string>
                <key>textureRect</key>
                <string>{{397,208},{126,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{134,102}</string>
                <key>textureRect</key>
                <string>{{398,104},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,102}</string>
                <key>spriteSourceSize</key>
                <string>{134,102}</string>
                <key>textureRect</key>
                <string>{{135,104},{130,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{132,100}</string>
                <key>spriteSourceSize</key>
                <string>{134,102}</string>
                <key>textureRect</key>
                <string>{{1,104},{132,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{132,102}</string>
                <key>spriteSourceSize</key>
                <string>{134,102}</string>
                <key>textureRect</key>
                <string>{{831,1},{132,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{132,102}</string>
                <key>spriteSourceSize</key>
                <string>{134,102}</string>
                <key>textureRect</key>
                <string>{{831,105},{132,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,102}</string>
                <key>spriteSourceSize</key>
                <string>{134,102}</string>
                <key>textureRect</key>
                <string>{{1,206},{130,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{134,102}</string>
                <key>textureRect</key>
                <string>{{267,207},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{134,102}</string>
                <key>textureRect</key>
                <string>{{133,208},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{103,101}</string>
                <key>spriteSourceSize</key>
                <string>{129,123}</string>
                <key>textureRect</key>
                <string>{{854,405},{103,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{105,101}</string>
                <key>spriteSourceSize</key>
                <string>{129,123}</string>
                <key>textureRect</key>
                <string>{{247,418},{105,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{115,109}</string>
                <key>spriteSourceSize</key>
                <string>{129,123}</string>
                <key>textureRect</key>
                <string>{{130,413},{115,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{127,105}</string>
                <key>spriteSourceSize</key>
                <string>{129,123}</string>
                <key>textureRect</key>
                <string>{{1,310},{127,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{125,105}</string>
                <key>spriteSourceSize</key>
                <string>{129,123}</string>
                <key>textureRect</key>
                <string>{{263,311},{125,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{129,123}</string>
                <key>textureRect</key>
                <string>{{525,209},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganransheshou-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{105,101}</string>
                <key>spriteSourceSize</key>
                <string>{129,123}</string>
                <key>textureRect</key>
                <string>{{354,518},{105,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_ganransheshou_binhan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cbf63b7376e77ab0e760629934353cf:cfe7c0f9a93fecbf8d36d2646dced173:55a7acd20f728ea3ab6bbce2136c39aa$</string>
            <key>textureFileName</key>
            <string>gw_ganransheshou_binhan.png</string>
        </dict>
    </dict>
</plist>
