<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_ganranshizu-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,15}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{731,293},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,15}</string>
                <key>spriteSize</key>
                <string>{114,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{677,173},{114,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,20}</string>
                <key>spriteSize</key>
                <string>{180,114}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{1,107},{180,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,15}</string>
                <key>spriteSize</key>
                <string>{196,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,16}</string>
                <key>spriteSize</key>
                <string>{192,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{199,1},{192,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,6}</string>
                <key>spriteSize</key>
                <string>{156,90}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{393,1},{156,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,4}</string>
                <key>spriteSize</key>
                <string>{150,88}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{551,1},{150,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,12}</string>
                <key>spriteSize</key>
                <string>{108,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{619,377},{108,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,14}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{407,409},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{102,114}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{1,429},{102,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,8}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{517,405},{98,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,8}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{105,523},{96,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,8}</string>
                <key>spriteSize</key>
                <string>{94,110}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{417,519},{94,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,10}</string>
                <key>spriteSize</key>
                <string>{94,102}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{609,585},{94,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,12}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{1,545},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,12}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{517,305},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,13}</string>
                <key>spriteSize</key>
                <string>{102,100}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{723,503},{102,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,14}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{729,399},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,15}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{841,391},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,15}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{297,305},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,9}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{225,411},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,6}</string>
                <key>spriteSize</key>
                <string>{102,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{217,517},{102,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,6}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{111,427},{104,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,7}</string>
                <key>spriteSize</key>
                <string>{110,96}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{619,279},{110,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,8}</string>
                <key>spriteSize</key>
                <string>{112,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{1,223},{112,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,8}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{905,291},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-8}</string>
                <key>spriteSize</key>
                <string>{94,112}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{321,519},{94,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-26}</string>
                <key>spriteSize</key>
                <string>{118,102}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{835,83},{118,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-14}</string>
                <key>spriteSize</key>
                <string>{130,90}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{703,81},{130,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-15}</string>
                <key>spriteSize</key>
                <string>{142,80}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{849,1},{142,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-22}</string>
                <key>spriteSize</key>
                <string>{144,78}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{703,1},{144,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,15}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{115,321},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,15}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{1,323},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,15}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{793,187},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,14}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{505,201},{112,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,15}</string>
                <key>spriteSize</key>
                <string>{114,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{183,109},{114,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,15}</string>
                <key>spriteSize</key>
                <string>{112,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{183,215},{112,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,15}</string>
                <key>spriteSize</key>
                <string>{112,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{391,199},{112,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,14}</string>
                <key>spriteSize</key>
                <string>{110,102}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{905,187},{110,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{407,305},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,23}</string>
                <key>spriteSize</key>
                <string>{94,108}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{417,631},{94,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,14}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{299,109},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,13}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{617,477},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,22}</string>
                <key>spriteSize</key>
                <string>{124,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{393,93},{124,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,16}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{551,91},{124,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,14}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{837,497},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,22}</string>
                <key>spriteSize</key>
                <string>{94,110}</string>
                <key>spriteSourceSize</key>
                <string>{256,154}</string>
                <key>textureRect</key>
                <string>{{513,523},{94,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_ganranshizu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aae0933e4c96831da420207f4a0a2ec0:1b7edb7fed68c1f533cc5fdfa36d5596:421c193a3d0a3f3f36122c3c20a2e7f5$</string>
            <key>textureFileName</key>
            <string>gw_ganranshizu.png</string>
        </dict>
    </dict>
</plist>
