<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_ganranshizu-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-4}</string>
                <key>spriteSize</key>
                <string>{108,103}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{584,1},{108,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-4}</string>
                <key>spriteSize</key>
                <string>{114,105}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{398,219},{114,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,1}</string>
                <key>spriteSize</key>
                <string>{180,115}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{1,237},{180,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-4}</string>
                <key>spriteSize</key>
                <string>{196,105}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{386,1},{196,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-3}</string>
                <key>spriteSize</key>
                <string>{192,107}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{221,343},{192,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-13}</string>
                <key>spriteSize</key>
                <string>{156,89}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{839,403},{156,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-14}</string>
                <key>spriteSize</key>
                <string>{150,89}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{843,299},{150,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-7}</string>
                <key>spriteSize</key>
                <string>{108,97}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{912,1},{108,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{290,223},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{102,112}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{99,119},{102,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{100,116}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{1,119},{96,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{94,112}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{103,1},{94,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{94,102}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{634,106},{94,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,3}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{745,303},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,4}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{643,318},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{694,1},{104,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{106,104}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{514,214},{106,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{415,326},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,20}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{622,214},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{528,108},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,12}</string>
                <key>spriteSize</key>
                <string>{104,98}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{732,203},{104,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,12}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{838,203},{104,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,13}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{912,100},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,14}</string>
                <key>spriteSize</key>
                <string>{112,98}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{730,103},{112,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,14}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{800,1},{110,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-3}</string>
                <key>spriteSize</key>
                <string>{94,110}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{199,1},{94,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-20}</string>
                <key>spriteSize</key>
                <string>{116,102}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{525,320},{116,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{705,420},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{142,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{561,424},{142,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{144,78}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{415,432},{144,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-4}</string>
                <key>spriteSize</key>
                <string>{108,103}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{584,1},{108,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-4}</string>
                <key>spriteSize</key>
                <string>{114,105}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{398,219},{114,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,1}</string>
                <key>spriteSize</key>
                <string>{180,115}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{1,237},{180,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-4}</string>
                <key>spriteSize</key>
                <string>{196,105}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{386,1},{196,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-3}</string>
                <key>spriteSize</key>
                <string>{192,107}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{221,343},{192,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-13}</string>
                <key>spriteSize</key>
                <string>{156,89}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{839,403},{156,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-14}</string>
                <key>spriteSize</key>
                <string>{150,89}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{843,299},{150,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-7}</string>
                <key>spriteSize</key>
                <string>{108,97}</string>
                <key>spriteSourceSize</key>
                <string>{256,117}</string>
                <key>textureRect</key>
                <string>{{912,1},{108,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{93,108}</string>
                <key>spriteSourceSize</key>
                <string>{123,118}</string>
                <key>textureRect</key>
                <string>{{203,113},{93,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{89,108}</string>
                <key>spriteSourceSize</key>
                <string>{123,118}</string>
                <key>textureRect</key>
                <string>{{295,1},{89,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{105,108}</string>
                <key>spriteSourceSize</key>
                <string>{123,118}</string>
                <key>textureRect</key>
                <string>{{183,233},{105,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{123,104}</string>
                <key>spriteSourceSize</key>
                <string>{123,118}</string>
                <key>textureRect</key>
                <string>{{403,108},{123,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{123,108}</string>
                <key>spriteSourceSize</key>
                <string>{123,118}</string>
                <key>textureRect</key>
                <string>{{96,354},{123,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{103,106}</string>
                <key>spriteSourceSize</key>
                <string>{123,118}</string>
                <key>textureRect</key>
                <string>{{298,111},{103,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ganranshizu-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{93,110}</string>
                <key>spriteSourceSize</key>
                <string>{123,118}</string>
                <key>textureRect</key>
                <string>{{1,354},{93,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_ganranshizu_binhan.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b0a3f28956ba6cbe147e7e9a3f45f77:8278a64d9f2cb6a2afc67ca040d610cb:cfd97da84cecbb759cee737937afb167$</string>
            <key>textureFileName</key>
            <string>gw_ganranshizu_binhan.png</string>
        </dict>
    </dict>
</plist>
