<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_huadujinwei-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{141,109}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{154,205},{141,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{117,103}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{360,764},{117,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{107,109}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{909,110},{107,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,1}</string>
                <key>spriteSize</key>
                <string>{115,111}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{120,843},{115,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,6}</string>
                <key>spriteSize</key>
                <string>{117,123}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{1,843},{117,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{111,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{909,1},{111,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-2}</string>
                <key>spriteSize</key>
                <string>{143,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{480,1},{143,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,1}</string>
                <key>spriteSize</key>
                <string>{141,111}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{313,100},{141,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{139,109}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{1,409},{139,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{141,109}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{1,298},{141,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{121,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{678,643},{121,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{119,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{237,873},{119,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{119,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{358,873},{119,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{121,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{801,655},{121,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{1,736},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{809,548},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{127,103}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{271,637},{127,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{129,103}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{412,542},{129,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{131,103}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{138,534},{131,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{133,103}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{851,334},{133,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{133,103}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{426,328},{133,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{133,103}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{279,425},{133,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{133,103}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{561,328},{133,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{131,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{279,530},{131,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{129,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{547,433},{129,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{125,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{134,639},{125,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{121,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{237,764},{121,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{141,109}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{625,1},{141,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{135,109}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{142,423},{135,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-1}</string>
                <key>spriteSize</key>
                <string>{141,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{297,213},{141,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{151,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{160,98},{151,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-7}</string>
                <key>spriteSize</key>
                <string>{151,103}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{1,193},{151,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{153,97}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{325,1},{153,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{157,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{1,96},{157,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-19}</string>
                <key>spriteSize</key>
                <string>{159,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{164,1},{159,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-21}</string>
                <key>spriteSize</key>
                <string>{161,93}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{139,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{768,1},{139,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{137,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{440,219},{137,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{579,219},{135,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{131,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{831,439},{131,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{131,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{414,433},{131,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{129,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{678,536},{129,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{129,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{547,540},{129,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{131,103}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{1,631},{131,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{133,103}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{696,431},{133,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{137,103}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{287,320},{137,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{139,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{768,110},{139,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{139,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{599,112},{139,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{137,111}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{881,221},{137,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-1}</string>
                <key>spriteSize</key>
                <string>{141,109}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{456,108},{141,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{141,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{144,316},{141,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{139,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{740,217},{139,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{133,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{716,324},{133,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-1}</string>
                <key>spriteSize</key>
                <string>{135,109}</string>
                <key>spriteSourceSize</key>
                <string>{183,135}</string>
                <key>textureRect</key>
                <string>{{1,520},{135,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_huadujinwei.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37af441fe68d96d22c1e6ae65e268c73:88c96dcc37e040328afc823223a8c57d:61ac00f610251bc002ffa8441363f490$</string>
            <key>textureFileName</key>
            <string>gw_huadujinwei.png</string>
        </dict>
    </dict>
</plist>
