<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_huimiepengu-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{88,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{185,436},{88,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-18}</string>
                <key>spriteSize</key>
                <string>{88,83}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{183,523},{88,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-19}</string>
                <key>spriteSize</key>
                <string>{88,81}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{91,531},{88,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{88,79}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{273,531},{88,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{86,87}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{181,608},{86,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-19}</string>
                <key>spriteSize</key>
                <string>{104,81}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{131,1},{104,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-19}</string>
                <key>spriteSize</key>
                <string>{104,81}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{237,1},{104,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{98,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{343,1},{98,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-18}</string>
                <key>spriteSize</key>
                <string>{92,83}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{229,84},{92,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{88,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{93,444},{88,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{88,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{1,480},{88,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{88,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{369,442},{88,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{185,349},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{1,215},{90,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{321,179},{90,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{413,179},{90,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-16}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{185,260},{90,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-16}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{93,268},{90,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{93,357},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-17}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{1,393},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{369,268},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{88,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{275,444},{88,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{88,81}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{1,567},{88,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{86,79}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{91,614},{86,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-21}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{1,650},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,119}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62.5,58}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{443,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62.5,58}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{443,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62.5,58}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{443,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{369,355},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{277,357},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-15}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{323,88},{90,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{1,122},{90,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-15}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{229,169},{90,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{1,304},{90,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-15}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{415,88},{90,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-15}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{93,177},{90,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{90,87}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{277,268},{90,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{88,85}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{185,436},{88,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{88,81}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{365,529},{88,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{84,81}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{89,695},{84,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{1,729},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiepengu-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{96,91}</string>
                <key>spriteSourceSize</key>
                <string>{128,119}</string>
                <key>textureRect</key>
                <string>{{131,84},{96,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_huimiepengu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:302f4c693d19bbf9f0d08d6d6f7b73a0:bae61709e7709a9376a2b243a3744038:f08e084bf200fb85f873b394810ad47d$</string>
            <key>textureFileName</key>
            <string>gw_huimiepengu.png</string>
        </dict>
    </dict>
</plist>
