<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_huimiebing-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-12}</string>
                <key>spriteSize</key>
                <string>{106,95}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{345,199},{106,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{116,101}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{251,94},{116,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{124,103}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{122,93}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{127,1},{122,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,14}</string>
                <key>spriteSize</key>
                <string>{116,115}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{371,1},{116,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-18}</string>
                <key>spriteSize</key>
                <string>{100,85}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{1,662},{100,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-21}</string>
                <key>spriteSize</key>
                <string>{100,87}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{105,656},{100,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-20}</string>
                <key>spriteSize</key>
                <string>{98,91}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{311,589},{98,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-13}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{103,745},{96,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{92,105}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{297,783},{92,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{92,107}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{1,852},{92,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-17}</string>
                <key>spriteSize</key>
                <string>{92,107}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{401,698},{92,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-18}</string>
                <key>spriteSize</key>
                <string>{94,105}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{417,490},{94,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-19}</string>
                <key>spriteSize</key>
                <string>{94,101}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{1,749},{94,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-20}</string>
                <key>spriteSize</key>
                <string>{96,95}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{207,678},{96,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-20}</string>
                <key>spriteSize</key>
                <string>{96,99}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{411,597},{96,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-19}</string>
                <key>spriteSize</key>
                <string>{94,99}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{305,682},{94,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-17}</string>
                <key>spriteSize</key>
                <string>{94,99}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{201,775},{94,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-13}</string>
                <key>spriteSize</key>
                <string>{94,99}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{97,836},{94,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{92,103}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{193,876},{92,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{104,95}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{1,468},{104,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-3}</string>
                <key>spriteSize</key>
                <string>{100,97}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{315,490},{100,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,13}</string>
                <key>spriteSize</key>
                <string>{100,97}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{209,579},{100,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,17}</string>
                <key>spriteSize</key>
                <string>{102,95}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{107,474},{102,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-21}</string>
                <key>spriteSize</key>
                <string>{102,83}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{105,571},{102,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-26}</string>
                <key>spriteSize</key>
                <string>{106,77}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{1,389},{106,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-26}</string>
                <key>spriteSize</key>
                <string>{112,79}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{369,118},{112,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-12}</string>
                <key>spriteSize</key>
                <string>{102,95}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{1,565},{102,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{102,95}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{325,393},{102,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-12}</string>
                <key>spriteSize</key>
                <string>{104,95}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{335,296},{104,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-12}</string>
                <key>spriteSize</key>
                <string>{106,93}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{227,292},{106,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{110,93}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{233,197},{110,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-11}</string>
                <key>spriteSize</key>
                <string>{108,93}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{1,294},{108,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-13}</string>
                <key>spriteSize</key>
                <string>{106,93}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{111,379},{106,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-14}</string>
                <key>spriteSize</key>
                <string>{104,93}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{219,387},{104,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-13}</string>
                <key>spriteSize</key>
                <string>{102,95}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{211,482},{102,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{110,93}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{115,284},{110,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{112,93}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{119,189},{112,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-13}</string>
                <key>spriteSize</key>
                <string>{116,91}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{127,96},{116,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-10}</string>
                <key>spriteSize</key>
                <string>{118,91}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{251,1},{118,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{116,91}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{1,106},{116,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiebing-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-12}</string>
                <key>spriteSize</key>
                <string>{112,93}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{1,199},{112,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_huimiebing.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:501eb4eaf7fe670111968e295684333b:e166272071f4d3d6ff760b715a1c98f3:47f0663e34d4f8a2332a47bd10862f37$</string>
            <key>textureFileName</key>
            <string>gw_huimiebing.png</string>
        </dict>
    </dict>
</plist>
