<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_huolang-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{101,92}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{336,97},{101,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{1,575},{95,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{93,88}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{1,665},{93,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{95,86}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{195,567},{95,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,13}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{231,73},{103,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,11}</string>
                <key>spriteSize</key>
                <string>{99,100}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{211,173},{99,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,8}</string>
                <key>spriteSize</key>
                <string>{97,96}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{102,373},{97,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{292,577},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{97,92}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{300,389},{97,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{195,655},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{98,661},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{1,755},{91,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{387,577},{91,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{94,757},{91,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,4}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{383,673},{91,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,4}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{383,767},{91,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,4}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{286,769},{91,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,4}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{187,847},{91,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,4}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{94,851},{91,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{379,861},{91,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{1,851},{91,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{290,673},{91,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{193,751},{91,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{99,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{407,291},{99,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{101,100}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{108,171},{101,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{121,84}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-15}</string>
                <key>spriteSize</key>
                <string>{115,70}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{124,1},{115,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-17}</string>
                <key>spriteSize</key>
                <string>{115,70}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{241,1},{115,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-17}</string>
                <key>spriteSize</key>
                <string>{115,70}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{241,1},{115,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-17}</string>
                <key>spriteSize</key>
                <string>{115,70}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{241,1},{115,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{298,483},{95,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{395,483},{95,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{100,471},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{97,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{1,383},{97,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{99,96}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{205,275},{99,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{104,273},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{1,283},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{101,98}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{1,183},{101,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,7}</string>
                <key>spriteSize</key>
                <string>{99,96}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{306,291},{99,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{99,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{407,387},{99,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{97,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{201,373},{97,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{98,567},{95,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{107,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{358,1},{107,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,13}</string>
                <key>spriteSize</key>
                <string>{105,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{1,87},{105,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,15}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{1,479},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,8}</string>
                <key>spriteSize</key>
                <string>{95,96}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{201,469},{95,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,9}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{413,191},{97,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,13}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{312,191},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,10}</string>
                <key>spriteSize</key>
                <string>{105,96}</string>
                <key>spriteSourceSize</key>
                <string>{147,124}</string>
                <key>textureRect</key>
                <string>{{124,73},{105,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_huolang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26da1c0b9da0e862d145177d6952dda3:bb207fee1501828c6edce5643d664138:f8b358ba96cc3ae8dd4615d1c67bbc90$</string>
            <key>textureFileName</key>
            <string>gw_huolang.png</string>
        </dict>
    </dict>
</plist>
