<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_huadujinwei-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{142,109}</string>
                <key>spriteSourceSize</key>
                <string>{166,123}</string>
                <key>textureRect</key>
                <string>{{153,205},{142,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{118,103}</string>
                <key>spriteSourceSize</key>
                <string>{166,123}</string>
                <key>textureRect</key>
                <string>{{651,649},{118,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-6}</string>
                <key>spriteSize</key>
                <string>{106,109}</string>
                <key>spriteSourceSize</key>
                <string>{166,123}</string>
                <key>textureRect</key>
                <string>{{121,838},{106,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-5}</string>
                <key>spriteSize</key>
                <string>{114,111}</string>
                <key>spriteSourceSize</key>
                <string>{166,123}</string>
                <key>textureRect</key>
                <string>{{907,1},{114,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{118,123}</string>
                <key>spriteSourceSize</key>
                <string>{166,123}</string>
                <key>textureRect</key>
                <string>{{1,838},{118,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{166,123}</string>
                <key>textureRect</key>
                <string>{{349,861},{110,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{144,105}</string>
                <key>spriteSourceSize</key>
                <string>{166,123}</string>
                <key>textureRect</key>
                <string>{{477,1},{144,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{140,111}</string>
                <key>spriteSourceSize</key>
                <string>{166,123}</string>
                <key>textureRect</key>
                <string>{{455,108},{140,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{140,109}</string>
                <key>spriteSourceSize</key>
                <string>{166,123}</string>
                <key>textureRect</key>
                <string>{{297,212},{140,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{142,109}</string>
                <key>spriteSourceSize</key>
                <string>{166,123}</string>
                <key>textureRect</key>
                <string>{{1,298},{142,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{120,108}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{393,652},{120,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,108}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{229,861},{118,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,108}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{229,751},{120,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{120,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{797,544},{120,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{122,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{527,645},{122,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{124,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{401,544},{124,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{545,539},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{130,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{413,438},{130,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{130,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{269,537},{130,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{575,325},{132,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{423,332},{132,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{279,431},{132,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{135,535},{132,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{135,641},{130,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{1,730},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{124,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{267,643},{124,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-ctrl_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{122,108}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{673,539},{122,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{140,109}</string>
                <key>spriteSourceSize</key>
                <string>{168,129}</string>
                <key>textureRect</key>
                <string>{{145,316},{140,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{134,109}</string>
                <key>spriteSourceSize</key>
                <string>{168,129}</string>
                <key>textureRect</key>
                <string>{{439,221},{134,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{140,105}</string>
                <key>spriteSourceSize</key>
                <string>{168,129}</string>
                <key>textureRect</key>
                <string>{{1,409},{140,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{150,105}</string>
                <key>spriteSourceSize</key>
                <string>{168,129}</string>
                <key>textureRect</key>
                <string>{{159,98},{150,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{150,103}</string>
                <key>spriteSourceSize</key>
                <string>{168,129}</string>
                <key>textureRect</key>
                <string>{{1,193},{150,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{152,97}</string>
                <key>spriteSourceSize</key>
                <string>{168,129}</string>
                <key>textureRect</key>
                <string>{{323,1},{152,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-15}</string>
                <key>spriteSize</key>
                <string>{156,95}</string>
                <key>spriteSourceSize</key>
                <string>{168,129}</string>
                <key>textureRect</key>
                <string>{{1,96},{156,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-16}</string>
                <key>spriteSize</key>
                <string>{158,95}</string>
                <key>spriteSourceSize</key>
                <string>{168,129}</string>
                <key>textureRect</key>
                <string>{{163,1},{158,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-die_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-18}</string>
                <key>spriteSize</key>
                <string>{160,93}</string>
                <key>spriteSourceSize</key>
                <string>{168,129}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{767,1},{138,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{136,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{597,217},{136,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{134,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{287,323},{134,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{132,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{1,516},{132,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{130,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{557,431},{130,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{128,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{689,433},{128,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{128,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{819,438},{128,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{1,624},{132,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{709,327},{132,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{875,114},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{875,220},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{597,109},{138,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{136,110}</string>
                <key>spriteSourceSize</key>
                <string>{150,112}</string>
                <key>textureRect</key>
                <string>{{737,109},{136,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{142,110}</string>
                <key>spriteSourceSize</key>
                <string>{150,112}</string>
                <key>textureRect</key>
                <string>{{311,100},{142,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{142,106}</string>
                <key>spriteSourceSize</key>
                <string>{150,112}</string>
                <key>textureRect</key>
                <string>{{623,1},{142,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,112}</string>
                <key>textureRect</key>
                <string>{{735,221},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{134,106}</string>
                <key>spriteSourceSize</key>
                <string>{150,112}</string>
                <key>textureRect</key>
                <string>{{143,427},{134,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huadujinwei-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{150,112}</string>
                <key>textureRect</key>
                <string>{{873,326},{134,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_huadujinwei_binhan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82b74c183c43399ddfe40f53dd94cb55:19426767a7b846306a1486dd4e1cd465:e00425cced5352754bc414c9d4f0f724$</string>
            <key>textureFileName</key>
            <string>gw_huadujinwei_binhan.png</string>
        </dict>
    </dict>
</plist>
