<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_huolang-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,92}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{412,373},{99,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{97,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{202,731},{97,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{97,94}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{407,652},{97,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{1,934},{95,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{98,934},{95,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{99,92}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{103,580},{99,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{99,92}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{1,648},{99,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,95}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{307,560},{98,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{100,95}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{1,362},{100,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{1,459},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{100,91}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{307,467},{100,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{100,91}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{205,541},{100,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{98,89}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{407,561},{98,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{96,87}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{301,751},{96,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{96,87}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{199,823},{96,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{94,91}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{297,840},{94,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{96,91}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{403,748},{96,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{1,839},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{96,95}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{101,771},{96,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{98,95}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{204,634},{98,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,95}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{102,674},{98,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{100,95}</string>
                <key>spriteSourceSize</key>
                <string>{124,105}</string>
                <key>textureRect</key>
                <string>{{318,276},{100,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{98,95}</string>
                <key>spriteSourceSize</key>
                <string>{124,105}</string>
                <key>textureRect</key>
                <string>{{1,742},{98,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{112,97}</string>
                <key>spriteSourceSize</key>
                <string>{124,105}</string>
                <key>textureRect</key>
                <string>{{116,1},{112,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{124,105}</string>
                <key>textureRect</key>
                <string>{{1,97},{112,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{124,105}</string>
                <key>textureRect</key>
                <string>{{230,1},{112,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{124,105}</string>
                <key>textureRect</key>
                <string>{{344,1},{112,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{124,105}</string>
                <key>textureRect</key>
                <string>{{230,80},{112,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{310,373},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{205,447},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{208,351},{100,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{103,390},{100,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{102,96}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{110,198},{102,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{102,96}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{1,264},{102,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,96}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{344,80},{104,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{224,159},{104,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{102,96}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{330,178},{102,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{214,255},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{103,486},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{1,554},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{113,94}</string>
                <key>spriteSourceSize</key>
                <string>{119,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{107,86}</string>
                <key>spriteSourceSize</key>
                <string>{119,100}</string>
                <key>textureRect</key>
                <string>{{1,176},{107,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{97,92}</string>
                <key>spriteSourceSize</key>
                <string>{119,100}</string>
                <key>textureRect</key>
                <string>{{304,657},{97,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{99,92}</string>
                <key>spriteSourceSize</key>
                <string>{119,100}</string>
                <key>textureRect</key>
                <string>{{409,467},{99,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{101,92}</string>
                <key>spriteSourceSize</key>
                <string>{119,100}</string>
                <key>textureRect</key>
                <string>{{105,296},{101,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huolang-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{107,96}</string>
                <key>spriteSourceSize</key>
                <string>{119,100}</string>
                <key>textureRect</key>
                <string>{{115,100},{107,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_huolang_binhan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef00222dabe951ed31c420dd097ce6ab:a632462dd073e9c03cedb03ee465e816:d0fa1d6a4897736b2334006155d767aa$</string>
            <key>textureFileName</key>
            <string>gw_huolang_binhan.png</string>
        </dict>
    </dict>
</plist>
