<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_huimiegu-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{108,91}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{905,92},{108,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{108,91}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{905,185},{108,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-32}</string>
                <key>spriteSize</key>
                <string>{120,63}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,10}</string>
                <key>spriteSize</key>
                <string>{106,81}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{329,278},{106,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,22}</string>
                <key>spriteSize</key>
                <string>{110,93}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{459,1},{110,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,17}</string>
                <key>spriteSize</key>
                <string>{110,99}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{1,66},{110,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{110,95}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{347,1},{110,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-16}</string>
                <key>spriteSize</key>
                <string>{108,93}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{795,92},{108,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{110,97}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{235,1},{110,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{108,91}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{793,187},{108,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-20}</string>
                <key>spriteSize</key>
                <string>{104,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{217,367},{104,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-20}</string>
                <key>spriteSize</key>
                <string>{104,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{109,381},{104,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{108,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{679,367},{108,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{108,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{901,371},{108,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-20}</string>
                <key>spriteSize</key>
                <string>{110,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{571,1},{110,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-19}</string>
                <key>spriteSize</key>
                <string>{110,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{683,1},{110,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{110,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{795,1},{110,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{108,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{789,373},{108,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{106,87}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{335,189},{106,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{106,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{113,203},{106,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{106,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{1,254},{106,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-19}</string>
                <key>spriteSize</key>
                <string>{104,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{1,430},{104,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-19}</string>
                <key>spriteSize</key>
                <string>{104,91}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{437,282},{104,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{102,91}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{543,371},{102,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{102,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{435,375},{102,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-ctrl_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{104,91}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{329,361},{104,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-18}</string>
                <key>spriteSize</key>
                <string>{108,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{899,462},{108,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-20}</string>
                <key>spriteSize</key>
                <string>{106,83}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{1,345},{106,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{106,87}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{221,278},{106,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-23}</string>
                <key>spriteSize</key>
                <string>{102,85}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{323,454},{102,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-26}</string>
                <key>spriteSize</key>
                <string>{100,77}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{107,472},{100,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-25}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{647,458},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-32}</string>
                <key>spriteSize</key>
                <string>{94,65}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{539,464},{94,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{123,1},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{108,93}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{683,179},{108,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{108,93}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{571,183},{108,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-18}</string>
                <key>spriteSize</key>
                <string>{108,91}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{681,274},{108,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{110,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{907,1},{110,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{110,87}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{235,100},{110,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{110,85}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{1,167},{110,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{110,85}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{683,92},{110,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{110,87}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{113,114},{110,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-19}</string>
                <key>spriteSize</key>
                <string>{110,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{571,92},{110,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-18}</string>
                <key>spriteSize</key>
                <string>{108,91}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{569,278},{108,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{108,93}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{683,179},{108,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{108,93}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{459,187},{108,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-18}</string>
                <key>spriteSize</key>
                <string>{108,91}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{903,278},{108,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{110,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{459,96},{110,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{110,87}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{235,100},{110,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{110,85}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{1,167},{110,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{110,85}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{683,92},{110,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{110,87}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{113,114},{110,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-19}</string>
                <key>spriteSize</key>
                <string>{110,89}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{347,98},{110,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-18}</string>
                <key>spriteSize</key>
                <string>{108,91}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{569,278},{108,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{108,91}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{791,280},{108,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{100,77}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{1,521},{100,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{100,85}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{215,458},{100,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{106,85}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{109,294},{106,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_huimiegu-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{108,87}</string>
                <key>spriteSourceSize</key>
                <string>{178,137}</string>
                <key>textureRect</key>
                <string>{{225,189},{108,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_huimiegu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7157a30f41c4f0a028bf4c094058876:04bb1b64572757c62a27289fc8eeefe5:948098e546d6c9ad8a7c9346bf27e2e0$</string>
            <key>textureFileName</key>
            <string>gw_huimiegu.png</string>
        </dict>
    </dict>
</plist>
