<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_jishengbei-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{99,696},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-15}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{101,507},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{96,69}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{201,495},{96,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{98,71}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{215,361},{98,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{102,99}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{111,286},{102,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{126,99}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{116,79}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{247,1},{116,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{104,93}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{219,266},{104,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{106,83}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{349,195},{106,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{96,71}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{415,430},{96,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,721},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,532},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{403,503},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{393,692},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{98,57}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{101,448},{98,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{98,57}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,473},{98,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{98,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{103,387},{98,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{98,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,412},{98,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{100,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,290},{100,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{100,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,351},{100,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{100,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{325,280},{100,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{98,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{315,430},{98,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{98,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{203,434},{98,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{98,57}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{303,491},{98,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{106,95}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{361,98},{106,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{106,89}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{241,175},{106,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{106,87}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{111,197},{106,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,2}</string>
                <key>spriteSize</key>
                <string>{98,87}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{325,341},{98,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-4}</string>
                <key>spriteSize</key>
                <string>{92,75}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{99,940},{92,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-16}</string>
                <key>spriteSize</key>
                <string>{96,51}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,965},{96,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-17}</string>
                <key>spriteSize</key>
                <string>{94,51}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{295,922},{94,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-18}</string>
                <key>spriteSize</key>
                <string>{94,51}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{197,938},{94,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{99,696},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{299,550},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{199,566},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{99,570},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,595},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{295,739},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{197,755},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{99,757},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,782},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{397,566},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{393,753},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{297,613},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{197,629},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{99,633},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,658},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{295,800},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{197,816},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{99,818},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,843},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{395,629},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{393,753},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{295,676},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{393,814},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{295,861},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{197,877},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{99,879},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,904},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{393,875},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-idle_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,61}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{197,692},{96,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{108,93}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,195},{108,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{110,91}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{1,102},{110,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{112,91}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{247,82},{112,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{116,97}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{129,1},{116,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{114,95}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{365,1},{114,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengbei-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{110,95}</string>
                <key>spriteSourceSize</key>
                <string>{154,113}</string>
                <key>textureRect</key>
                <string>{{129,100},{110,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_jishengbei.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2fc76d247ad6165b012af2c1a7ba3a7:ddd342f7906a25012769bbce0246d385:53ab7ffa0a0db056fd117cf9ad33b88a$</string>
            <key>textureFileName</key>
            <string>gw_jishengbei.png</string>
        </dict>
    </dict>
</plist>
