<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_juedichong-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{71,225},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{231,1},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{66,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{1,449},{66,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{64,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{447,141},{64,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,4}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{79,1},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{155,71},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{305,73},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{433,295},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{141,297},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{71,299},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{147,221},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{371,219},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{377,141},{68,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{301,147},{68,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{223,151},{68,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{441,219},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{293,225},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{1,301},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{433,367},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{363,295},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{77,79},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,8}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{1,77},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{305,1},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-7}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{155,1},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-7}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{1,151},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-10}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{379,1},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{71,447},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{357,369},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{287,301},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{211,305},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{217,229},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{1,225},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{141,371},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{71,373},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{281,375},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{211,379},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{379,71},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{141,445},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{1,375},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{229,77},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{151,147},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_juedichong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,88}</string>
                <key>textureRect</key>
                <string>{{75,153},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_juedichong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7b6d177025bf24b98acd3246b0e2aa6:3b7d0cb2ee0a24cb7e8457e1237eca79:4ba6f68f0fc85b4d8c37e745f05cdc68$</string>
            <key>textureFileName</key>
            <string>gw_juedichong.png</string>
        </dict>
    </dict>
</plist>
