<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_jishengsuanzai-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,15}</string>
                <key>spriteSize</key>
                <string>{66,96}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{389,281},{66,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{137,541},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{72,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{173,175},{72,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,25}</string>
                <key>spriteSize</key>
                <string>{68,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{73,303},{68,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,24}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{287,63},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,21}</string>
                <key>spriteSize</key>
                <string>{60,96}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{203,623},{60,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,15}</string>
                <key>spriteSize</key>
                <string>{62,94}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{69,575},{62,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,14}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{65,671},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,13}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{1,707},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,13}</string>
                <key>spriteSize</key>
                <string>{68,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{1,329},{68,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,12}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{1,143},{74,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,8}</string>
                <key>spriteSize</key>
                <string>{74,84}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{369,85},{74,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,4}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{77,215},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,1}</string>
                <key>spriteSize</key>
                <string>{66,86}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{1,523},{66,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{60,86}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{339,557},{60,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,1}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{275,543},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,3}</string>
                <key>spriteSize</key>
                <string>{66,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{281,459},{66,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,6}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{143,363},{68,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,10}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{71,397},{68,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,13}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{359,379},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,13}</string>
                <key>spriteSize</key>
                <string>{62,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{427,379},{62,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,14}</string>
                <key>spriteSize</key>
                <string>{70,94}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{341,171},{70,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,18}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{185,83},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,16}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{377,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{90,78}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{1,63},{90,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,10}</string>
                <key>spriteSize</key>
                <string>{70,84}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{247,259},{70,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,7}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{401,565},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,1}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{267,159},{72,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-5}</string>
                <key>spriteSize</key>
                <string>{70,96}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{1,231},{70,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-15}</string>
                <key>spriteSize</key>
                <string>{78,88}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{93,125},{78,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-27}</string>
                <key>spriteSize</key>
                <string>{90,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{195,1},{90,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-33}</string>
                <key>spriteSize</key>
                <string>{88,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{287,1},{88,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-35}</string>
                <key>spriteSize</key>
                <string>{90,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{93,63},{90,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-39}</string>
                <key>spriteSize</key>
                <string>{96,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-41}</string>
                <key>spriteSize</key>
                <string>{94,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{99,1},{94,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,14}</string>
                <key>spriteSize</key>
                <string>{66,98}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{1,423},{66,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,12}</string>
                <key>spriteSize</key>
                <string>{66,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{445,85},{66,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,11}</string>
                <key>spriteSize</key>
                <string>{66,96}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{291,361},{66,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,10}</string>
                <key>spriteSize</key>
                <string>{66,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{141,447},{66,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{66,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{69,481},{66,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,8}</string>
                <key>spriteSize</key>
                <string>{66,94}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{213,435},{66,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,9}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{151,267},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,12}</string>
                <key>spriteSize</key>
                <string>{68,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{413,187},{68,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{221,345},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,17}</string>
                <key>spriteSize</key>
                <string>{68,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{319,267},{68,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{62,94}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{1,611},{62,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,10}</string>
                <key>spriteSize</key>
                <string>{64,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{209,531},{64,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{62,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{349,465},{62,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{265,627},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,9}</string>
                <key>spriteSize</key>
                <string>{60,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{413,471},{60,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jishengsuanzai-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,12}</string>
                <key>spriteSize</key>
                <string>{60,96}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{133,629},{60,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_jishengsuanzai.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d1cc11b7920524c997d4c5e069450a8:ac463dffa03fa89cf6668aafc6b8d3e5:4f2fbc99779ea2347d55aaa1e17ec630$</string>
            <key>textureFileName</key>
            <string>gw_jishengsuanzai.png</string>
        </dict>
    </dict>
</plist>
