<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_jingniao-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{85,99}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{361,557},{85,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-8}</string>
                <key>spriteSize</key>
                <string>{83,107}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{177,778},{83,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-20}</string>
                <key>spriteSize</key>
                <string>{91,83}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{1,401},{91,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-32}</string>
                <key>spriteSize</key>
                <string>{87,59}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{181,616},{87,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{91,121}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{1,278},{91,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{81,127}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{1,846},{81,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{81,115}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{84,846},{81,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{383,201},{91,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{89,97}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{421,102},{89,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{85,99}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{270,618},{85,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-19}</string>
                <key>spriteSize</key>
                <string>{93,85}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{1,191},{93,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-19}</string>
                <key>spriteSize</key>
                <string>{93,85}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{193,157},{93,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-20}</string>
                <key>spriteSize</key>
                <string>{93,83}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{288,163},{93,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{93,83}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{193,244},{93,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{96,252},{93,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{91,79}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{284,345},{91,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-22}</string>
                <key>spriteSize</key>
                <string>{89,79}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{92,513},{89,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{89,79}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{1,569},{89,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{89,79}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{377,383},{89,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{89,81}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{1,486},{89,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{89,83}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{94,428},{89,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-20}</string>
                <key>spriteSize</key>
                <string>{91,83}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{381,298},{91,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{85,99}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{361,557},{85,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-20}</string>
                <key>spriteSize</key>
                <string>{97,83}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{110,66},{97,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-15}</string>
                <key>spriteSize</key>
                <string>{99,93}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{215,62},{99,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-6}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{167,887},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-17}</string>
                <key>spriteSize</key>
                <string>{83,91}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{248,887},{83,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-35}</string>
                <key>spriteSize</key>
                <string>{103,59}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{215,1},{103,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-33}</string>
                <key>spriteSize</key>
                <string>{103,63}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{110,1},{103,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-36}</string>
                <key>spriteSize</key>
                <string>{101,57}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{320,1},{101,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{85,99}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{361,557},{85,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{85,99}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{181,677},{85,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{85,99}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{90,691},{85,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{87,99}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{423,1},{87,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{87,97}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{278,426},{87,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{183,519},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-15}</string>
                <key>spriteSize</key>
                <string>{89,93}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{187,424},{89,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{87,91}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{367,464},{87,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{87,91}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{272,525},{87,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-15}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{1,650},{87,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{92,594},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{268,719},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{85,97}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{357,658},{85,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{85,99}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{1,745},{85,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{107,97}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{1,1},{107,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-12}</string>
                <key>spriteSize</key>
                <string>{95,89}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{1,100},{95,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{288,248},{91,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{93,99}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{98,151},{93,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{191,329},{91,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{94,335},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_jingniao-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{99,101}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{320,60},{99,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_jingniao.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d3c38a57f825ece0906dd8868cd8b91:10a83391af667e4d3dc49363e634a4e7:32aeeee9fbb282e323b881820c79840c$</string>
            <key>textureFileName</key>
            <string>gw_jingniao.png</string>
        </dict>
    </dict>
</plist>
