<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_kuangjuren-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-2}</string>
                <key>spriteSize</key>
                <string>{112,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,135}</string>
                <key>textureRect</key>
                <string>{{307,250},{112,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{102,129}</string>
                <key>spriteSourceSize</key>
                <string>{206,135}</string>
                <key>textureRect</key>
                <string>{{506,767},{102,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,0}</string>
                <key>spriteSize</key>
                <string>{104,131}</string>
                <key>spriteSourceSize</key>
                <string>{206,135}</string>
                <key>textureRect</key>
                <string>{{108,754},{104,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-2}</string>
                <key>spriteSize</key>
                <string>{102,127}</string>
                <key>spriteSourceSize</key>
                <string>{206,135}</string>
                <key>textureRect</key>
                <string>{{315,757},{102,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-6}</string>
                <key>spriteSize</key>
                <string>{164,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,135}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{160,119}</string>
                <key>spriteSourceSize</key>
                <string>{206,135}</string>
                <key>textureRect</key>
                <string>{{167,1},{160,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{150,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,135}</string>
                <key>textureRect</key>
                <string>{{329,1},{150,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{138,129}</string>
                <key>spriteSourceSize</key>
                <string>{206,135}</string>
                <key>textureRect</key>
                <string>{{167,122},{138,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{118,127}</string>
                <key>spriteSourceSize</key>
                <string>{206,135}</string>
                <key>textureRect</key>
                <string>{{481,125},{118,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{99,134}</string>
                <key>spriteSourceSize</key>
                <string>{131,138}</string>
                <key>textureRect</key>
                <string>{{106,887},{99,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,3}</string>
                <key>spriteSize</key>
                <string>{103,132}</string>
                <key>spriteSourceSize</key>
                <string>{131,138}</string>
                <key>textureRect</key>
                <string>{{207,887},{103,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,4}</string>
                <key>spriteSize</key>
                <string>{105,128}</string>
                <key>spriteSourceSize</key>
                <string>{131,138}</string>
                <key>textureRect</key>
                <string>{{1,559},{105,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{107,128}</string>
                <key>spriteSourceSize</key>
                <string>{131,138}</string>
                <key>textureRect</key>
                <string>{{533,318},{107,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{107,128}</string>
                <key>spriteSourceSize</key>
                <string>{131,138}</string>
                <key>textureRect</key>
                <string>{{363,379},{107,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{105,126}</string>
                <key>spriteSourceSize</key>
                <string>{131,138}</string>
                <key>textureRect</key>
                <string>{{219,503},{105,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{105,124}</string>
                <key>spriteSourceSize</key>
                <string>{131,138}</string>
                <key>textureRect</key>
                <string>{{108,628},{105,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{105,124}</string>
                <key>spriteSourceSize</key>
                <string>{131,138}</string>
                <key>textureRect</key>
                <string>{{1,689},{105,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{103,124}</string>
                <key>spriteSourceSize</key>
                <string>{131,138}</string>
                <key>textureRect</key>
                <string>{{506,898},{103,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{99,128}</string>
                <key>spriteSourceSize</key>
                <string>{131,138}</string>
                <key>textureRect</key>
                <string>{{214,757},{99,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,2}</string>
                <key>spriteSize</key>
                <string>{99,132}</string>
                <key>spriteSourceSize</key>
                <string>{131,138}</string>
                <key>textureRect</key>
                <string>{{312,887},{99,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,16}</string>
                <key>spriteSize</key>
                <string>{111,124}</string>
                <key>spriteSourceSize</key>
                <string>{165,156}</string>
                <key>textureRect</key>
                <string>{{1,308},{111,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,12}</string>
                <key>spriteSize</key>
                <string>{107,122}</string>
                <key>spriteSourceSize</key>
                <string>{165,156}</string>
                <key>textureRect</key>
                <string>{{642,375},{107,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,10}</string>
                <key>spriteSize</key>
                <string>{105,124}</string>
                <key>spriteSourceSize</key>
                <string>{165,156}</string>
                <key>textureRect</key>
                <string>{{326,509},{105,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{107,122}</string>
                <key>spriteSourceSize</key>
                <string>{165,156}</string>
                <key>textureRect</key>
                <string>{{472,448},{107,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,10}</string>
                <key>spriteSize</key>
                <string>{109,124}</string>
                <key>spriteSourceSize</key>
                <string>{165,156}</string>
                <key>textureRect</key>
                <string>{{252,377},{109,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,9}</string>
                <key>spriteSize</key>
                <string>{115,126}</string>
                <key>spriteSourceSize</key>
                <string>{165,156}</string>
                <key>textureRect</key>
                <string>{{863,126},{115,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,11}</string>
                <key>spriteSize</key>
                <string>{107,124}</string>
                <key>spriteSourceSize</key>
                <string>{165,156}</string>
                <key>textureRect</key>
                <string>{{835,254},{107,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{103,136}</string>
                <key>spriteSourceSize</key>
                <string>{165,156}</string>
                <key>textureRect</key>
                <string>{{1,887},{103,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-29}</string>
                <key>spriteSize</key>
                <string>{127,96}</string>
                <key>spriteSourceSize</key>
                <string>{165,156}</string>
                <key>textureRect</key>
                <string>{{614,95},{127,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-16}</string>
                <key>spriteSize</key>
                <string>{131,92}</string>
                <key>spriteSourceSize</key>
                <string>{165,156}</string>
                <key>textureRect</key>
                <string>{{614,1},{131,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-21}</string>
                <key>spriteSize</key>
                <string>{135,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,156}</string>
                <key>textureRect</key>
                <string>{{1,124},{135,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-26}</string>
                <key>spriteSize</key>
                <string>{135,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,156}</string>
                <key>textureRect</key>
                <string>{{1,216},{135,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{106,123}</string>
                <key>spriteSourceSize</key>
                <string>{118,123}</string>
                <key>textureRect</key>
                <string>{{111,503},{106,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{108,123}</string>
                <key>spriteSourceSize</key>
                <string>{118,123}</string>
                <key>textureRect</key>
                <string>{{114,378},{108,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{112,123}</string>
                <key>spriteSourceSize</key>
                <string>{118,123}</string>
                <key>textureRect</key>
                <string>{{138,253},{112,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{116,123}</string>
                <key>spriteSourceSize</key>
                <string>{118,123}</string>
                <key>textureRect</key>
                <string>{{601,193},{116,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,123}</string>
                <key>spriteSourceSize</key>
                <string>{118,123}</string>
                <key>textureRect</key>
                <string>{{876,1},{118,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,123}</string>
                <key>spriteSourceSize</key>
                <string>{118,123}</string>
                <key>textureRect</key>
                <string>{{743,125},{118,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{114,123}</string>
                <key>spriteSourceSize</key>
                <string>{118,123}</string>
                <key>textureRect</key>
                <string>{{719,250},{114,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,123}</string>
                <key>spriteSourceSize</key>
                <string>{118,123}</string>
                <key>textureRect</key>
                <string>{{421,254},{110,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{108,123}</string>
                <key>spriteSourceSize</key>
                <string>{118,123}</string>
                <key>textureRect</key>
                <string>{{1,434},{108,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{89,130}</string>
                <key>spriteSourceSize</key>
                <string>{131,142}</string>
                <key>textureRect</key>
                <string>{{419,635},{89,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{99,126}</string>
                <key>spriteSourceSize</key>
                <string>{131,142}</string>
                <key>textureRect</key>
                <string>{{510,572},{99,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{113,122}</string>
                <key>spriteSourceSize</key>
                <string>{131,142}</string>
                <key>textureRect</key>
                <string>{{307,126},{113,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{131,122}</string>
                <key>spriteSourceSize</key>
                <string>{131,142}</string>
                <key>textureRect</key>
                <string>{{481,1},{131,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{127,122}</string>
                <key>spriteSourceSize</key>
                <string>{131,142}</string>
                <key>textureRect</key>
                <string>{{747,1},{127,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{105,124}</string>
                <key>spriteSourceSize</key>
                <string>{131,142}</string>
                <key>textureRect</key>
                <string>{{215,631},{105,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{91,130}</string>
                <key>spriteSourceSize</key>
                <string>{131,142}</string>
                <key>textureRect</key>
                <string>{{413,886},{91,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_kuangjuren_binhan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dccee1da5942b78a94b307e2f9c5a200:60fc53e2165b8acce7533d67d829b98f:0e7a0ccde5fac36098c34cd6e1aefd65$</string>
            <key>textureFileName</key>
            <string>gw_kuangjuren_binhan.png</string>
        </dict>
    </dict>
</plist>
