<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_kuangxiaoren-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,4}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,86}</string>
                <key>textureRect</key>
                <string>{{59,135},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,4}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,86}</string>
                <key>textureRect</key>
                <string>{{181,138},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,2}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,86}</string>
                <key>textureRect</key>
                <string>{{241,138},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,1}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,86}</string>
                <key>textureRect</key>
                <string>{{275,1},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-9}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,3}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,86}</string>
                <key>textureRect</key>
                <string>{{341,1},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,86}</string>
                <key>textureRect</key>
                <string>{{1,131},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{54,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,86}</string>
                <key>textureRect</key>
                <string>{{1,341},{54,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{58,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{57,345},{58,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{117,348},{60,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{58,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{59,66},{58,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{119,68},{58,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{179,68},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{237,69},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{54,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{147,1},{54,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{54,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{295,69},{54,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{351,69},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{409,69},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{58,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{179,348},{58,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{239,348},{60,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-3}</string>
                <key>spriteSize</key>
                <string>{58,69}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{301,348},{58,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,2}</string>
                <key>spriteSize</key>
                <string>{60,67}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{119,137},{60,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{70,65}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{203,1},{70,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{72,69}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{361,348},{72,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-18}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{435,348},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-16}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{1,416},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-22}</string>
                <key>spriteSize</key>
                <string>{72,63}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{73,1},{72,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{305,138},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{365,138},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{425,138},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{1,201},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{59,205},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{409,1},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{117,206},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{175,208},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{233,208},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{293,208},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{353,208},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{413,208},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{175,278},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{1,271},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{59,275},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{1,63},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{117,276},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{235,278},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{293,278},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{353,278},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{63,78}</string>
                <key>textureRect</key>
                <string>{{73,419},{59,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{57,70}</string>
                <key>spriteSourceSize</key>
                <string>{63,78}</string>
                <key>textureRect</key>
                <string>{{134,419},{57,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{57,70}</string>
                <key>spriteSourceSize</key>
                <string>{63,78}</string>
                <key>textureRect</key>
                <string>{{193,419},{57,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{55,72}</string>
                <key>spriteSourceSize</key>
                <string>{63,78}</string>
                <key>textureRect</key>
                <string>{{311,419},{55,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{57,70}</string>
                <key>spriteSourceSize</key>
                <string>{63,78}</string>
                <key>textureRect</key>
                <string>{{252,419},{57,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangxiaoren-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{59,68}</string>
                <key>spriteSourceSize</key>
                <string>{63,78}</string>
                <key>textureRect</key>
                <string>{{413,278},{59,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_kuangxiaoren.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7546e2d77a6411554f3289b823694685:21abd483cbd03285e34ab3a0aba7c15b:8d065f2fa09a3691be2dd696f8106684$</string>
            <key>textureFileName</key>
            <string>gw_kuangxiaoren.png</string>
        </dict>
    </dict>
</plist>
