<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_kuangjuren-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,8}</string>
                <key>spriteSize</key>
                <string>{112,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{597,185},{112,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,9}</string>
                <key>spriteSize</key>
                <string>{102,127}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{107,757},{102,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,9}</string>
                <key>spriteSize</key>
                <string>{104,129}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{335,505},{104,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,7}</string>
                <key>spriteSize</key>
                <string>{102,127}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{1,856},{102,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,4}</string>
                <key>spriteSize</key>
                <string>{164,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{160,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{167,1},{160,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,5}</string>
                <key>spriteSize</key>
                <string>{150,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{329,1},{150,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,9}</string>
                <key>spriteSize</key>
                <string>{138,127}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{481,1},{138,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,8}</string>
                <key>spriteSize</key>
                <string>{118,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{897,1},{118,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,4}</string>
                <key>spriteSize</key>
                <string>{98,135}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{105,886},{98,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,4}</string>
                <key>spriteSize</key>
                <string>{102,131}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{215,628},{102,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,4}</string>
                <key>spriteSize</key>
                <string>{104,127}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{109,628},{104,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{106,127}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{569,312},{106,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{108,127}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{117,374},{108,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{106,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{459,376},{106,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{106,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{111,503},{106,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{106,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{1,604},{106,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{1,729},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,1}</string>
                <key>spriteSize</key>
                <string>{100,127}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{319,636},{100,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,3}</string>
                <key>spriteSize</key>
                <string>{98,133}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{205,886},{98,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,8}</string>
                <key>spriteSize</key>
                <string>{112,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{711,217},{112,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,3}</string>
                <key>spriteSize</key>
                <string>{108,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{459,253},{108,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{106,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{677,344},{106,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{106,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{567,441},{106,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{110,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{369,124},{110,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,1}</string>
                <key>spriteSize</key>
                <string>{116,127}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{1,223},{116,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{108,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{1,477},{108,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-11}</string>
                <key>spriteSize</key>
                <string>{104,137}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{445,503},{104,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-37}</string>
                <key>spriteSize</key>
                <string>{128,97}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{1,124},{128,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-25}</string>
                <key>spriteSize</key>
                <string>{132,91}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{621,92},{132,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-30}</string>
                <key>spriteSize</key>
                <string>{136,89}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{621,1},{136,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-35}</string>
                <key>spriteSize</key>
                <string>{136,89}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{759,1},{136,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,8}</string>
                <key>spriteSize</key>
                <string>{106,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{337,378},{106,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,8}</string>
                <key>spriteSize</key>
                <string>{108,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{349,251},{108,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,7}</string>
                <key>spriteSize</key>
                <string>{112,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{825,253},{112,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,7}</string>
                <key>spriteSize</key>
                <string>{116,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{119,249},{116,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,7}</string>
                <key>spriteSize</key>
                <string>{118,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{131,124},{118,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,8}</string>
                <key>spriteSize</key>
                <string>{116,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{251,124},{116,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,7}</string>
                <key>spriteSize</key>
                <string>{114,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{1,352},{114,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,7}</string>
                <key>spriteSize</key>
                <string>{110,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{237,251},{110,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,7}</string>
                <key>spriteSize</key>
                <string>{108,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{227,376},{108,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,21}</string>
                <key>spriteSize</key>
                <string>{90,131}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{399,765},{90,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,8}</string>
                <key>spriteSize</key>
                <string>{100,127}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{785,378},{100,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,12}</string>
                <key>spriteSize</key>
                <string>{114,121}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{481,130},{114,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,25}</string>
                <key>spriteSize</key>
                <string>{130,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{755,92},{130,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,14}</string>
                <key>spriteSize</key>
                <string>{128,123}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{887,128},{128,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,6}</string>
                <key>spriteSize</key>
                <string>{106,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{227,501},{106,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_kuangjuren-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,18}</string>
                <key>spriteSize</key>
                <string>{92,131}</string>
                <key>spriteSourceSize</key>
                <string>{206,173}</string>
                <key>textureRect</key>
                <string>{{305,765},{92,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_kuangjuren.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e1e32be1c0e47c2f86d28c588bdab0b:3ba0ad67f5cd98cad81dce9b5d251390:6516e62c6598ab087b64ce07d56fe4bb$</string>
            <key>textureFileName</key>
            <string>gw_kuangjuren.png</string>
        </dict>
    </dict>
</plist>
