<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_luowu-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,7}</string>
                <key>spriteSize</key>
                <string>{116,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{689,1},{116,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,12}</string>
                <key>spriteSize</key>
                <string>{122,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{129,163},{122,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,30}</string>
                <key>spriteSize</key>
                <string>{88,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{1,687},{88,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,26}</string>
                <key>spriteSize</key>
                <string>{92,112}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{103,643},{92,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{86,104}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{1,807},{86,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-2}</string>
                <key>spriteSize</key>
                <string>{132,86}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{145,75},{132,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,1}</string>
                <key>spriteSize</key>
                <string>{126,88}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{279,75},{126,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,3}</string>
                <key>spriteSize</key>
                <string>{122,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{1,197},{122,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{102,110}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{921,1},{102,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{347,357},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{112,98}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{119,345},{112,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{1,289},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5}</string>
                <key>spriteSize</key>
                <string>{118,92}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{253,165},{118,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-7}</string>
                <key>spriteSize</key>
                <string>{114,92}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{373,173},{114,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-10}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{233,441},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-10}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{111,537},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-10}</string>
                <key>spriteSize</key>
                <string>{100,110}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{715,189},{100,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-11}</string>
                <key>spriteSize</key>
                <string>{96,114}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{215,539},{96,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-10}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{457,365},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-9}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{343,461},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{587,279},{98,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-4}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{1,573},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,7}</string>
                <key>spriteSize</key>
                <string>{116,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{529,89},{116,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,20}</string>
                <key>spriteSize</key>
                <string>{120,88}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{407,83},{120,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,15}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{1,77},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-12}</string>
                <key>spriteSize</key>
                <string>{136,80}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{427,1},{136,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-25}</string>
                <key>spriteSize</key>
                <string>{142,74}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-28}</string>
                <key>spriteSize</key>
                <string>{140,72}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{145,1},{140,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-30}</string>
                <key>spriteSize</key>
                <string>{138,72}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{287,1},{138,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,10}</string>
                <key>spriteSize</key>
                <string>{112,92}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{1,387},{112,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,10}</string>
                <key>spriteSize</key>
                <string>{112,92}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{807,1},{112,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{112,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{489,181},{112,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{110,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{873,113},{110,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{110,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{603,187},{110,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{115,445},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{1,481},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{110,92}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{761,95},{110,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{112,92}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{647,93},{112,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,8}</string>
                <key>spriteSize</key>
                <string>{114,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{245,259},{114,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{361,267},{112,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{110,90}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{475,273},{110,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{233,351},{112,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{122,86}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{565,1},{122,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_luowu-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,5}</string>
                <key>spriteSize</key>
                <string>{118,88}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{125,255},{118,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_luowu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:449f1cc4c7323fa3d999588034569d8c:9f798fbbc1d30cf4e1bb5805715ee97c:248bca08aa6bc10978096341aaa3eef2$</string>
            <key>textureFileName</key>
            <string>gw_luowu.png</string>
        </dict>
    </dict>
</plist>
