<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_lvjiazhanshi-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{105,83}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{1,256},{105,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{109,83}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{342,78},{109,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{111,85}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{229,1},{111,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{111,87}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{116,1},{111,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-1}</string>
                <key>spriteSize</key>
                <string>{113,87}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-5}</string>
                <key>spriteSize</key>
                <string>{109,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{340,163},{109,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{107,81}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{110,171},{107,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{93,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{407,716},{93,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{91,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{96,817},{91,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{93,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{304,787},{93,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{93,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{201,815},{93,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{95,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{415,637},{95,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{97,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{205,734},{97,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{99,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{104,655},{99,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-15}</string>
                <key>spriteSize</key>
                <string>{101,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{104,576},{101,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{101,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{1,499},{101,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{101,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{209,493},{101,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{99,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{1,659},{99,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{97,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{102,736},{97,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{95,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{415,556},{95,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{93,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{1,740},{93,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{103,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{108,412},{103,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{107,83}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{1,171},{107,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-6}</string>
                <key>spriteSize</key>
                <string>{105,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{219,331},{105,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-11}</string>
                <key>spriteSize</key>
                <string>{105,69}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{326,408},{105,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-15}</string>
                <key>spriteSize</key>
                <string>{101,73}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{312,637},{101,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-15}</string>
                <key>spriteSize</key>
                <string>{99,73}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{306,712},{99,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-15}</string>
                <key>spriteSize</key>
                <string>{99,73}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{306,712},{99,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{103,81}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{215,410},{103,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{101,81}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{106,493},{101,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{101,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{312,556},{101,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{103,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{320,479},{103,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{105,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{1,341},{105,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{107,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{328,244},{107,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{107,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{219,171},{107,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{109,81}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{229,88},{109,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{109,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{1,90},{109,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{107,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{219,252},{107,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{105,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{108,333},{105,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{103,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{1,418},{103,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{111,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{342,1},{111,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{107,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{110,254},{107,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{101,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{1,580},{101,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{99,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{205,655},{99,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{101,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{209,574},{101,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{105,83}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{328,323},{105,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiazhanshi-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{109,79}</string>
                <key>spriteSourceSize</key>
                <string>{153,113}</string>
                <key>textureRect</key>
                <string>{{112,90},{109,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_lvjiazhanshi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb50d1d00a8028e57c4aff92e662ac23:1f75ef10d9985f378565e88cb2a6ed01:32aced753c56352bf933d81733e07dc2$</string>
            <key>textureFileName</key>
            <string>gw_lvjiazhanshi.png</string>
        </dict>
    </dict>
</plist>
