<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_lvjiaxianfeng-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{1,333},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-9}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{249,387},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{84,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{97,71},{84,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{285,1},{90,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{80,88}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{341,299},{80,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-9}</string>
                <key>spriteSize</key>
                <string>{82,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{85,209},{82,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-6}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{329,465},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-4}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{1,173},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-4}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{165,595},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{247,463},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{409,467},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{409,541},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{165,445},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-10}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{83,597},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-10}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{83,447},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-9}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{167,367},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-9}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{83,369},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-10}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{1,491},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-10}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{1,641},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{327,549},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{245,619},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{407,615},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{165,521},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{1,333},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{97,1},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{191,1},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-18}</string>
                <key>spriteSize</key>
                <string>{88,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{377,1},{88,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-19}</string>
                <key>spriteSize</key>
                <string>{84,58}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{269,91},{84,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-23}</string>
                <key>spriteSize</key>
                <string>{84,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{183,149},{84,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-23}</string>
                <key>spriteSize</key>
                <string>{84,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{87,151},{84,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{167,287},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{247,537},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{249,307},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{82,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{1,255},{82,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-9}</string>
                <key>spriteSize</key>
                <string>{84,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{183,71},{84,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{355,143},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{423,299},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{423,383},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-8}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{269,151},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-10}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{353,223},{82,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{257,231},{82,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-9}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{1,413},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{83,523},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{331,389},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{85,287},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-8}</string>
                <key>spriteSize</key>
                <string>{86,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{377,63},{86,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{84,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{1,93},{84,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{173,207},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiaxianfeng-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{1,567},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_lvjiaxianfeng.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18b0690048b3f59d28c2335080c07fb2:ff58f257ba0b6fa3604cc9a5a0fdeff1:9382bd73482e2873f9e5bb73e8f75ef4$</string>
            <key>textureFileName</key>
            <string>gw_lvjiaxianfeng.png</string>
        </dict>
    </dict>
</plist>
