<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_lvjiatoubing-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-2}</string>
                <key>spriteSize</key>
                <string>{76,81}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{323,372},{76,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-4}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{1,95},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-4}</string>
                <key>spriteSize</key>
                <string>{94,77}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{407,76},{94,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,1}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{1,484},{76,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,2}</string>
                <key>spriteSize</key>
                <string>{76,87}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{81,419},{76,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,0}</string>
                <key>spriteSize</key>
                <string>{74,83}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{401,386},{74,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{138,75}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{151,1},{138,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-5}</string>
                <key>spriteSize</key>
                <string>{114,73}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{291,1},{114,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-6}</string>
                <key>spriteSize</key>
                <string>{114,73}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{291,76},{114,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-6}</string>
                <key>spriteSize</key>
                <string>{102,73}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{407,1},{102,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-5}</string>
                <key>spriteSize</key>
                <string>{86,75}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{1,174},{86,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-3}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{1,571},{76,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-11}</string>
                <key>spriteSize</key>
                <string>{80,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{85,269},{80,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-11}</string>
                <key>spriteSize</key>
                <string>{82,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{175,204},{82,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-11}</string>
                <key>spriteSize</key>
                <string>{84,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{89,204},{84,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-11}</string>
                <key>spriteSize</key>
                <string>{86,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{181,139},{86,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-11}</string>
                <key>spriteSize</key>
                <string>{86,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{269,151},{86,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-11}</string>
                <key>spriteSize</key>
                <string>{88,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{91,139},{88,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-11}</string>
                <key>spriteSize</key>
                <string>{86,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{357,155},{86,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-11}</string>
                <key>spriteSize</key>
                <string>{82,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{259,216},{82,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-11}</string>
                <key>spriteSize</key>
                <string>{80,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{167,269},{80,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-11}</string>
                <key>spriteSize</key>
                <string>{80,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{249,281},{80,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-11}</string>
                <key>spriteSize</key>
                <string>{80,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{331,307},{80,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-11}</string>
                <key>spriteSize</key>
                <string>{80,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{1,334},{80,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-2}</string>
                <key>spriteSize</key>
                <string>{76,81}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{243,429},{76,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-2}</string>
                <key>spriteSize</key>
                <string>{80,85}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{343,220},{80,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-17}</string>
                <key>spriteSize</key>
                <string>{106,59}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{127,78},{106,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-24}</string>
                <key>spriteSize</key>
                <string>{124,45}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{1,48},{124,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-24}</string>
                <key>spriteSize</key>
                <string>{148,45}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-2}</string>
                <key>spriteSize</key>
                <string>{76,81}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{159,500},{76,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-2}</string>
                <key>spriteSize</key>
                <string>{78,81}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{163,334},{78,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-2}</string>
                <key>spriteSize</key>
                <string>{78,81}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{243,346},{78,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-2}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{425,220},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-1}</string>
                <key>spriteSize</key>
                <string>{78,83}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{83,334},{78,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{74,83}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{321,455},{74,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,0}</string>
                <key>spriteSize</key>
                <string>{74,83}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{237,512},{74,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,0}</string>
                <key>spriteSize</key>
                <string>{74,83}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{157,583},{74,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,0}</string>
                <key>spriteSize</key>
                <string>{74,83}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{79,591},{74,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-1}</string>
                <key>spriteSize</key>
                <string>{74,83}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{1,652},{74,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-1}</string>
                <key>spriteSize</key>
                <string>{78,83}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{1,399},{78,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,2}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{425,303},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,3}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{1,251},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,3}</string>
                <key>spriteSize</key>
                <string>{78,81}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{163,417},{78,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,1}</string>
                <key>spriteSize</key>
                <string>{74,81}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{397,471},{74,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-1}</string>
                <key>spriteSize</key>
                <string>{74,79}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{313,540},{74,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_lvjiatoubing-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-1}</string>
                <key>spriteSize</key>
                <string>{76,81}</string>
                <key>spriteSourceSize</key>
                <string>{172,93}</string>
                <key>textureRect</key>
                <string>{{79,508},{76,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_lvjiatoubing.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8108074419c5563dc9ccd4b68e4d7b12:7e9209c48bf89ac8e010bec8d9b764ed:b3ada665e754288346e9360d411767e9$</string>
            <key>textureFileName</key>
            <string>gw_lvjiatoubing.png</string>
        </dict>
    </dict>
</plist>
