<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_minbin-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{77,217},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{1,227},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{229,219},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{73,513},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{241,1},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,1}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{319,1},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,2}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{391,217},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{303,221},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{161,67},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{81,69},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{397,69},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{377,291},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,2}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{75,439},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,2}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{75,291},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{1,301},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{149,291},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,2}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{319,73},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{223,293},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{239,75},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,2}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{159,141},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{77,217},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{1,79},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,2}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{235,149},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{76,66}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{397,1},{76,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{78,66}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{81,1},{78,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{161,1},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{1,375},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{297,295},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{79,143},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{1,153},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{371,365},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{1,447},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{221,367},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{219,441},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{293,369},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{147,441},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,4}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{149,365},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{1,521},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{75,365},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,4}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{395,143},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{315,147},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_minbin-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,4}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{118,84}</string>
                <key>textureRect</key>
                <string>{{155,215},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_minbin.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4960734520c9398eb94aa9e66103bb19:90b1a1df5b9307eb1a6207bd86f2c34f:0b48fbbb5bbc5c900e7a1c4d9459b0da$</string>
            <key>textureFileName</key>
            <string>gw_minbin.png</string>
        </dict>
    </dict>
</plist>
