<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_naochong-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{128,98}</string>
                <key>textureRect</key>
                <string>{{415,199},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-14}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,98}</string>
                <key>textureRect</key>
                <string>{{140,197},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-4}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,98}</string>
                <key>textureRect</key>
                <string>{{362,61},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,19}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,98}</string>
                <key>textureRect</key>
                <string>{{137,329},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,13}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,9}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,98}</string>
                <key>textureRect</key>
                <string>{{75,1},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,17}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,98}</string>
                <key>textureRect</key>
                <string>{{75,67},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,98}</string>
                <key>textureRect</key>
                <string>{{149,1},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-16}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,98}</string>
                <key>textureRect</key>
                <string>{{434,1},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-16}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,98}</string>
                <key>textureRect</key>
                <string>{{135,391},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-11}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,98}</string>
                <key>textureRect</key>
                <string>{{68,455},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{201,455},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{68,389},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{1,389},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{141,129},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{71,191},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{1,193},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{210,133},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{65,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{273,387},{65,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{65,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{340,387},{65,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{398,455},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{134,459},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{333,451},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,8}</string>
                <key>spriteSize</key>
                <string>{65,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,112}</string>
                <key>textureRect</key>
                <string>{{407,391},{65,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,8}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{101,112}</string>
                <key>textureRect</key>
                <string>{{266,515},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,26}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{101,112}</string>
                <key>textureRect</key>
                <string>{{199,519},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,10}</string>
                <key>spriteSize</key>
                <string>{63,58}</string>
                <key>spriteSourceSize</key>
                <string>{101,112}</string>
                <key>textureRect</key>
                <string>{{331,515},{63,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-22}</string>
                <key>spriteSize</key>
                <string>{69,58}</string>
                <key>spriteSourceSize</key>
                <string>{101,112}</string>
                <key>textureRect</key>
                <string>{{292,1},{69,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-25}</string>
                <key>spriteSize</key>
                <string>{69,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,112}</string>
                <key>textureRect</key>
                <string>{{221,1},{69,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-26}</string>
                <key>spriteSize</key>
                <string>{69,58}</string>
                <key>spriteSourceSize</key>
                <string>{101,112}</string>
                <key>textureRect</key>
                <string>{{363,1},{69,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{1,457},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{1,259},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{69,259},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{279,193},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{1,325},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{69,325},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{276,259},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{205,329},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{201,391},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{205,265},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{208,199},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{137,263},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{344,259},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{347,193},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{412,263},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{273,323},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{267,451},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{341,323},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{432,69},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{292,61},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{291,129},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,69},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{145,67},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{409,327},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{221,65},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{362,127},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{432,135},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{71,129},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,131},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_naochong_binhan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae6bc3869c26232e21d067101b819ccd:08a354f2ca38191538e68fbe540f4e97:601336b5599ad5b587ef01cfd4bc0328$</string>
            <key>textureFileName</key>
            <string>gw_naochong_binhan.png</string>
        </dict>
    </dict>
</plist>
