<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_naochongdajijia-attack2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{198,141}</string>
                <key>spriteSourceSize</key>
                <string>{272,213}</string>
                <key>textureRect</key>
                <string>{{351,1058},{198,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{200,141}</string>
                <key>spriteSourceSize</key>
                <string>{272,213}</string>
                <key>textureRect</key>
                <string>{{571,795},{200,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-24}</string>
                <key>spriteSize</key>
                <string>{214,137}</string>
                <key>spriteSourceSize</key>
                <string>{272,213}</string>
                <key>textureRect</key>
                <string>{{788,446},{214,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-9}</string>
                <key>spriteSize</key>
                <string>{182,173}</string>
                <key>spriteSourceSize</key>
                <string>{272,213}</string>
                <key>textureRect</key>
                <string>{{477,152},{182,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,5}</string>
                <key>spriteSize</key>
                <string>{168,203}</string>
                <key>spriteSourceSize</key>
                <string>{272,213}</string>
                <key>textureRect</key>
                <string>{{709,150},{168,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-25}</string>
                <key>spriteSize</key>
                <string>{230,149}</string>
                <key>spriteSourceSize</key>
                <string>{272,213}</string>
                <key>textureRect</key>
                <string>{{477,1},{230,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-28}</string>
                <key>spriteSize</key>
                <string>{234,151}</string>
                <key>spriteSourceSize</key>
                <string>{272,213}</string>
                <key>textureRect</key>
                <string>{{241,1},{234,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-28}</string>
                <key>spriteSize</key>
                <string>{238,151}</string>
                <key>spriteSourceSize</key>
                <string>{272,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-26}</string>
                <key>spriteSize</key>
                <string>{232,147}</string>
                <key>spriteSourceSize</key>
                <string>{272,213}</string>
                <key>textureRect</key>
                <string>{{709,1},{232,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-20}</string>
                <key>spriteSize</key>
                <string>{212,141}</string>
                <key>spriteSourceSize</key>
                <string>{272,213}</string>
                <key>textureRect</key>
                <string>{{187,316},{212,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,12}</string>
                <key>spriteSize</key>
                <string>{194,142}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{341,1343},{194,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{188,146}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{537,1364},{188,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,14}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{327,1771},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,12}</string>
                <key>spriteSize</key>
                <string>{154,142}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{864,1733},{154,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,152}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{1,1586},{128,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{132,146}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{888,1585},{132,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,13}</string>
                <key>spriteSize</key>
                <string>{176,146}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{533,1512},{176,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{148,150}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{1,1434},{148,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{142,152}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{879,150},{142,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{164,160}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{1,958},{164,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{188,160}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{207,154},{188,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{204,152}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{1,154},{204,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,13}</string>
                <key>spriteSize</key>
                <string>{200,144}</string>
                <key>spriteSourceSize</key>
                <string>{210,174}</string>
                <key>textureRect</key>
                <string>{{583,505},{200,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{186,159}</string>
                <key>spriteSourceSize</key>
                <string>{210,173}</string>
                <key>textureRect</key>
                <string>{{187,459},{186,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{186,153}</string>
                <key>spriteSourceSize</key>
                <string>{210,173}</string>
                <key>textureRect</key>
                <string>{{185,620},{186,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{182,153}</string>
                <key>spriteSourceSize</key>
                <string>{210,173}</string>
                <key>textureRect</key>
                <string>{{179,775},{182,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{178,153}</string>
                <key>spriteSourceSize</key>
                <string>{210,173}</string>
                <key>textureRect</key>
                <string>{{151,1558},{178,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{176,155}</string>
                <key>spriteSourceSize</key>
                <string>{210,173}</string>
                <key>textureRect</key>
                <string>{{167,1089},{176,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{176,155}</string>
                <key>spriteSourceSize</key>
                <string>{210,173}</string>
                <key>textureRect</key>
                <string>{{163,1246},{176,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{174,157}</string>
                <key>spriteSourceSize</key>
                <string>{210,173}</string>
                <key>textureRect</key>
                <string>{{175,930},{174,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,1}</string>
                <key>spriteSize</key>
                <string>{176,159}</string>
                <key>spriteSourceSize</key>
                <string>{210,173}</string>
                <key>textureRect</key>
                <string>{{1,634},{176,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{182,161}</string>
                <key>spriteSourceSize</key>
                <string>{210,173}</string>
                <key>textureRect</key>
                <string>{{1,471},{182,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{184,161}</string>
                <key>spriteSourceSize</key>
                <string>{210,173}</string>
                <key>textureRect</key>
                <string>{{1,308},{184,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{184,161}</string>
                <key>spriteSourceSize</key>
                <string>{210,173}</string>
                <key>textureRect</key>
                <string>{{401,327},{184,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,14}</string>
                <key>spriteSize</key>
                <string>{166,141}</string>
                <key>spriteSourceSize</key>
                <string>{280,231}</string>
                <key>textureRect</key>
                <string>{{495,1805},{166,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-8}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{280,231}</string>
                <key>textureRect</key>
                <string>{{1,1120},{160,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,32}</string>
                <key>spriteSize</key>
                <string>{170,153}</string>
                <key>spriteSourceSize</key>
                <string>{280,231}</string>
                <key>textureRect</key>
                <string>{{163,1403},{170,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,30}</string>
                <key>spriteSize</key>
                <string>{170,131}</string>
                <key>spriteSourceSize</key>
                <string>{280,231}</string>
                <key>textureRect</key>
                <string>{{663,1881},{170,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-15}</string>
                <key>spriteSize</key>
                <string>{160,149}</string>
                <key>spriteSourceSize</key>
                <string>{280,231}</string>
                <key>textureRect</key>
                <string>{{1,1283},{160,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-21}</string>
                <key>spriteSize</key>
                <string>{172,161}</string>
                <key>spriteSourceSize</key>
                <string>{280,231}</string>
                <key>textureRect</key>
                <string>{{1,795},{172,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-27}</string>
                <key>spriteSize</key>
                <string>{172,143}</string>
                <key>spriteSourceSize</key>
                <string>{280,231}</string>
                <key>textureRect</key>
                <string>{{527,1660},{172,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-31}</string>
                <key>spriteSize</key>
                <string>{174,137}</string>
                <key>spriteSourceSize</key>
                <string>{280,231}</string>
                <key>textureRect</key>
                <string>{{128,1855},{174,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,142}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{771,1011},{196,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{569,938},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{204,138}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{363,918},{204,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{206,138}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{363,778},{206,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,142}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{375,490},{206,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{202,142}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{579,651},{202,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{198,140}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{345,1201},{198,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{196,140}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{335,1487},{196,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{194,140}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{331,1629},{194,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,142}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{551,1080},{196,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{200,138}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{545,1224},{200,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{204,138}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{773,871},{204,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{206,140}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{785,585},{206,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{204,142}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{373,634},{204,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{200,142}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{783,727},{200,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{198,140}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{749,1155},{198,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{194,140}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{131,1713},{194,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{194,142}</string>
                <key>spriteSourceSize</key>
                <string>{206,142}</string>
                <key>textureRect</key>
                <string>{{747,1297},{194,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{125,140}</string>
                <key>spriteSourceSize</key>
                <string>{201,162}</string>
                <key>textureRect</key>
                <string>{{1,1740},{125,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{139,140}</string>
                <key>spriteSourceSize</key>
                <string>{201,162}</string>
                <key>textureRect</key>
                <string>{{879,304},{139,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{175,146}</string>
                <key>spriteSourceSize</key>
                <string>{201,162}</string>
                <key>textureRect</key>
                <string>{{711,1585},{175,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{199,148}</string>
                <key>spriteSourceSize</key>
                <string>{201,162}</string>
                <key>textureRect</key>
                <string>{{587,355},{199,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{193,142}</string>
                <key>spriteSourceSize</key>
                <string>{201,162}</string>
                <key>textureRect</key>
                <string>{{727,1441},{193,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{161,146}</string>
                <key>spriteSourceSize</key>
                <string>{201,162}</string>
                <key>textureRect</key>
                <string>{{701,1733},{161,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongdajijia-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{129,144}</string>
                <key>spriteSourceSize</key>
                <string>{201,162}</string>
                <key>textureRect</key>
                <string>{{864,1877},{129,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_naochongdajijia.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa7933d97324f702cc3ad93a7ab48ba9:da3e0315418e65b9695e8ca147f9c6e1:90bc33a7e7e9efeee513ea51afbac332$</string>
            <key>textureFileName</key>
            <string>gw_naochongdajijia.png</string>
        </dict>
    </dict>
</plist>
