<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_naochongxiaopaobin-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{124,104}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{129,200},{124,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{124,102}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{647,1},{124,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{124,102}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{773,1},{124,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{120,106}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{627,509},{120,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{1,852},{110,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{854,748},{112,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{1,723},{112,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{740,722},{112,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{116,114}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{860,632},{116,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{122,112}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{883,306},{122,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{267,1},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{118,104}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{620,617},{118,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{118,106}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{875,420},{118,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{126,100}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{129,98},{126,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{126,102}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{1,98},{126,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-attack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{124,104}</string>
                <key>spriteSourceSize</key>
                <string>{132,122}</string>
                <key>textureRect</key>
                <string>{{1,202},{124,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{120,102}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{501,510},{120,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{122,102}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{755,311},{122,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{124,100}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{899,1},{124,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{124,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{899,103},{124,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{124,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{647,105},{124,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{122,96}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{627,411},{122,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{122,96}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{751,415},{122,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{498,614},{120,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{376,524},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,100}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{740,620},{118,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{118,102}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{869,528},{118,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{124,103}</string>
                <key>spriteSourceSize</key>
                <string>{140,135}</string>
                <key>textureRect</key>
                <string>{{521,1},{124,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{118,105}</string>
                <key>spriteSourceSize</key>
                <string>{140,135}</string>
                <key>textureRect</key>
                <string>{{749,513},{118,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,13}</string>
                <key>spriteSize</key>
                <string>{124,109}</string>
                <key>spriteSourceSize</key>
                <string>{140,135}</string>
                <key>textureRect</key>
                <string>{{395,1},{124,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{124,105}</string>
                <key>spriteSourceSize</key>
                <string>{140,135}</string>
                <key>textureRect</key>
                <string>{{257,107},{124,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-10}</string>
                <key>spriteSize</key>
                <string>{124,93}</string>
                <key>spriteSourceSize</key>
                <string>{140,135}</string>
                <key>textureRect</key>
                <string>{{521,106},{124,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-15}</string>
                <key>spriteSize</key>
                <string>{128,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,135}</string>
                <key>textureRect</key>
                <string>{{137,1},{128,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-18}</string>
                <key>spriteSize</key>
                <string>{134,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,135}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{773,105},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{898,203},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{383,112},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{255,214},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{127,306},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{1,308},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{508,201},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{380,215},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{252,317},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{126,409},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{1,411},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{633,205},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{505,304},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{377,318},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{251,420},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{126,512},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{1,514},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{758,208},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{630,308},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{502,407},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{376,421},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{251,523},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{126,615},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochongxiaopaobin-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{1,617},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_naochongxiaopaobin.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43dd9d07c9178d43aa0a355a3e49cc0d:a5c74f113a7024d82300c5e585f4412c:45f447bc2309081e66b98d820a9964a2$</string>
            <key>textureFileName</key>
            <string>gw_naochongxiaopaobin.png</string>
        </dict>
    </dict>
</plist>
