<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_naochong-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{419,330},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{281,265},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,9}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{75,66},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,31}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{137,326},{66,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,26}</string>
                <key>spriteSize</key>
                <string>{72,67}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,21}</string>
                <key>spriteSize</key>
                <string>{72,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{75,1},{72,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,29}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{1,265},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{70,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{149,1},{70,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-4}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{1,70},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-3}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{1,454},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{273,397},{64,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{205,454},{64,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{67,454},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{66,67}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{351,263},{66,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{293,1},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{221,62},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,13}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{145,66},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,13}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{363,1},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{279,332},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{339,397},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{1,521},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{133,515},{64,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{199,519},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{347,332},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{64,59}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{339,460},{64,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,22}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{67,521},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,5}</string>
                <key>spriteSize</key>
                <string>{64,59}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{271,462},{64,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-27}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{71,265},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-30}</string>
                <key>spriteSize</key>
                <string>{68,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{1,137},{68,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-31}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{221,1},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{137,389},{66,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{415,395},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{211,324},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{433,1},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,13}</string>
                <key>spriteSize</key>
                <string>{68,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{141,133},{68,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{68,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{361,135},{68,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{1,202},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{205,391},{66,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{1,391},{66,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{1,326},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{419,263},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{363,68},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,13}</string>
                <key>spriteSize</key>
                <string>{68,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{285,137},{68,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{68,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{431,135},{68,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{211,198},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{69,391},{66,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{137,452},{66,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{355,200},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,7}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{291,70},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,11}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{215,131},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,15}</string>
                <key>spriteSize</key>
                <string>{68,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{141,198},{68,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{281,202},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{211,261},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,6}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{69,326},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,8}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{433,68},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{71,133},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,15}</string>
                <key>spriteSize</key>
                <string>{68,63}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{71,200},{68,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{141,263},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_naochong-move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{425,200},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_naochong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1ce0239096ad54cd2c3b839acd82aea:fcc80d5bd52ee56d7afb3ed5f1bd9985:094db0e98efe99fc84ce1ba2a70f90b5$</string>
            <key>textureFileName</key>
            <string>gw_naochong.png</string>
        </dict>
    </dict>
</plist>
