<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_qiuqiuchong-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{217,226},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{72,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{75,133},{72,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{70,65}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{145,206},{70,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,3}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{431,277},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{78,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{351,1},{78,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{78,65}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{431,1},{78,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{431,68},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{64,75}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{431,356},{64,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{355,358},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{281,360},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{209,370},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{73,269},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{149,135},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{74,65}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{351,76},{74,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{74,65}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{427,137},{74,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{74,65}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{93,66},{74,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{72,67}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{169,66},{72,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{73,198},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{143,273},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{139,417},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{69,484},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{287,287},{66,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,4}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{363,277},{66,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{271,1},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{90,65}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-13}</string>
                <key>spriteSize</key>
                <string>{88,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{93,1},{88,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-14}</string>
                <key>spriteSize</key>
                <string>{86,63}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{183,1},{86,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{1,500},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{213,297},{66,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{71,342},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{1,214},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{1,141},{70,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{1,285},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{71,413},{66,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{1,573},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{347,433},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{275,435},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{141,344},{66,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{1,358},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{315,143},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{243,82},{70,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{387,204},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{1,429},{66,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{413,433},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{205,445},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{135,490},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{293,214},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{1,68},{72,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{221,155},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{413,504},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_qiuqiuchong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{67,557},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_qiuqiuchong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:728c5b7c9e0ef7d0157c04b1aa6c7202:84880a9f60d235621d970f977d9e187f:3102b1d54ce2642c61e3fe557f4241a1$</string>
            <key>textureFileName</key>
            <string>gw_qiuqiuchong.png</string>
        </dict>
    </dict>
</plist>
