<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_ruochong-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{105,71}</string>
                <key>spriteSourceSize</key>
                <string>{131,89}</string>
                <key>textureRect</key>
                <string>{{108,153},{105,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{105,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,89}</string>
                <key>textureRect</key>
                <string>{{112,78},{105,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{101,71}</string>
                <key>spriteSourceSize</key>
                <string>{131,89}</string>
                <key>textureRect</key>
                <string>{{106,372},{101,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,2}</string>
                <key>spriteSize</key>
                <string>{111,75}</string>
                <key>spriteSourceSize</key>
                <string>{131,89}</string>
                <key>textureRect</key>
                <string>{{116,1},{111,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{113,69}</string>
                <key>spriteSourceSize</key>
                <string>{131,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{105,65}</string>
                <key>spriteSourceSize</key>
                <string>{131,89}</string>
                <key>textureRect</key>
                <string>{{322,214},{105,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{107,65}</string>
                <key>spriteSourceSize</key>
                <string>{131,89}</string>
                <key>textureRect</key>
                <string>{{229,1},{107,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{107,65}</string>
                <key>spriteSourceSize</key>
                <string>{131,89}</string>
                <key>textureRect</key>
                <string>{{338,1},{107,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{109,65}</string>
                <key>spriteSourceSize</key>
                <string>{131,89}</string>
                <key>textureRect</key>
                <string>{{1,72},{109,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{105,69}</string>
                <key>spriteSourceSize</key>
                <string>{131,89}</string>
                <key>textureRect</key>
                <string>{{1,286},{105,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{94,758},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{91,74}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{1,734},{91,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{93,72}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{299,644},{93,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{97,70}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{301,572},{97,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{99,70}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{1,507},{99,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,70}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{311,500},{99,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,72}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{103,445},{99,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{97,74}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{202,519},{97,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{93,76}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{400,591},{93,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{91,78}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{96,678},{91,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{89,78}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{422,434},{89,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{423,354},{87,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{394,669},{87,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{99,80}</string>
                <key>textureRect</key>
                <string>{{1,810},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{105,98}</string>
                <key>textureRect</key>
                <string>{{1,139},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{105,84}</string>
                <key>spriteSourceSize</key>
                <string>{105,98}</string>
                <key>textureRect</key>
                <string>{{229,68},{105,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{91,82}</string>
                <key>spriteSourceSize</key>
                <string>{105,98}</string>
                <key>textureRect</key>
                <string>{{196,677},{91,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{93,78}</string>
                <key>spriteSourceSize</key>
                <string>{105,98}</string>
                <key>textureRect</key>
                <string>{{1,654},{93,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{93,80}</string>
                <key>spriteSourceSize</key>
                <string>{105,98}</string>
                <key>textureRect</key>
                <string>{{101,596},{93,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{95,80}</string>
                <key>spriteSourceSize</key>
                <string>{105,98}</string>
                <key>textureRect</key>
                <string>{{202,595},{95,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{105,71}</string>
                <key>spriteSourceSize</key>
                <string>{105,75}</string>
                <key>textureRect</key>
                <string>{{1,213},{105,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{105,71}</string>
                <key>spriteSourceSize</key>
                <string>{105,75}</string>
                <key>textureRect</key>
                <string>{{336,68},{105,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{105,71}</string>
                <key>spriteSourceSize</key>
                <string>{105,75}</string>
                <key>textureRect</key>
                <string>{{336,141},{105,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,71}</string>
                <key>spriteSourceSize</key>
                <string>{105,75}</string>
                <key>textureRect</key>
                <string>{{215,154},{105,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{103,69}</string>
                <key>spriteSourceSize</key>
                <string>{105,75}</string>
                <key>textureRect</key>
                <string>{{213,300},{103,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{103,69}</string>
                <key>spriteSourceSize</key>
                <string>{105,75}</string>
                <key>textureRect</key>
                <string>{{318,354},{103,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{103,69}</string>
                <key>spriteSourceSize</key>
                <string>{105,75}</string>
                <key>textureRect</key>
                <string>{{213,371},{103,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{103,71}</string>
                <key>spriteSourceSize</key>
                <string>{105,75}</string>
                <key>textureRect</key>
                <string>{{215,227},{103,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{103,71}</string>
                <key>spriteSourceSize</key>
                <string>{105,75}</string>
                <key>textureRect</key>
                <string>{{108,299},{103,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{103,71}</string>
                <key>spriteSourceSize</key>
                <string>{105,75}</string>
                <key>textureRect</key>
                <string>{{1,357},{103,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{103,71}</string>
                <key>spriteSourceSize</key>
                <string>{105,75}</string>
                <key>textureRect</key>
                <string>{{320,281},{103,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{105,71}</string>
                <key>spriteSourceSize</key>
                <string>{105,75}</string>
                <key>textureRect</key>
                <string>{{108,226},{105,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{98,73}</string>
                <key>spriteSourceSize</key>
                <string>{102,75}</string>
                <key>textureRect</key>
                <string>{{1,579},{98,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,73}</string>
                <key>spriteSourceSize</key>
                <string>{102,75}</string>
                <key>textureRect</key>
                <string>{{318,425},{102,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{100,75}</string>
                <key>spriteSourceSize</key>
                <string>{102,75}</string>
                <key>textureRect</key>
                <string>{{1,430},{100,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{98,75}</string>
                <key>spriteSourceSize</key>
                <string>{102,75}</string>
                <key>textureRect</key>
                <string>{{412,514},{98,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,75}</string>
                <key>spriteSourceSize</key>
                <string>{102,75}</string>
                <key>textureRect</key>
                <string>{{209,442},{100,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_ruochong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,75}</string>
                <key>spriteSourceSize</key>
                <string>{102,75}</string>
                <key>textureRect</key>
                <string>{{102,519},{98,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_ruochong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abaa68837b00aedd6ee189b0ffbe7042:b88c2ed72b4721bb494967ff9b456fc1:1138e76c16638c524cef1e297bf2654b$</string>
            <key>textureFileName</key>
            <string>gw_ruochong.png</string>
        </dict>
    </dict>
</plist>
