<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_sangqiguai-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-2}</string>
                <key>spriteSize</key>
                <string>{153,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{484,545},{153,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-3}</string>
                <key>spriteSize</key>
                <string>{173,158}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{176,1},{173,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-7}</string>
                <key>spriteSize</key>
                <string>{159,150}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{850,441},{159,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-9}</string>
                <key>spriteSize</key>
                <string>{151,146}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{872,1},{151,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-9}</string>
                <key>spriteSize</key>
                <string>{135,146}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{448,1031},{135,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-8}</string>
                <key>spriteSize</key>
                <string>{137,148}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{607,1015},{137,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-100,1}</string>
                <key>spriteSize</key>
                <string>{165,164}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{1,323},{165,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-2}</string>
                <key>spriteSize</key>
                <string>{173,158}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{351,1},{173,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,-1}</string>
                <key>spriteSize</key>
                <string>{171,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{699,1},{171,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,0}</string>
                <key>spriteSize</key>
                <string>{171,162}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{526,1},{171,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,1}</string>
                <key>spriteSize</key>
                <string>{173,164}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-1}</string>
                <key>spriteSize</key>
                <string>{169,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{349,161},{169,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-3}</string>
                <key>spriteSize</key>
                <string>{141,158}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{305,945},{141,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-3}</string>
                <key>spriteSize</key>
                <string>{153,158}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{158,725},{153,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-3}</string>
                <key>spriteSize</key>
                <string>{163,158}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{520,165},{163,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-4}</string>
                <key>spriteSize</key>
                <string>{171,156}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{699,163},{171,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-6}</string>
                <key>spriteSize</key>
                <string>{155,152}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{158,571},{155,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-4}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{1,489},{155,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-4}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{327,479},{155,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-3}</string>
                <key>spriteSize</key>
                <string>{153,158}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{1,793},{153,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-3}</string>
                <key>spriteSize</key>
                <string>{133,158}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{142,1191},{133,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-2}</string>
                <key>spriteSize</key>
                <string>{133,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{291,1105},{133,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-2}</string>
                <key>spriteSize</key>
                <string>{141,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{464,869},{141,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-2}</string>
                <key>spriteSize</key>
                <string>{149,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{470,707},{149,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-2}</string>
                <key>spriteSize</key>
                <string>{153,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{315,637},{153,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-1}</string>
                <key>spriteSize</key>
                <string>{135,154}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{746,1043},{135,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,9}</string>
                <key>spriteSize</key>
                <string>{99,138}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{913,737},{99,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,41}</string>
                <key>spriteSize</key>
                <string>{111,146}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{716,1199},{111,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-4}</string>
                <key>spriteSize</key>
                <string>{129,116}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{426,1179},{129,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-54}</string>
                <key>spriteSize</key>
                <string>{159,118}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{508,325},{159,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-51}</string>
                <key>spriteSize</key>
                <string>{157,94}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{667,471},{157,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-71}</string>
                <key>spriteSize</key>
                <string>{157,90}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{168,479},{157,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-die_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-69}</string>
                <key>spriteSize</key>
                <string>{157,98}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{508,445},{157,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-9}</string>
                <key>spriteSize</key>
                <string>{139,146}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{1,1101},{139,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-10}</string>
                <key>spriteSize</key>
                <string>{151,144}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{872,149},{151,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-10}</string>
                <key>spriteSize</key>
                <string>{155,144}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{1,647},{155,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-10}</string>
                <key>spriteSize</key>
                <string>{153,144}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{639,567},{153,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-10}</string>
                <key>spriteSize</key>
                <string>{147,146}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{156,885},{147,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-9}</string>
                <key>spriteSize</key>
                <string>{131,148}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{1,1249},{131,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-8}</string>
                <key>spriteSize</key>
                <string>{119,150}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{134,1351},{119,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-7}</string>
                <key>spriteSize</key>
                <string>{117,150}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{905,889},{117,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-7}</string>
                <key>spriteSize</key>
                <string>{129,150}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{585,1165},{129,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-7}</string>
                <key>spriteSize</key>
                <string>{143,150}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{768,737},{143,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-9}</string>
                <key>spriteSize</key>
                <string>{147,146}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{1,953},{147,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-11}</string>
                <key>spriteSize</key>
                <string>{147,142}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{794,593},{147,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-10}</string>
                <key>spriteSize</key>
                <string>{151,144}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{872,295},{151,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-10}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{313,799},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-9}</string>
                <key>spriteSize</key>
                <string>{145,148}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{621,713},{145,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-9}</string>
                <key>spriteSize</key>
                <string>{135,148}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{883,1193},{135,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-8}</string>
                <key>spriteSize</key>
                <string>{115,150}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{905,1041},{115,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-7}</string>
                <key>spriteSize</key>
                <string>{119,150}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{1,1399},{119,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-6}</string>
                <key>spriteSize</key>
                <string>{125,152}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{277,1267},{125,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-7}</string>
                <key>spriteSize</key>
                <string>{143,150}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{621,863},{143,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-4}</string>
                <key>spriteSize</key>
                <string>{139,156}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{150,1033},{139,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-4}</string>
                <key>spriteSize</key>
                <string>{137,152}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{766,889},{137,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-6}</string>
                <key>spriteSize</key>
                <string>{163,148}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{685,321},{163,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-4}</string>
                <key>spriteSize</key>
                <string>{171,156}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{176,161},{171,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-6}</string>
                <key>spriteSize</key>
                <string>{167,158}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{174,319},{167,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-9}</string>
                <key>spriteSize</key>
                <string>{171,154}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{1,167},{171,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_sangqiguai-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-6}</string>
                <key>spriteSize</key>
                <string>{163,154}</string>
                <key>spriteSourceSize</key>
                <string>{399,460}</string>
                <key>textureRect</key>
                <string>{{343,323},{163,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_sangqiguai.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4ce3a8929f45de35c7c011169716713:98d0bb79f66f2a5c5c3a9151cd5d93b7:e760dcff4888e40c1ca80ce9a1b2adc1$</string>
            <key>textureFileName</key>
            <string>gw_sangqiguai.png</string>
        </dict>
    </dict>
</plist>
