<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_shapanxie-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{247,673},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-13}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{95,293},{88,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-12}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{85,515},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-11}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{91,365},{82,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-6}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{437,373},{74,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-21}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,213},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-12}</string>
                <key>spriteSize</key>
                <string>{88,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{285,151},{88,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-16}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{431,1},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-13}</string>
                <key>spriteSize</key>
                <string>{76,80}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{327,813},{76,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-19}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{437,461},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,523},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{341,521},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{423,543},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{251,525},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{167,531},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-15}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{83,589},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,597},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-17}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{333,595},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-18}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{165,751},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-17}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{247,745},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-16}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{249,599},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-15}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{83,809},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{165,605},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{165,679},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{185,299},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,27}</string>
                <key>spriteSize</key>
                <string>{98,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{331,1},{98,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-11}</string>
                <key>spriteSize</key>
                <string>{110,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-16}</string>
                <key>spriteSize</key>
                <string>{108,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{113,1},{108,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-16}</string>
                <key>spriteSize</key>
                <string>{106,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,71},{106,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-16}</string>
                <key>spriteSize</key>
                <string>{106,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{223,1},{106,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-20}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{245,821},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,817},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{413,691},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{83,663},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{85,441},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,373},{82,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-15}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{259,449},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-14}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{363,297},{82,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,449},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,671},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{83,737},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{411,761},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{329,743},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{415,617},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{353,373},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{269,373},{82,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-15}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{169,455},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-14}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{175,379},{82,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{353,447},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{331,669},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,745},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-14}</string>
                <key>spriteSize</key>
                <string>{96,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,143},{96,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{88,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{375,153},{88,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-11}</string>
                <key>spriteSize</key>
                <string>{88,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{195,149},{88,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-15}</string>
                <key>spriteSize</key>
                <string>{86,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{275,297},{86,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-14}</string>
                <key>spriteSize</key>
                <string>{94,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{207,73},{94,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-11}</string>
                <key>spriteSize</key>
                <string>{92,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{303,75},{92,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-13}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{1,301},{88,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-13}</string>
                <key>spriteSize</key>
                <string>{88,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{365,227},{88,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-10}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{275,225},{88,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-12}</string>
                <key>spriteSize</key>
                <string>{96,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{109,73},{96,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-15}</string>
                <key>spriteSize</key>
                <string>{88,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{95,217},{88,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-13}</string>
                <key>spriteSize</key>
                <string>{88,74}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{397,77},{88,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-11}</string>
                <key>spriteSize</key>
                <string>{88,72}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{185,225},{88,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_shapanxie-move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-14}</string>
                <key>spriteSize</key>
                <string>{94,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,128}</string>
                <key>textureRect</key>
                <string>{{99,147},{94,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_shapanxie.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10970600b3025521f50ed35c3adcf749:d6d9ded985fd24c15788ae82d16ee824:629e0ddc915a0cb460f6d16a6423bb41$</string>
            <key>textureFileName</key>
            <string>gw_shapanxie.png</string>
        </dict>
    </dict>
</plist>
