<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_tanjiachong-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{92,75}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{1,76},{92,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{94,73}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{201,1},{94,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{96,73}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{103,1},{96,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{100,73}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{1,309},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,1}</string>
                <key>spriteSize</key>
                <string>{88,79}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{1,228},{88,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{90,79}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{377,80},{90,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,2}</string>
                <key>spriteSize</key>
                <string>{88,79}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{185,226},{88,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{275,230},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{84,77}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{181,459},{84,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{84,77}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{89,516},{84,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{82,75}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{353,540},{82,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{82,73}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{173,611},{82,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{82,73}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{87,668},{82,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{84,71}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{175,538},{84,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{86,71}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{1,465},{86,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{86,69}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{271,457},{86,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{86,71}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{361,388},{86,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{84,71}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{87,595},{84,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{82,73}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{1,690},{82,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{82,75}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{261,605},{82,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{84,77}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{1,538},{84,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{84,77}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{359,461},{84,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{88,75}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{91,374},{88,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{90,77}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{283,151},{90,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{90,73}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{1,153},{90,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-7}</string>
                <key>spriteSize</key>
                <string>{90,65}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{93,226},{90,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-8}</string>
                <key>spriteSize</key>
                <string>{88,63}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{91,451},{88,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-8}</string>
                <key>spriteSize</key>
                <string>{88,63}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{91,451},{88,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-8}</string>
                <key>spriteSize</key>
                <string>{88,63}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{91,451},{88,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{92,75}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{1,76},{92,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{92,77}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{393,1},{92,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{90,75}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{375,161},{90,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{90,71}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{93,153},{90,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{88,71}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{271,384},{88,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{365,238},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{88,75}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{1,388},{88,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{181,307},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{271,309},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{88,71}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{181,386},{88,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{90,71}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{185,153},{90,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{92,73}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{283,76},{92,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{94,73}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{297,1},{94,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{92,75}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{95,76},{92,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{88,73}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{361,313},{88,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{84,71}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{1,617},{84,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{84,75}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{267,528},{84,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{88,79}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{91,293},{88,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanjiachong-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{92,75}</string>
                <key>spriteSourceSize</key>
                <string>{122,83}</string>
                <key>textureRect</key>
                <string>{{189,76},{92,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_tanjiachong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34a5ec2ca751464fb92e2d74ed3bd3c0:fa36c94450cff3af8d9fe4a296ba03db:60eb73996caaa6c202a7c0e46f6edaab$</string>
            <key>textureFileName</key>
            <string>gw_tanjiachong.png</string>
        </dict>
    </dict>
</plist>
