<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_tanchifu-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{591,76},{112,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,2}</string>
                <key>spriteSize</key>
                <string>{106,65}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{333,232},{106,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,1}</string>
                <key>spriteSize</key>
                <string>{92,75}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{305,453},{92,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{124,79}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,1}</string>
                <key>spriteSize</key>
                <string>{84,65}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{833,396},{84,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,9}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{399,487},{80,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,11}</string>
                <key>spriteSize</key>
                <string>{82,69}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{511,473},{82,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,13}</string>
                <key>spriteSize</key>
                <string>{102,81}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{1,321},{102,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{114,73}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{591,1},{114,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{90,75}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{919,402},{90,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{88,71}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{919,479},{88,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{110,75}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{695,246},{110,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{108,87}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{113,82},{108,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,5}</string>
                <key>spriteSize</key>
                <string>{112,83}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{707,74},{112,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{114,79}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{127,1},{114,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{243,80},{112,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-6}</string>
                <key>spriteSize</key>
                <string>{104,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{219,236},{104,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{94,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{101,412},{94,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{88,79}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{935,159},{88,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,2}</string>
                <key>spriteSize</key>
                <string>{86,79}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{623,398},{86,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,7}</string>
                <key>spriteSize</key>
                <string>{86,83}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{937,74},{86,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,10}</string>
                <key>spriteSize</key>
                <string>{90,83}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{197,471},{90,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,11}</string>
                <key>spriteSize</key>
                <string>{98,85}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{1,404},{98,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{106,85}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{111,171},{106,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{108,87}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{1,155},{108,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{110,71}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{1,82},{110,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,17}</string>
                <key>spriteSize</key>
                <string>{84,71}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{939,1},{84,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,13}</string>
                <key>spriteSize</key>
                <string>{102,81}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{441,246},{102,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-15}</string>
                <key>spriteSize</key>
                <string>{114,63}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{823,1},{114,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-22}</string>
                <key>spriteSize</key>
                <string>{84,63}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{833,463},{84,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-24}</string>
                <key>spriteSize</key>
                <string>{80,59}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{289,530},{80,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{110,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{811,240},{110,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{110,75}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{807,319},{110,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{92,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{529,394},{92,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{112,73}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{585,155},{112,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{106,71}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{333,159},{106,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{98,73}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{317,378},{98,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{114,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{243,1},{114,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{100,75}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{215,315},{100,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{102,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{325,299},{102,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{114,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{359,1},{114,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{100,75}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{105,335},{100,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{108,75}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{223,159},{108,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{114,71}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{707,1},{114,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,9}</string>
                <key>spriteSize</key>
                <string>{94,73}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{645,323},{94,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,8}</string>
                <key>spriteSize</key>
                <string>{112,75}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{471,80},{112,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{104,75}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{109,258},{104,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{207,392},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-4}</string>
                <key>spriteSize</key>
                <string>{110,85}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{699,159},{110,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{583,230},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{100,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{923,240},{100,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{114,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{475,1},{114,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{98,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{429,329},{98,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{112,87}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{823,66},{112,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{90,81}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{741,396},{90,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{110,87}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{471,157},{110,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{92,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{417,408},{92,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{357,80},{112,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{106,75}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{1,244},{106,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{112,83}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{821,155},{112,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{104,81}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{919,319},{104,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tanchifu-move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-4}</string>
                <key>spriteSize</key>
                <string>{98,81}</string>
                <key>spriteSourceSize</key>
                <string>{184,107}</string>
                <key>textureRect</key>
                <string>{{545,311},{98,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_tanchifu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a82de6bcdb5a083da2c34e8dd87da70:2796a50a3df2f877fe2ff186e8d08221:4763779dfe2d58615e76b343baea7d5a$</string>
            <key>textureFileName</key>
            <string>gw_tanchifu.png</string>
        </dict>
    </dict>
</plist>
