<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_xiaoyouchong-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{450,113},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-29}</string>
                <key>spriteSize</key>
                <string>{65,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{350,1},{65,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-20}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{283,1},{65,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-29}</string>
                <key>spriteSize</key>
                <string>{57,50}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{127,225},{57,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-29}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{70,55},{63,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-30}</string>
                <key>spriteSize</key>
                <string>{67,52}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{1,49},{67,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-28}</string>
                <key>spriteSize</key>
                <string>{67,52}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{145,1},{67,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-27}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{1,157},{61,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{64,223},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{1,103},{63,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-28}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{1,269},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-28}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{198,55},{61,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-29}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{261,59},{61,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-30}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{387,167},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-30}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{324,169},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-29}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{190,223},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-29}</string>
                <key>spriteSize</key>
                <string>{59,52}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{446,225},{59,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-28}</string>
                <key>spriteSize</key>
                <string>{59,52}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{255,171},{59,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{198,111},{61,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{387,113},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{450,113},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-4}</string>
                <key>spriteSize</key>
                <string>{71,46}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,23}</string>
                <key>spriteSize</key>
                <string>{51,68}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{64,277},{51,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-21}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{417,57},{63,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-20}</string>
                <key>spriteSize</key>
                <string>{67,52}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{214,1},{67,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-22}</string>
                <key>spriteSize</key>
                <string>{69,52}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{74,1},{69,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-27}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{129,113},{61,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-27}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{64,167},{61,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-26}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{1,213},{61,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-27}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{324,113},{61,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-28}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{448,169},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-28}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{385,223},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-26}</string>
                <key>spriteSize</key>
                <string>{61,56}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{135,55},{61,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-26}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{261,115},{61,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-27}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{192,167},{61,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-29}</string>
                <key>spriteSize</key>
                <string>{65,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{417,1},{65,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-27}</string>
                <key>spriteSize</key>
                <string>{61,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{127,169},{61,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-28}</string>
                <key>spriteSize</key>
                <string>{61,56}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{66,109},{61,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaoyouchong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-28}</string>
                <key>spriteSize</key>
                <string>{65,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,116}</string>
                <key>textureRect</key>
                <string>{{350,57},{65,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_xiaoyouchong.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c0c015641d5bde09a4961dee612e704:ef45f47f821344a24a18073d8ac18f4b:744b440988130e7d67b35db8ba68dc00$</string>
            <key>textureFileName</key>
            <string>gw_xiaoyouchong.png</string>
        </dict>
    </dict>
</plist>
