<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_xiangniao-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-4}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{293,93},{138,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-9}</string>
                <key>spriteSize</key>
                <string>{138,84}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{573,175},{138,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-12}</string>
                <key>spriteSize</key>
                <string>{140,88}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{883,1},{140,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,5}</string>
                <key>spriteSize</key>
                <string>{146,90}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{303,1},{146,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,33}</string>
                <key>spriteSize</key>
                <string>{140,84}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{881,91},{140,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,27}</string>
                <key>spriteSize</key>
                <string>{130,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{841,351},{130,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,9}</string>
                <key>spriteSize</key>
                <string>{96,84}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{351,601},{96,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,25}</string>
                <key>spriteSize</key>
                <string>{118,84}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{1,533},{118,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,30}</string>
                <key>spriteSize</key>
                <string>{136,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{279,243},{136,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{136,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{417,277},{136,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-19}</string>
                <key>spriteSize</key>
                <string>{136,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{279,331},{136,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-13}</string>
                <key>spriteSize</key>
                <string>{134,90}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{277,419},{134,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-10}</string>
                <key>spriteSize</key>
                <string>{132,94}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{139,421},{132,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-6}</string>
                <key>spriteSize</key>
                <string>{134,92}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{417,365},{134,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-7}</string>
                <key>spriteSize</key>
                <string>{114,84}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{1,619},{114,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-9}</string>
                <key>spriteSize</key>
                <string>{114,84}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{395,515},{114,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-11}</string>
                <key>spriteSize</key>
                <string>{120,84}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{273,511},{120,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-13}</string>
                <key>spriteSize</key>
                <string>{132,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{1,445},{132,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-15}</string>
                <key>spriteSize</key>
                <string>{144,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{1,89},{144,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-16}</string>
                <key>spriteSize</key>
                <string>{150,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-15}</string>
                <key>spriteSize</key>
                <string>{148,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{153,1},{148,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-14}</string>
                <key>spriteSize</key>
                <string>{140,84}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{595,89},{140,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-11}</string>
                <key>spriteSize</key>
                <string>{130,84}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{691,365},{130,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-9}</string>
                <key>spriteSize</key>
                <string>{122,84}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{553,457},{122,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-8}</string>
                <key>spriteSize</key>
                <string>{118,82}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{677,539},{118,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-7}</string>
                <key>spriteSize</key>
                <string>{116,84}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{121,595},{116,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-4}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{147,145},{138,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-9}</string>
                <key>spriteSize</key>
                <string>{128,104}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{823,439},{128,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{142,90}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{451,1},{142,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,14}</string>
                <key>spriteSize</key>
                <string>{126,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{691,451},{126,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,15}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{511,543},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-38}</string>
                <key>spriteSize</key>
                <string>{110,74}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{239,597},{110,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-27}</string>
                <key>spriteSize</key>
                <string>{138,60}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{287,181},{138,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-37}</string>
                <key>spriteSize</key>
                <string>{120,76}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{135,517},{120,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-41}</string>
                <key>spriteSize</key>
                <string>{136,48}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{703,315},{136,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-41}</string>
                <key>spriteSize</key>
                <string>{142,54}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{739,1},{142,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-43}</string>
                <key>spriteSize</key>
                <string>{144,54}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{147,89},{144,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-47}</string>
                <key>spriteSize</key>
                <string>{122,54}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{413,459},{122,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-4}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{293,93},{138,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-6}</string>
                <key>spriteSize</key>
                <string>{136,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{139,333},{136,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-5}</string>
                <key>spriteSize</key>
                <string>{136,94}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{1,265},{136,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-7}</string>
                <key>spriteSize</key>
                <string>{136,94}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{427,181},{136,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-9}</string>
                <key>spriteSize</key>
                <string>{136,92}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{565,261},{136,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-11}</string>
                <key>spriteSize</key>
                <string>{138,88}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{879,177},{138,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-10}</string>
                <key>spriteSize</key>
                <string>{140,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{739,57},{140,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-7}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{1,177},{138,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-6}</string>
                <key>spriteSize</key>
                <string>{138,84}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{713,229},{138,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-4}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{433,93},{138,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-7}</string>
                <key>spriteSize</key>
                <string>{136,82}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{1,361},{136,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-2}</string>
                <key>spriteSize</key>
                <string>{134,100}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{555,355},{134,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-7}</string>
                <key>spriteSize</key>
                <string>{136,98}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{141,233},{136,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-13}</string>
                <key>spriteSize</key>
                <string>{142,86}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{595,1},{142,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-10}</string>
                <key>spriteSize</key>
                <string>{140,82}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{737,145},{140,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiangniao-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-7}</string>
                <key>spriteSize</key>
                <string>{138,82}</string>
                <key>spriteSourceSize</key>
                <string>{238,150}</string>
                <key>textureRect</key>
                <string>{{853,267},{138,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_xiangniao.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:920348b039613e08ad8cdaf457eaa8a1:b0ce3087d80024884404f29f6417c0be:f2c6a93bd92949b540946ae3a56c75c9$</string>
            <key>textureFileName</key>
            <string>gw_xiangniao.png</string>
        </dict>
    </dict>
</plist>
