<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_xiechong-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-2}</string>
                <key>spriteSize</key>
                <string>{82,67}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{85,366},{82,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-3}</string>
                <key>spriteSize</key>
                <string>{80,61}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,778},{80,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-1}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,841},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,9}</string>
                <key>spriteSize</key>
                <string>{90,53}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{93,904},{90,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-7}</string>
                <key>spriteSize</key>
                <string>{98,79}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{92,71}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{101,1},{92,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-6}</string>
                <key>spriteSize</key>
                <string>{92,71}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{101,74},{92,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{86,67}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{169,640},{86,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{82,67}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,374},{82,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{82,67}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,443},{82,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{82,67}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,512},{82,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{82,67}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{171,571},{82,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{82,69}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,232},{82,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{82,71}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{169,220},{82,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-5}</string>
                <key>spriteSize</key>
                <string>{82,73}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,82},{82,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-5}</string>
                <key>spriteSize</key>
                <string>{82,73}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{85,147},{82,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{82,73}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,157},{82,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-2}</string>
                <key>spriteSize</key>
                <string>{82,71}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{85,222},{82,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-1}</string>
                <key>spriteSize</key>
                <string>{82,69}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{85,295},{82,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{82,69}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,303},{82,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-2}</string>
                <key>spriteSize</key>
                <string>{82,67}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{85,366},{82,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{90,63}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,902},{90,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,16}</string>
                <key>spriteSize</key>
                <string>{96,55}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,967},{96,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,10}</string>
                <key>spriteSize</key>
                <string>{84,57}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{169,845},{84,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-3}</string>
                <key>spriteSize</key>
                <string>{90,65}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{85,435},{90,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-6}</string>
                <key>spriteSize</key>
                <string>{88,63}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{99,959},{88,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{82,63}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{85,642},{82,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{82,63}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,648},{82,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{82,63}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{85,707},{82,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-1}</string>
                <key>spriteSize</key>
                <string>{82,65}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,581},{82,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{84,67}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{171,502},{84,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{84,69}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{169,293},{84,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{84,71}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{169,147},{84,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-1}</string>
                <key>spriteSize</key>
                <string>{84,69}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{169,364},{84,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-1}</string>
                <key>spriteSize</key>
                <string>{82,67}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{85,573},{82,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{82,63}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{1,713},{82,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-2}</string>
                <key>spriteSize</key>
                <string>{82,63}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{85,772},{82,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{84,63}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{83,837},{84,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{86,67}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{169,709},{86,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{84,69}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{85,502},{84,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-1}</string>
                <key>spriteSize</key>
                <string>{84,65}</string>
                <key>spriteSourceSize</key>
                <string>{146,101}</string>
                <key>textureRect</key>
                <string>{{169,778},{84,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_xiechong.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7940a36a181002424f9b55f7c366d5a:7ac6051422371322926e9235db528fa2:1dfbb823886c58edb037108c4b77fdf4$</string>
            <key>textureFileName</key>
            <string>gw_xiechong.png</string>
        </dict>
    </dict>
</plist>
