<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_xiaobaochong_lv-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{73,447},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-4}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{369,499},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,10}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{75,371},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,6}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{163,1},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-17}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{1,153},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-5}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{83,1},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-9}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{371,363},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{1,371},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{70,66}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{369,431},{70,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{393,147},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{1,225},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{227,219},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{149,289},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{149,361},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{229,149},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-3}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{297,291},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{301,219},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{375,221},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{1,299},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{75,299},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{75,225},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{1,515},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,3}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{1,77},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,15}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{140,106}</string>
                <key>textureRect</key>
                <string>{{147,431},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68.5,51.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{140,106}</string>
                <key>textureRect</key>
                <string>{{153,77},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{297,431},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{371,293},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{77,77},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{321,1},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{317,75},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{223,291},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{393,75},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{397,1},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{241,75},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{297,361},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{219,433},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{243,1},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{153,213},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,2}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{445,293},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,2}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{153,139},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{223,363},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,3}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{439,499},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,4}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{77,151},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,1}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{163,67},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{317,147},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,6}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{1,439},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaobaochong_lv-move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,2}</string>
                <key>spriteSize</key>
                <string>{70,66}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{441,431},{70,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_xiaobaochong_lv.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aea04d9566b9af2cae00fb83992c4e75:54bf71aa61dfc01024d9dce406e79478:9d3c77e7b76b946e64c3d7c6d7c46990$</string>
            <key>textureFileName</key>
            <string>gw_xiaobaochong_lv.png</string>
        </dict>
    </dict>
</plist>
