<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_xiechong-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,5}</string>
                <key>spriteSize</key>
                <string>{83,66}</string>
                <key>spriteSourceSize</key>
                <string>{143,86}</string>
                <key>textureRect</key>
                <string>{{366,193},{83,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,5}</string>
                <key>spriteSize</key>
                <string>{79,62}</string>
                <key>spriteSourceSize</key>
                <string>{143,86}</string>
                <key>textureRect</key>
                <string>{{423,472},{79,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,6}</string>
                <key>spriteSize</key>
                <string>{79,56}</string>
                <key>spriteSourceSize</key>
                <string>{143,86}</string>
                <key>textureRect</key>
                <string>{{337,475},{79,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,16}</string>
                <key>spriteSize</key>
                <string>{89,54}</string>
                <key>spriteSourceSize</key>
                <string>{143,86}</string>
                <key>textureRect</key>
                <string>{{383,1},{89,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,1}</string>
                <key>spriteSize</key>
                <string>{97,80}</string>
                <key>spriteSourceSize</key>
                <string>{143,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{91,70}</string>
                <key>spriteSourceSize</key>
                <string>{143,86}</string>
                <key>textureRect</key>
                <string>{{100,60},{91,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{93,72}</string>
                <key>spriteSourceSize</key>
                <string>{143,86}</string>
                <key>textureRect</key>
                <string>{{197,1},{93,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{85,68}</string>
                <key>spriteSourceSize</key>
                <string>{143,86}</string>
                <key>textureRect</key>
                <string>{{292,68},{85,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{82,68}</string>
                <key>spriteSourceSize</key>
                <string>{82,76}</string>
                <key>textureRect</key>
                <string>{{255,350},{82,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{82,76}</string>
                <key>textureRect</key>
                <string>{{425,404},{82,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{82,76}</string>
                <key>textureRect</key>
                <string>{{339,407},{82,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{82,68}</string>
                <key>spriteSourceSize</key>
                <string>{82,76}</string>
                <key>textureRect</key>
                <string>{{169,352},{82,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{82,76}</string>
                <key>textureRect</key>
                <string>{{1,366},{82,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{82,76}</string>
                <key>textureRect</key>
                <string>{{352,261},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{82,76}</string>
                <key>textureRect</key>
                <string>{{1,290},{82,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{82,76}</string>
                <key>textureRect</key>
                <string>{{257,276},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{82,76}</string>
                <key>textureRect</key>
                <string>{{171,278},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{82,76}</string>
                <key>textureRect</key>
                <string>{{85,327},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{82,76}</string>
                <key>textureRect</key>
                <string>{{341,335},{82,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{82,68}</string>
                <key>spriteSourceSize</key>
                <string>{82,76}</string>
                <key>textureRect</key>
                <string>{{85,401},{82,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{113,93}</string>
                <key>textureRect</key>
                <string>{{1,221},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-4}</string>
                <key>spriteSize</key>
                <string>{91,63}</string>
                <key>spriteSourceSize</key>
                <string>{113,93}</string>
                <key>textureRect</key>
                <string>{{1,83},{91,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{95,57}</string>
                <key>spriteSourceSize</key>
                <string>{113,93}</string>
                <key>textureRect</key>
                <string>{{100,1},{95,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,6}</string>
                <key>spriteSize</key>
                <string>{85,57}</string>
                <key>spriteSourceSize</key>
                <string>{113,93}</string>
                <key>textureRect</key>
                <string>{{94,132},{85,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-8}</string>
                <key>spriteSize</key>
                <string>{89,65}</string>
                <key>spriteSourceSize</key>
                <string>{113,93}</string>
                <key>textureRect</key>
                <string>{{292,1},{89,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-11}</string>
                <key>spriteSize</key>
                <string>{87,63}</string>
                <key>spriteSourceSize</key>
                <string>{113,93}</string>
                <key>textureRect</key>
                <string>{{383,57},{87,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{82,63}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{169,422},{82,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{82,63}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{85,471},{82,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{82,63}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{1,507},{82,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{82,67}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{1,438},{82,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{84,67}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{181,144},{84,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{379,122},{84,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,71}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{1,148},{84,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{280,138},{84,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{82,67}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{425,335},{82,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{82,65}</string>
                <key>spriteSourceSize</key>
                <string>{86,71}</string>
                <key>textureRect</key>
                <string>{{253,420},{82,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{83,63}</string>
                <key>spriteSourceSize</key>
                <string>{87,69}</string>
                <key>textureRect</key>
                <string>{{172,213},{83,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{83,63}</string>
                <key>spriteSourceSize</key>
                <string>{87,69}</string>
                <key>textureRect</key>
                <string>{{86,262},{83,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{85,67}</string>
                <key>spriteSourceSize</key>
                <string>{87,69}</string>
                <key>textureRect</key>
                <string>{{193,75},{85,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{87,69}</string>
                <key>textureRect</key>
                <string>{{87,191},{83,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiechong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{83,65}</string>
                <key>spriteSourceSize</key>
                <string>{87,69}</string>
                <key>textureRect</key>
                <string>{{267,209},{83,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_xiechong_binhan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cead7bd02ab3982c2bf33af5604a3d0:6ab4edf22462f74a8a1348ea77701e7f:674256fdd2b836f0ffdfeea6d6baa9eb$</string>
            <key>textureFileName</key>
            <string>gw_xiechong_binhan.png</string>
        </dict>
    </dict>
</plist>
