<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_xieshachong-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{105,177},{96,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-14}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{105,79},{100,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-18}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{207,79},{100,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{599,201},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{106,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{893,1},{106,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{90,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{189,393},{90,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{88,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{281,405},{88,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{745,103},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{693,327},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{883,229},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{99,283},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{403,281},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,108}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{309,79},{92,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,108}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{1,287},{92,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{187,507},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{883,323},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{783,335},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{871,433},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{84,106}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{183,617},{84,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{475,399},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{86,104}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{371,489},{86,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{88,104}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{793,229},{88,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{90,106}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{95,491},{90,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{92,106}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{1,397},{92,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,108}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{195,283},{92,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,108}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{95,381},{92,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{144,118}</string>
                <key>textureRect</key>
                <string>{{501,293},{94,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{94,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,118}</string>
                <key>textureRect</key>
                <string>{{307,189},{94,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,2}</string>
                <key>spriteSize</key>
                <string>{84,114}</string>
                <key>spriteSourceSize</key>
                <string>{144,118}</string>
                <key>textureRect</key>
                <string>{{277,523},{84,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,1}</string>
                <key>spriteSize</key>
                <string>{98,110}</string>
                <key>spriteSourceSize</key>
                <string>{144,118}</string>
                <key>textureRect</key>
                <string>{{207,171},{98,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{110,100}</string>
                <key>spriteSourceSize</key>
                <string>{144,118}</string>
                <key>textureRect</key>
                <string>{{781,1},{110,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{126,84}</string>
                <key>spriteSourceSize</key>
                <string>{144,118}</string>
                <key>textureRect</key>
                <string>{{537,1},{126,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-19}</string>
                <key>spriteSize</key>
                <string>{132,76}</string>
                <key>spriteSourceSize</key>
                <string>{144,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-18}</string>
                <key>spriteSize</key>
                <string>{132,76}</string>
                <key>spriteSourceSize</key>
                <string>{144,118}</string>
                <key>textureRect</key>
                <string>{{135,1},{132,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{132,76}</string>
                <key>spriteSourceSize</key>
                <string>{144,118}</string>
                <key>textureRect</key>
                <string>{{269,1},{132,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-22}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{144,118}</string>
                <key>textureRect</key>
                <string>{{403,1},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{96,110}</string>
                <key>textureRect</key>
                <string>{{1,181},{96,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{94,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,110}</string>
                <key>textureRect</key>
                <string>{{697,219},{94,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{90,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,110}</string>
                <key>textureRect</key>
                <string>{{1,505},{90,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{88,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,110}</string>
                <key>textureRect</key>
                <string>{{93,599},{88,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{88,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,110}</string>
                <key>textureRect</key>
                <string>{{1,613},{88,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{90,104}</string>
                <key>spriteSourceSize</key>
                <string>{96,110}</string>
                <key>textureRect</key>
                <string>{{383,383},{90,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{96,110}</string>
                <key>textureRect</key>
                <string>{{289,299},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{96,110}</string>
                <key>textureRect</key>
                <string>{{597,293},{94,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{96,110}</string>
                <key>textureRect</key>
                <string>{{501,189},{96,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{96,110}</string>
                <key>textureRect</key>
                <string>{{403,175},{96,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{102,100}</string>
                <key>spriteSourceSize</key>
                <string>{118,108}</string>
                <key>textureRect</key>
                <string>{{1,79},{102,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{118,108}</string>
                <key>textureRect</key>
                <string>{{637,97},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{112,100}</string>
                <key>spriteSourceSize</key>
                <string>{118,108}</string>
                <key>textureRect</key>
                <string>{{523,87},{112,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{118,96}</string>
                <key>spriteSourceSize</key>
                <string>{118,108}</string>
                <key>textureRect</key>
                <string>{{403,77},{118,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{118,108}</string>
                <key>textureRect</key>
                <string>{{665,1},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xieshachong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{104,98}</string>
                <key>spriteSourceSize</key>
                <string>{118,108}</string>
                <key>textureRect</key>
                <string>{{851,129},{104,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_xieshachong_binhan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fb76c65c0abc053bd193d37e3a5ec16:ad26faac9ed30a8133a2d1194a042314:ce7c8cb5873aea6404b168db0561747b$</string>
            <key>textureFileName</key>
            <string>gw_xieshachong_binhan.png</string>
        </dict>
    </dict>
</plist>
