<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_xiaotiaochong-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{87,71}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{387,214},{87,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-6}</string>
                <key>spriteSize</key>
                <string>{85,67}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{88,378},{85,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{95,67}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{1,129},{95,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{99,77}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{106,1},{99,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{95,87}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{306,60},{95,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-7}</string>
                <key>spriteSize</key>
                <string>{91,67}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{1,198},{91,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-5}</string>
                <key>spriteSize</key>
                <string>{87,69}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{282,222},{87,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-4}</string>
                <key>spriteSize</key>
                <string>{89,71}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{296,149},{89,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{95,69}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{207,74},{95,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{91,69}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{98,151},{91,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{89,71}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{191,204},{89,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{89,75}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{403,60},{89,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{87,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{1,267},{87,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{85,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{371,287},{85,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-4}</string>
                <key>spriteSize</key>
                <string>{85,71}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{270,293},{85,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{83,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{264,366},{83,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{83,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{175,431},{83,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-3}</string>
                <key>spriteSize</key>
                <string>{83,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{86,447},{83,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-2}</string>
                <key>spriteSize</key>
                <string>{83,75}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{357,362},{83,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-1}</string>
                <key>spriteSize</key>
                <string>{83,77}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{1,421},{83,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-1}</string>
                <key>spriteSize</key>
                <string>{85,77}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{90,299},{85,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{87,75}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{94,222},{87,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{89,75}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{403,137},{89,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{81,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{256,514},{81,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-10}</string>
                <key>spriteSize</key>
                <string>{97,71}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{207,1},{97,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{103,69}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-4}</string>
                <key>spriteSize</key>
                <string>{95,69}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{102,80},{95,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-18}</string>
                <key>spriteSize</key>
                <string>{97,57}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{306,1},{97,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-18}</string>
                <key>spriteSize</key>
                <string>{97,57}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{405,1},{97,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{95,57}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{199,145},{95,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-19}</string>
                <key>spriteSize</key>
                <string>{99,55}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{1,72},{99,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{83,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{1,500},{83,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{83,71}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{260,441},{83,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{83,71}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{171,506},{83,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{83,71}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{86,522},{83,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{81,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{171,579},{81,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{81,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{84,595},{81,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{79,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{339,514},{79,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{79,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{420,518},{79,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{79,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{254,589},{79,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{83,73}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{349,439},{83,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{85,79}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{183,277},{85,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{81,75}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{1,575},{81,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{434,439},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{79,75}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{1,652},{79,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{85,71}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{177,358},{85,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xiaotiaochong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{85,77}</string>
                <key>spriteSourceSize</key>
                <string>{131,93}</string>
                <key>textureRect</key>
                <string>{{1,342},{85,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_xiaotiaochong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f1f8f3dd908b866a5b0ce8123e761a:1c5fac77ef23a330754053cfb52a1d20:0110a0b8a1405b798ef02d5c55c3d053$</string>
            <key>textureFileName</key>
            <string>gw_xiaotiaochong.png</string>
        </dict>
    </dict>
</plist>
