<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_xuetunchong-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{90,383},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{94,249},{89,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{87,70}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{393,195},{87,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,2}</string>
                <key>spriteSize</key>
                <string>{87,72}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{393,121},{87,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-3}</string>
                <key>spriteSize</key>
                <string>{109,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{174,45},{109,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-1}</string>
                <key>spriteSize</key>
                <string>{107,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{285,51},{107,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{95,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{209,119},{95,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{95,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{98,183},{95,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{91,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{1,219},{91,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{88,587},{85,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{87,68}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{286,197},{87,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{87,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{185,253},{87,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{87,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{92,315},{87,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{1,621},{85,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{349,471},{85,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{1,417},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{363,267},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{270,335},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{177,389},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{349,537},{85,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{262,539},{85,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{88,451},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{87,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{1,349},{87,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{87,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{274,267},{87,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{90,383},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{89,62}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{1,285},{89,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-4}</string>
                <key>spriteSize</key>
                <string>{89,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{195,185},{89,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{306,119},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{95,68}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{394,51},{95,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{109,60}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{1,89},{109,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{145,48}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{363,1},{145,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{171,42}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{1,45},{171,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{177,42}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{184,1},{177,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{181,42}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{181,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{1,485},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{357,335},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{264,403},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{175,457},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{88,519},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{1,553},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{351,403},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{262,471},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{175,593},{85,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{88,653},{85,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{95,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{1,151},{95,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{95,68}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{112,113},{95,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{175,525},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{81,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{1,687},{81,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xuetunchong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{87,66}</string>
                <key>spriteSourceSize</key>
                <string>{183,76}</string>
                <key>textureRect</key>
                <string>{{181,321},{87,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_xuetunchong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98cb7e5035e05e378d3fa2ea6f7bb2a3:0928779efd43dc8349f0f1567c999b28:4bfe6469708704195e308254896332e2$</string>
            <key>textureFileName</key>
            <string>gw_xuetunchong.png</string>
        </dict>
    </dict>
</plist>
