<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_yanchong-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,17}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{730,84},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,7}</string>
                <key>spriteSize</key>
                <string>{87,97}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{821,1},{87,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,15}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{1,274},{87,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,35}</string>
                <key>spriteSize</key>
                <string>{87,85}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{502,274},{87,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,26}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{910,1},{87,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,20}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{528,84},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,20}</string>
                <key>spriteSize</key>
                <string>{101,93}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{1,94},{101,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,18}</string>
                <key>spriteSize</key>
                <string>{101,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{219,1},{101,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,22}</string>
                <key>spriteSize</key>
                <string>{97,87}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{631,1},{97,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,30}</string>
                <key>spriteSize</key>
                <string>{89,81}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{730,1},{89,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,33}</string>
                <key>spriteSize</key>
                <string>{89,83}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{104,183},{89,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,29}</string>
                <key>spriteSize</key>
                <string>{89,83}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{1,189},{89,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,21}</string>
                <key>spriteSize</key>
                <string>{89,91}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{215,98},{89,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,15}</string>
                <key>spriteSize</key>
                <string>{85,101}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{1,369},{85,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,14}</string>
                <key>spriteSize</key>
                <string>{85,103}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{395,280},{85,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,12}</string>
                <key>spriteSize</key>
                <string>{85,103}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{284,284},{85,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{85,101}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{908,191},{85,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{85,101}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{799,195},{85,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{83,101}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{264,486},{83,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{83,99}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{1,569},{83,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{83,101}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{175,490},{83,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{85,101}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{694,276},{85,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{85,103}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{181,288},{85,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{85,103}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{90,365},{85,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{83,101}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{88,567},{83,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,14}</string>
                <key>spriteSize</key>
                <string>{85,101}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{591,282},{85,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{621,90},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,1}</string>
                <key>spriteSize</key>
                <string>{85,99}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{482,361},{85,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,16}</string>
                <key>spriteSize</key>
                <string>{101,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{112,86},{101,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,4}</string>
                <key>spriteSize</key>
                <string>{109,91}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{109,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-31}</string>
                <key>spriteSize</key>
                <string>{105,83}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{112,1},{105,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-32}</string>
                <key>spriteSize</key>
                <string>{101,87}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{322,1},{101,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-34}</string>
                <key>spriteSize</key>
                <string>{101,81}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{528,1},{101,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-36}</string>
                <key>spriteSize</key>
                <string>{101,83}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{425,1},{101,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{621,90},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,15}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{371,385},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,12}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{516,177},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,9}</string>
                <key>spriteSize</key>
                <string>{89,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{425,86},{89,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,7}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{413,183},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{910,96},{87,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{819,100},{87,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{268,389},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,13}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{177,393},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{88,470},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{306,187},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,15}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{1,472},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,12}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{195,191},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,9}</string>
                <key>spriteSize</key>
                <string>{89,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{322,90},{89,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{92,268},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{710,181},{87,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{605,187},{87,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{85,93}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{458,462},{85,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{85,93}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{355,482},{85,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{886,294},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,15}</string>
                <key>spriteSize</key>
                <string>{83,97}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{868,391},{83,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,13}</string>
                <key>spriteSize</key>
                <string>{83,97}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{765,395},{83,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{83,97}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{656,476},{83,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,8}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{781,298},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{678,379},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yanchong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{569,385},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_yanchong.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2687a2547ce84c32c3968ee21306febe:56417e4239fc9a9a50d399f3078621a0:e98babbfc7237c986e4cbfd21eedf203$</string>
            <key>textureFileName</key>
            <string>gw_yanchong.png</string>
        </dict>
    </dict>
</plist>
