<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_yifu-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-17}</string>
                <key>spriteSize</key>
                <string>{180,106}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{562,357},{180,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-20}</string>
                <key>spriteSize</key>
                <string>{150,110}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{158,1083},{150,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{174,142}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{1,559},{174,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,3}</string>
                <key>spriteSize</key>
                <string>{194,102}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{598,125},{194,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{138,96}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{879,1377},{138,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{200,116}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{428,1},{200,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{150,1307},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{150,108}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{1,1173},{150,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{142,98}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{752,1277},{142,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,5}</string>
                <key>spriteSize</key>
                <string>{156,138}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{336,863},{156,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,1}</string>
                <key>spriteSize</key>
                <string>{190,128}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{1,323},{190,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,2}</string>
                <key>spriteSize</key>
                <string>{220,106}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,2}</string>
                <key>spriteSize</key>
                <string>{150,106}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{829,955},{150,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{156,116}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{166,965},{156,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{180,126}</string>
                <key>spriteSourceSize</key>
                <string>{264,158}</string>
                <key>textureRect</key>
                <string>{{380,345},{180,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,11}</string>
                <key>spriteSize</key>
                <string>{164,110}</string>
                <key>spriteSourceSize</key>
                <string>{208,132}</string>
                <key>textureRect</key>
                <string>{{170,853},{164,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,8}</string>
                <key>spriteSize</key>
                <string>{188,108}</string>
                <key>spriteSourceSize</key>
                <string>{208,132}</string>
                <key>textureRect</key>
                <string>{{787,351},{188,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{182,104}</string>
                <key>spriteSourceSize</key>
                <string>{208,132}</string>
                <key>textureRect</key>
                <string>{{1,453},{182,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,104}</string>
                <key>spriteSourceSize</key>
                <string>{208,132}</string>
                <key>textureRect</key>
                <string>{{1,1391},{144,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{140,102}</string>
                <key>spriteSourceSize</key>
                <string>{208,132}</string>
                <key>textureRect</key>
                <string>{{595,1393},{140,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{150,112}</string>
                <key>spriteSourceSize</key>
                <string>{208,132}</string>
                <key>textureRect</key>
                <string>{{324,1003},{150,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{174,116}</string>
                <key>spriteSourceSize</key>
                <string>{208,132}</string>
                <key>textureRect</key>
                <string>{{1,703},{174,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{192,116}</string>
                <key>spriteSourceSize</key>
                <string>{208,132}</string>
                <key>textureRect</key>
                <string>{{198,227},{192,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{190,110}</string>
                <key>spriteSourceSize</key>
                <string>{208,132}</string>
                <key>textureRect</key>
                <string>{{794,131},{190,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{142,102}</string>
                <key>spriteSourceSize</key>
                <string>{208,132}</string>
                <key>textureRect</key>
                <string>{{752,1173},{142,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{140,104}</string>
                <key>spriteSourceSize</key>
                <string>{208,132}</string>
                <key>textureRect</key>
                <string>{{737,1377},{140,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{148,110}</string>
                <key>spriteSourceSize</key>
                <string>{208,132}</string>
                <key>textureRect</key>
                <string>{{310,1117},{148,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,31}</string>
                <key>spriteSize</key>
                <string>{164,130}</string>
                <key>spriteSourceSize</key>
                <string>{282,192}</string>
                <key>textureRect</key>
                <string>{{522,725},{164,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,3}</string>
                <key>spriteSize</key>
                <string>{192,128}</string>
                <key>spriteSourceSize</key>
                <string>{282,192}</string>
                <key>textureRect</key>
                <string>{{831,1},{192,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,35}</string>
                <key>spriteSize</key>
                <string>{154,110}</string>
                <key>spriteSourceSize</key>
                <string>{282,192}</string>
                <key>textureRect</key>
                <string>{{673,955},{154,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-13}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{282,192}</string>
                <key>textureRect</key>
                <string>{{346,737},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,-19}</string>
                <key>spriteSize</key>
                <string>{174,120}</string>
                <key>spriteSourceSize</key>
                <string>{282,192}</string>
                <key>textureRect</key>
                <string>{{177,601},{174,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-40}</string>
                <key>spriteSize</key>
                <string>{148,110}</string>
                <key>spriteSourceSize</key>
                <string>{282,192}</string>
                <key>textureRect</key>
                <string>{{153,1195},{148,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-42}</string>
                <key>spriteSize</key>
                <string>{140,106}</string>
                <key>spriteSourceSize</key>
                <string>{282,192}</string>
                <key>textureRect</key>
                <string>{{595,1285},{140,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{167,128}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{557,595},{167,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{197,116}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{202,109},{197,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{143,110}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{607,1173},{143,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{161,122}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{688,831},{161,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{189,126}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{596,229},{189,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-17}</string>
                <key>spriteSize</key>
                <string>{165,106}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{726,723},{165,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{149,108}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{829,1063},{149,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{177,128}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{562,465},{177,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{189,106}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{787,243},{189,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{145,108}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{460,1173},{145,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,5}</string>
                <key>spriteSize</key>
                <string>{167,128}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{353,607},{167,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{199,122}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{630,1},{199,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{143,110}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{450,1283},{143,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{851,831},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{185,128}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{193,345},{185,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-17}</string>
                <key>spriteSize</key>
                <string>{163,106}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{1,949},{163,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{159,108}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{512,857},{159,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{179,126}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{744,461},{179,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{203,106}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{223,1},{203,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{143,108}</string>
                <key>spriteSourceSize</key>
                <string>{209,140}</string>
                <key>textureRect</key>
                <string>{{296,1339},{143,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{167,128}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{177,723},{167,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{195,106}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{1,215},{195,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{155,114}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{1,1057},{155,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{193,118}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{401,225},{193,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-23}</string>
                <key>spriteSize</key>
                <string>{149,100}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{476,1071},{149,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{175,124}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{185,475},{175,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{195,104}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{401,119},{195,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{145,108}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{303,1229},{145,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{171,132}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{741,589},{171,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{149,104}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{647,1067},{149,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{167,126}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{1,821},{167,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-21}</string>
                <key>spriteSize</key>
                <string>{199,104}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{1,109},{199,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{147,106}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{1,1283},{147,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{175,132}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{380,473},{175,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{151,102}</string>
                <key>spriteSourceSize</key>
                <string>{203,150}</string>
                <key>textureRect</key>
                <string>{{494,967},{151,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_yifu_kjz.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62a0c976c62ef36f37c12b6bdaace986:44f47a30e1c79edad17a20aa19211ace:1138a4c48a354305b2edc6788f376f3b$</string>
            <key>textureFileName</key>
            <string>gw_yifu_kjz.png</string>
        </dict>
    </dict>
</plist>
