<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_yifu-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,6}</string>
                <key>spriteSize</key>
                <string>{179,104}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{779,345},{179,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,4}</string>
                <key>spriteSize</key>
                <string>{151,110}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{331,997},{151,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,16}</string>
                <key>spriteSize</key>
                <string>{175,142}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{574,383},{175,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,26}</string>
                <key>spriteSize</key>
                <string>{195,100}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,323},{195,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,29}</string>
                <key>spriteSize</key>
                <string>{139,96}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,1469},{139,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,26}</string>
                <key>spriteSize</key>
                <string>{201,116}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{429,1},{201,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,30}</string>
                <key>spriteSize</key>
                <string>{145,144}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{613,1151},{145,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,29}</string>
                <key>spriteSize</key>
                <string>{151,108}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{160,1077},{151,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,28}</string>
                <key>spriteSize</key>
                <string>{141,96}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{297,1333},{141,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{157,138}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{864,813},{157,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,25}</string>
                <key>spriteSize</key>
                <string>{191,128}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{397,239},{191,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,25}</string>
                <key>spriteSize</key>
                <string>{221,106}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{221,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,25}</string>
                <key>spriteSize</key>
                <string>{151,106}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,1147},{151,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,23}</string>
                <key>spriteSize</key>
                <string>{157,116}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,1029},{157,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,21}</string>
                <key>spriteSize</key>
                <string>{179,126}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{192,453},{179,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,14}</string>
                <key>spriteSize</key>
                <string>{165,112}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{170,841},{165,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,10}</string>
                <key>spriteSize</key>
                <string>{189,108}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{793,129},{189,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,5}</string>
                <key>spriteSize</key>
                <string>{181,104}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{391,369},{181,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,2}</string>
                <key>spriteSize</key>
                <string>{145,104}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{760,1279},{145,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-1}</string>
                <key>spriteSize</key>
                <string>{141,104}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{450,1329},{141,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,0}</string>
                <key>spriteSize</key>
                <string>{149,112}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{484,999},{149,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,1}</string>
                <key>spriteSize</key>
                <string>{173,118}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{550,527},{173,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,3}</string>
                <key>spriteSize</key>
                <string>{191,116}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{198,335},{191,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,4}</string>
                <key>spriteSize</key>
                <string>{189,110}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,425},{189,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,4}</string>
                <key>spriteSize</key>
                <string>{143,102}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,1365},{143,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,7}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{146,1411},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,12}</string>
                <key>spriteSize</key>
                <string>{149,110}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{313,1109},{149,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,25}</string>
                <key>spriteSize</key>
                <string>{165,130}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{532,647},{165,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-3}</string>
                <key>spriteSize</key>
                <string>{193,126}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{598,125},{193,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,29}</string>
                <key>spriteSize</key>
                <string>{155,110}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{500,887},{155,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-19}</string>
                <key>spriteSize</key>
                <string>{163,124}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{699,703},{163,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-25}</string>
                <key>spriteSize</key>
                <string>{175,120}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{751,451},{175,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-46}</string>
                <key>spriteSize</key>
                <string>{149,110}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{154,1187},{149,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-48}</string>
                <key>spriteSize</key>
                <string>{141,106}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{450,1221},{141,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,23}</string>
                <key>spriteSize</key>
                <string>{167,128}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{178,711},{167,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,14}</string>
                <key>spriteSize</key>
                <string>{197,116}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{202,109},{197,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,7}</string>
                <key>spriteSize</key>
                <string>{143,110}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{305,1221},{143,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,9}</string>
                <key>spriteSize</key>
                <string>{161,120}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{337,875},{161,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,9}</string>
                <key>spriteSize</key>
                <string>{189,126}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{833,1},{189,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-2}</string>
                <key>spriteSize</key>
                <string>{165,106}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,921},{165,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,1}</string>
                <key>spriteSize</key>
                <string>{149,108}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,1255},{149,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,15}</string>
                <key>spriteSize</key>
                <string>{175,128}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{182,581},{175,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,6}</string>
                <key>spriteSize</key>
                <string>{189,104}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{793,239},{189,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,9}</string>
                <key>spriteSize</key>
                <string>{147,106}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{464,1113},{147,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,21}</string>
                <key>spriteSize</key>
                <string>{167,128}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,791},{167,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,15}</string>
                <key>spriteSize</key>
                <string>{199,122}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{632,1},{199,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,6}</string>
                <key>spriteSize</key>
                <string>{143,110}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{152,1299},{143,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,8}</string>
                <key>spriteSize</key>
                <string>{161,120}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{168,955},{161,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,10}</string>
                <key>spriteSize</key>
                <string>{187,128}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{590,253},{187,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-2}</string>
                <key>spriteSize</key>
                <string>{163,106}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{514,779},{163,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,2}</string>
                <key>spriteSize</key>
                <string>{159,108}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{864,703},{159,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,14}</string>
                <key>spriteSize</key>
                <string>{179,126}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,537},{179,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,8}</string>
                <key>spriteSize</key>
                <string>{203,106}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{224,1},{203,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,11}</string>
                <key>spriteSize</key>
                <string>{141,106}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{593,1297},{141,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,29}</string>
                <key>spriteSize</key>
                <string>{165,128}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{347,745},{165,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,13}</string>
                <key>spriteSize</key>
                <string>{195,106}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{200,227},{195,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,11}</string>
                <key>spriteSize</key>
                <string>{157,114}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{679,829},{157,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,8}</string>
                <key>spriteSize</key>
                <string>{195,118}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{401,119},{195,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-1}</string>
                <key>spriteSize</key>
                <string>{149,100}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{635,1049},{149,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,16}</string>
                <key>spriteSize</key>
                <string>{175,124}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,665},{175,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,12}</string>
                <key>spriteSize</key>
                <string>{197,106}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,215},{197,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,17}</string>
                <key>spriteSize</key>
                <string>{145,108}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{760,1169},{145,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,31}</string>
                <key>spriteSize</key>
                <string>{171,134}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{359,609},{171,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,11}</string>
                <key>spriteSize</key>
                <string>{149,106}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{810,953},{149,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,16}</string>
                <key>spriteSize</key>
                <string>{167,128}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{725,573},{167,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{199,104}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{1,109},{199,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,3}</string>
                <key>spriteSize</key>
                <string>{147,106}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{786,1061},{147,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,22}</string>
                <key>spriteSize</key>
                <string>{175,132}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{373,475},{175,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yifu-move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,13}</string>
                <key>spriteSize</key>
                <string>{151,102}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{657,945},{151,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_yifu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa8942da0dd089e915a06190b5f5b6a3:8479e1f8b895f993735c6bbfe7c9223c:45aeb6f40657210b99d8de413a00d974$</string>
            <key>textureFileName</key>
            <string>gw_yifu.png</string>
        </dict>
    </dict>
</plist>
