<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_youchong-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{63,74}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{66,426},{63,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{61,76}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{193,621},{61,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{129,683},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{196,458},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-1}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{79,193},{69,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{181,1},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{77,70}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{86,121},{77,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{83,72}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{1,66},{83,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{1,219},{69,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{63,802},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{1,838},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{63,76}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{68,348},{63,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,75}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{150,223},{65,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{63,75}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{1,374},{63,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{63,75}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{133,375},{63,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{63,73}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{1,451},{63,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{63,73}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{131,452},{63,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{65,731},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{63,71}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{66,502},{63,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{65,73}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{139,300},{65,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,75}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{72,271},{65,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,75}</string>
                <key>spriteSourceSize</key>
                <string>{65,75}</string>
                <key>textureRect</key>
                <string>{{1,297},{65,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-10}</string>
                <key>spriteSize</key>
                <string>{62,77}</string>
                <key>spriteSourceSize</key>
                <string>{120,123}</string>
                <key>textureRect</key>
                <string>{{131,527},{62,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-15}</string>
                <key>spriteSize</key>
                <string>{76,67}</string>
                <key>spriteSourceSize</key>
                <string>{120,123}</string>
                <key>textureRect</key>
                <string>{{165,154},{76,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{120,123}</string>
                <key>textureRect</key>
                <string>{{179,73},{76,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,23}</string>
                <key>spriteSize</key>
                <string>{76,77}</string>
                <key>spriteSourceSize</key>
                <string>{120,123}</string>
                <key>textureRect</key>
                <string>{{1,140},{76,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-24}</string>
                <key>spriteSize</key>
                <string>{86,63}</string>
                <key>spriteSourceSize</key>
                <string>{120,123}</string>
                <key>textureRect</key>
                <string>{{91,56},{86,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-23}</string>
                <key>spriteSize</key>
                <string>{88,63}</string>
                <key>spriteSourceSize</key>
                <string>{120,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-35}</string>
                <key>spriteSize</key>
                <string>{88,53}</string>
                <key>spriteSourceSize</key>
                <string>{120,123}</string>
                <key>textureRect</key>
                <string>{{91,1},{88,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{1,605},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{62,77}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{1,526},{62,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{129,606},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{1,759},{60,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{190,776},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{56,81}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{198,375},{56,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{58,77}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{124,836},{58,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{58,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{184,859},{58,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{192,699},{60,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{65,654},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{58,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{62,884},{58,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{128,759},{60,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{58,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{1,916},{58,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{195,540},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{62,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{65,575},{62,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_youchong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{1,682},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_youchong_binhan.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d00adf4d51b579fd5158b499cd13780:4dd0df5686e2f88ff4cb3b1d4bf18855:bff4ba975e2ec9eb2e9d020a8db6970f$</string>
            <key>textureFileName</key>
            <string>gw_youchong_binhan.png</string>
        </dict>
    </dict>
</plist>
