<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_yuanshibaochong-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-32}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{298,285},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-31}</string>
                <key>spriteSize</key>
                <string>{89,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{286,785},{89,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-30}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{191,799},{87,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-32}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{193,299},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-30}</string>
                <key>spriteSize</key>
                <string>{103,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{116,87},{103,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-32}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{96,347},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-32}</string>
                <key>spriteSize</key>
                <string>{91,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{381,783},{91,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-31}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{415,283},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-32}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{1,357},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-33}</string>
                <key>spriteSize</key>
                <string>{93,82}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{286,457},{93,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-34}</string>
                <key>spriteSize</key>
                <string>{93,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{381,457},{93,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-34}</string>
                <key>spriteSize</key>
                <string>{93,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{381,539},{93,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-35}</string>
                <key>spriteSize</key>
                <string>{93,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{1,695},{93,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-35}</string>
                <key>spriteSize</key>
                <string>{93,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{381,703},{93,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-35}</string>
                <key>spriteSize</key>
                <string>{93,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{286,541},{93,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-34}</string>
                <key>spriteSize</key>
                <string>{93,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{191,555},{93,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-33}</string>
                <key>spriteSize</key>
                <string>{93,82}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{191,471},{93,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-33}</string>
                <key>spriteSize</key>
                <string>{93,82}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{96,519},{93,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-32}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{288,371},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-31}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{203,211},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-31}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{98,259},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-34}</string>
                <key>spriteSize</key>
                <string>{93,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{96,603},{93,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-28}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{1,775},{91,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-34}</string>
                <key>spriteSize</key>
                <string>{103,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{1,103},{103,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-47}</string>
                <key>spriteSize</key>
                <string>{105,66}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{223,1},{105,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-49}</string>
                <key>spriteSize</key>
                <string>{105,58}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{330,1},{105,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-49}</string>
                <key>spriteSize</key>
                <string>{105,58}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{330,61},{105,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-49}</string>
                <key>spriteSize</key>
                <string>{105,58}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{223,69},{105,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-32}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{298,285},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-32}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{191,385},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-34}</string>
                <key>spriteSize</key>
                <string>{93,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{1,613},{93,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-35}</string>
                <key>spriteSize</key>
                <string>{93,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{286,705},{93,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-35}</string>
                <key>spriteSize</key>
                <string>{93,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{191,719},{93,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-34}</string>
                <key>spriteSize</key>
                <string>{93,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{381,621},{93,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-32}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{96,433},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-31}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{1,269},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-32}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{1,443},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-34}</string>
                <key>spriteSize</key>
                <string>{93,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{286,623},{93,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-34}</string>
                <key>spriteSize</key>
                <string>{93,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{191,637},{93,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-33}</string>
                <key>spriteSize</key>
                <string>{93,82}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{1,529},{93,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-luoxia_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,35}</string>
                <key>spriteSize</key>
                <string>{113,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-luoxia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{105,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{116,1},{105,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-luoxia_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-37}</string>
                <key>spriteSize</key>
                <string>{93,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{96,767},{93,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-luoxia_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-34}</string>
                <key>spriteSize</key>
                <string>{93,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{96,685},{93,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-36}</string>
                <key>spriteSize</key>
                <string>{95,76}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{415,205},{95,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-34}</string>
                <key>spriteSize</key>
                <string>{95,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{1,189},{95,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-33}</string>
                <key>spriteSize</key>
                <string>{95,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{221,129},{95,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-34}</string>
                <key>spriteSize</key>
                <string>{95,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{106,177},{95,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-34}</string>
                <key>spriteSize</key>
                <string>{95,82}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{330,121},{95,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-33}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{383,371},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_yuanshibaochong-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-35}</string>
                <key>spriteSize</key>
                <string>{95,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{318,205},{95,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_yuanshibaochong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2aa3dcb9b23d2a30077de52f79434a8:780a9f2a1704a524014314f901f76836:389d8b019f363ac70d2ecb29e3dea846$</string>
            <key>textureFileName</key>
            <string>gw_yuanshibaochong.png</string>
        </dict>
    </dict>
</plist>
