<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_zhidangchong-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-8}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{205,485},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-9}</string>
                <key>spriteSize</key>
                <string>{95,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{1,783},{95,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-11}</string>
                <key>spriteSize</key>
                <string>{109,80}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{1,463},{109,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-6}</string>
                <key>spriteSize</key>
                <string>{101,104}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{101,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,24}</string>
                <key>spriteSize</key>
                <string>{101,100}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{1,107},{101,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,23}</string>
                <key>spriteSize</key>
                <string>{99,102}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{104,1},{99,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-17}</string>
                <key>spriteSize</key>
                <string>{91,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{112,519},{91,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-9}</string>
                <key>spriteSize</key>
                <string>{87,80}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{110,191},{87,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-7}</string>
                <key>spriteSize</key>
                <string>{87,80}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{110,273},{87,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-12}</string>
                <key>spriteSize</key>
                <string>{85,80}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{112,355},{85,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-12}</string>
                <key>spriteSize</key>
                <string>{87,82}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{1,941},{87,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-13}</string>
                <key>spriteSize</key>
                <string>{87,82}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{90,941},{87,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-13}</string>
                <key>spriteSize</key>
                <string>{89,80}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{112,437},{89,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-12}</string>
                <key>spriteSize</key>
                <string>{91,78}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{96,861},{91,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-12}</string>
                <key>spriteSize</key>
                <string>{91,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{98,675},{91,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-12}</string>
                <key>spriteSize</key>
                <string>{91,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{98,753},{91,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-13}</string>
                <key>spriteSize</key>
                <string>{91,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{205,89},{91,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-13}</string>
                <key>spriteSize</key>
                <string>{89,74}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{205,563},{89,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-12}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{298,89},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-12}</string>
                <key>spriteSize</key>
                <string>{87,74}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{296,713},{87,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-11}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{292,479},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-11}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{296,557},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-12}</string>
                <key>spriteSize</key>
                <string>{85,80}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{203,403},{85,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-8}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{387,87},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-13}</string>
                <key>spriteSize</key>
                <string>{107,82}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{1,295},{107,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-14}</string>
                <key>spriteSize</key>
                <string>{107,84}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{1,209},{107,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-14}</string>
                <key>spriteSize</key>
                <string>{111,84}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{320,1},{111,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-14}</string>
                <key>spriteSize</key>
                <string>{113,86}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{205,1},{113,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-14}</string>
                <key>spriteSize</key>
                <string>{109,82}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{1,379},{109,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-13}</string>
                <key>spriteSize</key>
                <string>{105,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{1,545},{105,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-14}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{104,105},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-14}</string>
                <key>spriteSize</key>
                <string>{93,78}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{1,861},{93,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-11}</string>
                <key>spriteSize</key>
                <string>{93,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{108,597},{93,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-14}</string>
                <key>spriteSize</key>
                <string>{91,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{199,167},{91,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-15}</string>
                <key>spriteSize</key>
                <string>{91,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{199,245},{91,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-14}</string>
                <key>spriteSize</key>
                <string>{89,78}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{199,323},{89,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-10}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{387,165},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-9}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{385,555},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-8}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{385,633},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-7}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{296,635},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-9}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{385,711},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-10}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{191,795},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-9}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{189,873},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-8}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{292,167},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-8}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{292,245},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-9}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{284,789},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-10}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{373,789},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-9}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{282,867},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-8}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{371,867},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-7}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{280,945},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-8}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{290,323},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-9}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{290,401},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-9}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{383,243},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-8}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{383,321},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-8}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{381,399},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-9}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{369,945},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-7}</string>
                <key>spriteSize</key>
                <string>{95,78}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{1,623},{95,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-8}</string>
                <key>spriteSize</key>
                <string>{91,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{203,639},{91,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-9}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{381,477},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-8}</string>
                <key>spriteSize</key>
                <string>{91,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{191,717},{91,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{95,78}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{1,703},{95,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_zhidangchong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1410818ee894d9c5bbff6043277bcf6:f737aa708f7c4373724b55b59c2c7ec1:fcabbecba620d0e1953ad0989bc62314$</string>
            <key>textureFileName</key>
            <string>gw_zhidangchong.png</string>
        </dict>
    </dict>
</plist>
