<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_zhanlang-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,6}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{174,106}</string>
                <key>textureRect</key>
                <string>{{88,473},{84,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,6}</string>
                <key>spriteSize</key>
                <string>{84,64}</string>
                <key>spriteSourceSize</key>
                <string>{174,106}</string>
                <key>textureRect</key>
                <string>{{264,415},{84,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,7}</string>
                <key>spriteSize</key>
                <string>{88,66}</string>
                <key>spriteSourceSize</key>
                <string>{174,106}</string>
                <key>textureRect</key>
                <string>{{417,145},{88,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,13}</string>
                <key>spriteSize</key>
                <string>{106,62}</string>
                <key>spriteSourceSize</key>
                <string>{174,106}</string>
                <key>textureRect</key>
                <string>{{1,71},{106,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,21}</string>
                <key>spriteSize</key>
                <string>{104,62}</string>
                <key>spriteSourceSize</key>
                <string>{174,106}</string>
                <key>textureRect</key>
                <string>{{227,1},{104,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-4}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{174,106}</string>
                <key>textureRect</key>
                <string>{{333,1},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,1}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{174,106}</string>
                <key>textureRect</key>
                <string>{{109,75},{94,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-1}</string>
                <key>spriteSize</key>
                <string>{90,76}</string>
                <key>spriteSourceSize</key>
                <string>{174,106}</string>
                <key>textureRect</key>
                <string>{{1,135},{90,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{90,74}</string>
                <key>spriteSourceSize</key>
                <string>{174,106}</string>
                <key>textureRect</key>
                <string>{{325,81},{90,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{88,66}</string>
                <key>spriteSourceSize</key>
                <string>{174,106}</string>
                <key>textureRect</key>
                <string>{{205,143},{88,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,4}</string>
                <key>spriteSize</key>
                <string>{82,64}</string>
                <key>spriteSourceSize</key>
                <string>{174,106}</string>
                <key>textureRect</key>
                <string>{{348,531},{82,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{85,60}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{177,407},{85,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{85,60}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{89,411},{85,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{85,60}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{1,463},{85,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{87,60}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{272,223},{87,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{87,62}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{91,217},{87,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{87,62}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{1,273},{87,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{87,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{295,157},{87,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{87,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{183,211},{87,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{87,62}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{384,213},{87,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{85,62}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{356,343},{85,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{85,62}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{266,351},{85,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{85,60}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{353,407},{85,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-9}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{136,128}</string>
                <key>textureRect</key>
                <string>{{1,525},{84,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-20}</string>
                <key>spriteSize</key>
                <string>{90,62}</string>
                <key>spriteSourceSize</key>
                <string>{136,128}</string>
                <key>textureRect</key>
                <string>{{417,81},{90,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,14}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{136,128}</string>
                <key>textureRect</key>
                <string>{{173,593},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{136,128}</string>
                <key>textureRect</key>
                <string>{{432,531},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-13}</string>
                <key>spriteSize</key>
                <string>{96,76}</string>
                <key>spriteSourceSize</key>
                <string>{136,128}</string>
                <key>textureRect</key>
                <string>{{227,65},{96,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-14}</string>
                <key>spriteSize</key>
                <string>{108,72}</string>
                <key>spriteSourceSize</key>
                <string>{136,128}</string>
                <key>textureRect</key>
                <string>{{117,1},{108,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{114,68}</string>
                <key>spriteSourceSize</key>
                <string>{136,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{84,58}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{262,481},{84,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{84,58}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{174,533},{84,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{84,58}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{87,535},{84,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{178,345},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{86,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{1,337},{86,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{180,277},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{90,281},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{86,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{361,277},{86,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{84,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{176,469},{84,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{350,469},{84,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{82,58}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{260,541},{82,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{86,58}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{1,403},{86,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{88,58}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{1,213},{88,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{88,62}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{93,153},{88,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{86,64}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{268,285},{86,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{89,349},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{84,58}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{1,587},{84,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_zhanlang_binhan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2a7c82dd5e608bbda8dfc2a2a078433:c34a31c6f2a6d91daa0d8b3f3188da19:8463b9012b1b94ebf2810beeb9e31ff4$</string>
            <key>textureFileName</key>
            <string>gw_zhanlang_binhan.png</string>
        </dict>
    </dict>
</plist>
