<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_zhanlang-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-18}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{87,507},{84,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-18}</string>
                <key>spriteSize</key>
                <string>{84,62}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{89,443},{84,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-17}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{221,137},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-11}</string>
                <key>spriteSize</key>
                <string>{106,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{239,1},{106,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{104,64}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{347,1},{104,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-29}</string>
                <key>spriteSize</key>
                <string>{100,72}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{239,63},{100,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-23}</string>
                <key>spriteSize</key>
                <string>{98,76}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{121,77},{98,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-25}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{1,149},{94,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-21}</string>
                <key>spriteSize</key>
                <string>{88,74}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{341,131},{88,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-23}</string>
                <key>spriteSize</key>
                <string>{84,66}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{265,397},{84,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{86,64}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{89,251},{86,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-17}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{1,549},{84,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-17}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{261,465},{84,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-17}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{261,527},{84,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-18}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{173,529},{84,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-19}</string>
                <key>spriteSize</key>
                <string>{86,62}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{1,361},{86,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-20}</string>
                <key>spriteSize</key>
                <string>{86,62}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{361,207},{86,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-20}</string>
                <key>spriteSize</key>
                <string>{86,64}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{1,295},{86,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-20}</string>
                <key>spriteSize</key>
                <string>{86,64}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{273,207},{86,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-19}</string>
                <key>spriteSize</key>
                <string>{86,64}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{177,271},{86,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-19}</string>
                <key>spriteSize</key>
                <string>{84,62}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{1,485},{84,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-18}</string>
                <key>spriteSize</key>
                <string>{84,62}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{351,399},{84,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-17}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{87,569},{84,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-18}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{87,507},{84,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-26}</string>
                <key>spriteSize</key>
                <string>{90,62}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{341,67},{90,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,17}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{433,67},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,16}</string>
                <key>spriteSize</key>
                <string>{86,94}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{97,155},{86,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-17}</string>
                <key>spriteSize</key>
                <string>{98,68}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{1,79},{98,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-20}</string>
                <key>spriteSize</key>
                <string>{118,76}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-24}</string>
                <key>spriteSize</key>
                <string>{116,74}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{121,1},{116,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-17}</string>
                <key>spriteSize</key>
                <string>{84,58}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{1,611},{84,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-16}</string>
                <key>spriteSize</key>
                <string>{84,56}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{259,589},{84,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-14}</string>
                <key>spriteSize</key>
                <string>{84,58}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{347,527},{84,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-14}</string>
                <key>spriteSize</key>
                <string>{84,62}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{351,463},{84,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{86,62}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{361,271},{86,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-18}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{1,227},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{185,203},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-15}</string>
                <key>spriteSize</key>
                <string>{84,64}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{177,399},{84,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-15}</string>
                <key>spriteSize</key>
                <string>{84,62}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{175,465},{84,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-17}</string>
                <key>spriteSize</key>
                <string>{84,58}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{347,587},{84,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-18}</string>
                <key>spriteSize</key>
                <string>{86,58}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{89,383},{86,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-15}</string>
                <key>spriteSize</key>
                <string>{86,58}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{1,425},{86,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-14}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{177,337},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-19}</string>
                <key>spriteSize</key>
                <string>{86,62}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{265,273},{86,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-19}</string>
                <key>spriteSize</key>
                <string>{86,64}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{89,317},{86,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-14}</string>
                <key>spriteSize</key>
                <string>{86,62}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{353,335},{86,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhanlang-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{86,58}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{265,337},{86,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_zhanlang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58fe1c2aabc97c569554939dec38111f:6c45348cc0595c33258633a41cacb680:6f50731edccf469f57a115f3d687ef5b$</string>
            <key>textureFileName</key>
            <string>gw_zhanlang.png</string>
        </dict>
    </dict>
</plist>
