<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_zhengchong-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{86,82}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{269,323},{86,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{90,84}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{1,159},{90,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{1,847},{82,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{1,933},{78,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,2}</string>
                <key>spriteSize</key>
                <string>{94,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{305,1},{94,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,2}</string>
                <key>spriteSize</key>
                <string>{92,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{95,135},{92,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{1,73},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{90,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{401,1},{90,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-3}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{395,157},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-3}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{281,163},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-2}</string>
                <key>spriteSize</key>
                <string>{90,72}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{303,89},{90,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-2}</string>
                <key>spriteSize</key>
                <string>{90,72}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{189,137},{90,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{90,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{401,79},{90,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{357,405},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{265,407},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{177,473},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{89,479},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{1,505},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{353,487},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{265,489},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{177,555},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{89,561},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{1,587},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{353,569},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{265,571},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{177,637},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{86,82}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{177,389},{86,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{189,211},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{104,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,6}</string>
                <key>spriteSize</key>
                <string>{98,64}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{107,1},{98,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-14}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{107,67},{94,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-5}</string>
                <key>spriteSize</key>
                <string>{94,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{207,65},{94,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-10}</string>
                <key>spriteSize</key>
                <string>{96,62}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{207,1},{96,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{89,643},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{86,82}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{89,395},{86,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{1,245},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{373,229},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{279,235},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,4}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{181,301},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{89,307},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{93,217},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{1,333},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{86,82}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{1,421},{86,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{265,653},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,3}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{367,317},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{1,669},{84,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,5}</string>
                <key>spriteSize</key>
                <string>{82,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{87,725},{82,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,6}</string>
                <key>spriteSize</key>
                <string>{82,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{1,759},{82,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{353,651},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhengchong-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{177,719},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_zhengchong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45486c3574139fe9dddcbb0fee446697:a6788e6630f377fcb5c270d1175b0e22:10ba8efe156644bda0f9675cbed6d298$</string>
            <key>textureFileName</key>
            <string>gw_zhengchong.png</string>
        </dict>
    </dict>
</plist>
