<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_zhimingxianzi-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,11}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{899,421},{82,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,1}</string>
                <key>spriteSize</key>
                <string>{84,114}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{813,329},{84,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{103,-1}</string>
                <key>spriteSize</key>
                <string>{88,112}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{813,103},{88,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,20}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{719,103},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,34}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{171,85},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,42}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{289,83},{104,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,41}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{513,1},{106,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,8}</string>
                <key>spriteSize</key>
                <string>{168,98}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,13}</string>
                <key>spriteSize</key>
                <string>{90,102}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{589,105},{90,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,22}</string>
                <key>spriteSize</key>
                <string>{88,96}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{903,213},{88,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,21}</string>
                <key>spriteSize</key>
                <string>{86,102}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{555,209},{86,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,12}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{467,209},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,12}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{641,327},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,11}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{813,445},{82,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,7}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{273,185},{96,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,9}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{1,101},{96,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,11}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{493,103},{94,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,14}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{371,191},{94,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,17}</string>
                <key>spriteSize</key>
                <string>{94,102}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{197,291},{94,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,20}</string>
                <key>spriteSize</key>
                <string>{94,102}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{99,305},{94,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,22}</string>
                <key>spriteSize</key>
                <string>{94,102}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{1,311},{94,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,22}</string>
                <key>spriteSize</key>
                <string>{94,100}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{719,1},{94,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,21}</string>
                <key>spriteSize</key>
                <string>{94,100}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{815,1},{94,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,17}</string>
                <key>spriteSize</key>
                <string>{94,100}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{911,1},{94,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,15}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{1,207},{96,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,11}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{621,1},{96,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,9}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{99,199},{96,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,8}</string>
                <key>spriteSize</key>
                <string>{96,106}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{395,83},{96,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,11}</string>
                <key>spriteSize</key>
                <string>{82,108}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{181,509},{82,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-12}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{901,311},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,11}</string>
                <key>spriteSize</key>
                <string>{80,116}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{731,229},{80,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{115,40}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{643,229},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{137,-22}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{403,1},{108,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{152,-46}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{289,1},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{147,-51}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{171,1},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,11}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{899,421},{82,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,12}</string>
                <key>spriteSize</key>
                <string>{82,112}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{461,317},{82,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,15}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{713,453},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,17}</string>
                <key>spriteSize</key>
                <string>{82,108}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{85,523},{82,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,20}</string>
                <key>spriteSize</key>
                <string>{82,106}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{531,539},{82,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,22}</string>
                <key>spriteSize</key>
                <string>{82,104}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{531,647},{82,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,24}</string>
                <key>spriteSize</key>
                <string>{82,102}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{783,673},{82,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,24}</string>
                <key>spriteSize</key>
                <string>{82,104}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{699,565},{82,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,21}</string>
                <key>spriteSize</key>
                <string>{82,108}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{1,529},{82,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,18}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{797,561},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,15}</string>
                <key>spriteSize</key>
                <string>{82,112}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{545,425},{82,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,14}</string>
                <key>spriteSize</key>
                <string>{82,112}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{629,437},{82,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,12}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{897,537},{82,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,11}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{293,297},{82,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,11}</string>
                <key>spriteSize</key>
                <string>{80,112}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{169,619},{80,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,14}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{881,653},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,16}</string>
                <key>spriteSize</key>
                <string>{82,108}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{363,413},{82,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,19}</string>
                <key>spriteSize</key>
                <string>{82,108}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{447,431},{82,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,22}</string>
                <key>spriteSize</key>
                <string>{82,106}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{447,541},{82,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,24}</string>
                <key>spriteSize</key>
                <string>{82,104}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{615,659},{82,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,24}</string>
                <key>spriteSize</key>
                <string>{82,102}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{265,525},{82,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,22}</string>
                <key>spriteSize</key>
                <string>{82,106}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{615,551},{82,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,19}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{279,413},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,16}</string>
                <key>spriteSize</key>
                <string>{82,112}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{195,395},{82,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,14}</string>
                <key>spriteSize</key>
                <string>{82,112}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{97,409},{82,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,12}</string>
                <key>spriteSize</key>
                <string>{82,112}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{1,415},{82,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-idle_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,11}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{377,297},{82,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,13}</string>
                <key>spriteSize</key>
                <string>{80,102}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{85,633},{80,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,15}</string>
                <key>spriteSize</key>
                <string>{82,104}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{699,671},{82,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,21}</string>
                <key>spriteSize</key>
                <string>{82,108}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{363,523},{82,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,27}</string>
                <key>spriteSize</key>
                <string>{84,110}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{555,313},{84,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,27}</string>
                <key>spriteSize</key>
                <string>{86,110}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{813,217},{86,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,21}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{903,103},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhimingxianzi-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,16}</string>
                <key>spriteSize</key>
                <string>{84,104}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{727,347},{84,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_zhimingxianzi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b25a5cc588c9025d93f2877f880ccad6:c2b9a0434bba09f6b4c3a8dac56015a1:67a46f17b666699b5a63c041992136b1$</string>
            <key>textureFileName</key>
            <string>gw_zhimingxianzi.png</string>
        </dict>
    </dict>
</plist>
