<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_zhidangchong-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-8}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-9}</string>
                <key>spriteSize</key>
                <string>{95,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{88,1},{95,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-11}</string>
                <key>spriteSize</key>
                <string>{109,80}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{93,313},{109,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-6}</string>
                <key>spriteSize</key>
                <string>{101,104}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{637,395},{101,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,24}</string>
                <key>spriteSize</key>
                <string>{101,100}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{433,395},{101,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,23}</string>
                <key>spriteSize</key>
                <string>{99,102}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{536,395},{99,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-17}</string>
                <key>spriteSize</key>
                <string>{91,76}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{185,1},{91,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-9}</string>
                <key>spriteSize</key>
                <string>{87,80}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{204,313},{87,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-7}</string>
                <key>spriteSize</key>
                <string>{87,80}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{293,313},{87,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{382,313},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{470,313},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{558,313},{88,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{90,80}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{648,313},{90,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{90,78}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{741,235},{90,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{92,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{278,1},{92,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{92,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{372,1},{92,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{92,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{466,1},{92,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{90,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{560,1},{90,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{652,1},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{742,1},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{830,1},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{918,1},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-ctrl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{86,78}</string>
                <key>spriteSourceSize</key>
                <string>{94,80}</string>
                <key>textureRect</key>
                <string>{{833,235},{86,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{84,76}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{1,79},{84,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{106,82}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{740,315},{106,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{108,86}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{97,395},{108,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{110,86}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{207,395},{110,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{112,86}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{319,395},{112,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{108,84}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{848,315},{108,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{87,79},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{1,395},{94,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{94,78}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{921,235},{94,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{193,79},{94,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{92,76}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{289,79},{92,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{92,76}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{383,79},{92,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{90,78}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{1,313},{90,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{477,79},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{565,79},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{653,79},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{741,79},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{831,79},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{921,79},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{1,157},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{90,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{91,157},{90,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{183,157},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{273,157},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{363,157},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{451,157},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{539,157},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{627,157},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{717,157},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{807,157},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{897,157},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{90,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{1,235},{90,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{93,235},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{183,235},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,76}</string>
                <key>textureRect</key>
                <string>{{273,235},{94,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{90,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,76}</string>
                <key>textureRect</key>
                <string>{{369,235},{90,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,76}</string>
                <key>textureRect</key>
                <string>{{461,235},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{92,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,76}</string>
                <key>textureRect</key>
                <string>{{551,235},{92,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhidangchong-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,76}</string>
                <key>textureRect</key>
                <string>{{645,235},{94,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_zhidangchong_binhan.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deb93e635ab21e92f9c8c24cc4355bde:91b91d4512f4c80c4e502abd09bd131a:5183098477d944fdd26fa23bcf8e21be$</string>
            <key>textureFileName</key>
            <string>gw_zhidangchong_binhan.png</string>
        </dict>
    </dict>
</plist>
