<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_zhuizhongzhe-attack2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-118,-41}</string>
                <key>spriteSize</key>
                <string>{131,129}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{693,412},{131,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,-41}</string>
                <key>spriteSize</key>
                <string>{115,129}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{1,1867},{115,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-133,-45}</string>
                <key>spriteSize</key>
                <string>{129,121}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{698,289},{129,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-18}</string>
                <key>spriteSize</key>
                <string>{159,179}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{826,707},{159,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,-23}</string>
                <key>spriteSize</key>
                <string>{157,169}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{329,1140},{157,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-129,-34}</string>
                <key>spriteSize</key>
                <string>{141,147}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{144,1464},{141,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-129,-43}</string>
                <key>spriteSize</key>
                <string>{125,129}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{287,1599},{125,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-125,-52}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{1,1752},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,-43}</string>
                <key>spriteSize</key>
                <string>{131,123}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{687,543},{131,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,-46}</string>
                <key>spriteSize</key>
                <string>{127,111}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{418,1520},{127,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-40}</string>
                <key>spriteSize</key>
                <string>{129,127}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{698,160},{129,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,-45}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{1,1627},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,-2}</string>
                <key>spriteSize</key>
                <string>{129,117}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{287,1480},{129,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-117,61}</string>
                <key>spriteSize</key>
                <string>{153,153}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{800,1250},{153,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,41}</string>
                <key>spriteSize</key>
                <string>{155,171}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{488,1178},{155,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-20}</string>
                <key>spriteSize</key>
                <string>{151,181}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{645,1348},{151,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-140,-20}</string>
                <key>spriteSize</key>
                <string>{153,181}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{812,1067},{153,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131,-24}</string>
                <key>spriteSize</key>
                <string>{153,167}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{645,1179},{153,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-130,-24}</string>
                <key>spriteSize</key>
                <string>{147,167}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{480,1351},{147,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-129,-26}</string>
                <key>spriteSize</key>
                <string>{143,163}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{679,839},{143,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-129,-27}</string>
                <key>spriteSize</key>
                <string>{141,161}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{1,1464},{141,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-129,-28}</string>
                <key>spriteSize</key>
                <string>{143,159}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{798,1405},{143,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-130,-29}</string>
                <key>spriteSize</key>
                <string>{149,157}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{361,641},{149,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-130,-30}</string>
                <key>spriteSize</key>
                <string>{157,155}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{164,1307},{157,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131,-29}</string>
                <key>spriteSize</key>
                <string>{163,157}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{331,981},{163,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,-28}</string>
                <key>spriteSize</key>
                <string>{165,159}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{174,804},{165,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,-26}</string>
                <key>spriteSize</key>
                <string>{165,163}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{512,838},{165,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,-25}</string>
                <key>spriteSize</key>
                <string>{161,165}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{1,1297},{161,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,-24}</string>
                <key>spriteSize</key>
                <string>{155,167}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{323,1311},{155,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-18}</string>
                <key>spriteSize</key>
                <string>{159,179}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{826,707},{159,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,-9}</string>
                <key>spriteSize</key>
                <string>{123,181}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{144,1613},{123,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,23}</string>
                <key>spriteSize</key>
                <string>{165,179}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{512,657},{165,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,55}</string>
                <key>spriteSize</key>
                <string>{173,159}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{178,643},{173,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,49}</string>
                <key>spriteSize</key>
                <string>{183,147}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{513,160},{183,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-38}</string>
                <key>spriteSize</key>
                <string>{231,157}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{280,138},{231,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-38}</string>
                <key>spriteSize</key>
                <string>{263,157}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{565,1},{263,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-57}</string>
                <key>spriteSize</key>
                <string>{279,135}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{284,1},{279,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,-65}</string>
                <key>spriteSize</key>
                <string>{281,133}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{1,1},{281,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-71}</string>
                <key>spriteSize</key>
                <string>{277,133}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{1,136},{277,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-18}</string>
                <key>spriteSize</key>
                <string>{159,179}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{826,707},{159,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-19}</string>
                <key>spriteSize</key>
                <string>{155,177}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{824,888},{155,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,-21}</string>
                <key>spriteSize</key>
                <string>{157,173}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{496,1003},{157,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,-23}</string>
                <key>spriteSize</key>
                <string>{163,169}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{166,965},{163,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,-24}</string>
                <key>spriteSize</key>
                <string>{175,167}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{1,613},{175,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,-24}</string>
                <key>spriteSize</key>
                <string>{181,167}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{186,297},{181,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,-21}</string>
                <key>spriteSize</key>
                <string>{181,173}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{829,178},{181,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,-19}</string>
                <key>spriteSize</key>
                <string>{173,177}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{512,478},{173,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-18}</string>
                <key>spriteSize</key>
                <string>{163,179}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{1,951},{163,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-18}</string>
                <key>spriteSize</key>
                <string>{157,179}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{353,800},{157,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,-21}</string>
                <key>spriteSize</key>
                <string>{155,173}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{655,1004},{155,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,-23}</string>
                <key>spriteSize</key>
                <string>{161,169}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{166,1136},{161,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,-24}</string>
                <key>spriteSize</key>
                <string>{171,167}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{1,782},{171,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-133,-24}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{1,444},{179,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,-22}</string>
                <key>spriteSize</key>
                <string>{181,171}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{829,353},{181,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,-20}</string>
                <key>spriteSize</key>
                <string>{177,175}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{182,466},{177,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-18}</string>
                <key>spriteSize</key>
                <string>{167,179}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{826,526},{167,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-128,-15}</string>
                <key>spriteSize</key>
                <string>{141,173}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{369,297},{141,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-128,-19}</string>
                <key>spriteSize</key>
                <string>{145,169}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{679,668},{145,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-133,-22}</string>
                <key>spriteSize</key>
                <string>{163,163}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{1,1132},{163,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-18}</string>
                <key>spriteSize</key>
                <string>{183,171}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{1,271},{183,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131,-16}</string>
                <key>spriteSize</key>
                <string>{193,175}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{830,1},{193,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-129,-20}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{512,309},{179,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhuizhongzhe-move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,-19}</string>
                <key>spriteSize</key>
                <string>{149,167}</string>
                <key>spriteSourceSize</key>
                <string>{455,275}</string>
                <key>textureRect</key>
                <string>{{361,472},{149,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_zhuizhongzhe.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7a8e0752f843c39544675fcbeb0e2dd:f577e4e4b5fde492e874c59263687bd4:0c52bceea421391ba42ecf51b6ae041c$</string>
            <key>textureFileName</key>
            <string>gw_zhuizhongzhe.png</string>
        </dict>
    </dict>
</plist>
