<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_chongzi-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{153,239},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-13}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{271,57},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-13}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{69,419},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-10}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{1,353},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{76,52}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{359,1},{76,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-16}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{379,353},{72,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-14}</string>
                <key>spriteSize</key>
                <string>{76,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{81,113},{76,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-13}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{277,1},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-10}</string>
                <key>spriteSize</key>
                <string>{78,52}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{1,71},{78,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-14}</string>
                <key>spriteSize</key>
                <string>{74,52}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{77,341},{74,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{305,339},{72,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{77,285},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{347,109},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{271,115},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-13}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{423,121},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{347,167},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{423,179},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{229,345},{72,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{159,123},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{79,169},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{1,181},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{235,173},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{1,297},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{387,237},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{78,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{101,55},{78,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,19}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{1,419},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,14}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{191,53},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-11}</string>
                <key>spriteSize</key>
                <string>{98,68}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-8}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{101,1},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-18}</string>
                <key>spriteSize</key>
                <string>{84,50}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{191,1},{84,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{307,283},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{155,181},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{153,351},{72,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{143,409},{72,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{217,409},{72,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{437,1},{74,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{383,293},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{437,61},{74,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{77,227},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{1,239},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{76,52}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{359,55},{76,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{229,289},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{311,225},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-13}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{153,295},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{231,231},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_chongzi-move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{76,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,112}</string>
                <key>textureRect</key>
                <string>{{1,125},{76,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_chongzi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:600ba440195124cd57272490cb4837a3:47914fd7cf4f5da9871d4484eda900bf:872f07779ad5f6c03a5f902b656acefb$</string>
            <key>textureFileName</key>
            <string>gw_chongzi.png</string>
        </dict>
    </dict>
</plist>
