<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_zhizhu-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{434,427},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-25}</string>
                <key>spriteSize</key>
                <string>{75,64}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{1,703},{75,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{343,495},{81,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,27}</string>
                <key>spriteSize</key>
                <string>{95,74}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{342,1},{95,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-34}</string>
                <key>spriteSize</key>
                <string>{87,66}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{1,289},{87,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-20}</string>
                <key>spriteSize</key>
                <string>{91,66}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{1,157},{91,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-27}</string>
                <key>spriteSize</key>
                <string>{87,64}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{274,287},{87,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-23}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{177,369},{85,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-20}</string>
                <key>spriteSize</key>
                <string>{79,62}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{84,697},{79,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-ctrl_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-17}</string>
                <key>spriteSize</key>
                <string>{83,68}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{355,357},{83,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-ctrl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-17}</string>
                <key>spriteSize</key>
                <string>{83,68}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{264,421},{83,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-ctrl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-18}</string>
                <key>spriteSize</key>
                <string>{83,66}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{1,499},{83,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-ctrl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-18}</string>
                <key>spriteSize</key>
                <string>{83,66}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{349,427},{83,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-ctrl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-20}</string>
                <key>spriteSize</key>
                <string>{83,66}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{258,491},{83,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-ctrl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-23}</string>
                <key>spriteSize</key>
                <string>{83,68}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{173,435},{83,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-ctrl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{83,70}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{88,419},{83,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-ctrl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-24}</string>
                <key>spriteSize</key>
                <string>{83,70}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{1,427},{83,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-ctrl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-23}</string>
                <key>spriteSize</key>
                <string>{81,70}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{256,559},{81,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-ctrl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-21}</string>
                <key>spriteSize</key>
                <string>{81,70}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{171,573},{81,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-ctrl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-19}</string>
                <key>spriteSize</key>
                <string>{81,68}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{86,627},{81,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-ctrl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-17}</string>
                <key>spriteSize</key>
                <string>{81,68}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{1,633},{81,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{434,493},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{89,70}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{322,151},{89,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,17}</string>
                <key>spriteSize</key>
                <string>{115,80}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,22}</string>
                <key>spriteSize</key>
                <string>{107,90}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{233,1},{107,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-22}</string>
                <key>spriteSize</key>
                <string>{113,72}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{118,1},{113,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-14}</string>
                <key>spriteSize</key>
                <string>{105,72}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{1,83},{105,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-24}</string>
                <key>spriteSize</key>
                <string>{107,66}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{118,75},{107,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-20}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{254,631},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-19}</string>
                <key>spriteSize</key>
                <string>{83,64}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{86,561},{83,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-17}</string>
                <key>spriteSize</key>
                <string>{85,68}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{181,299},{85,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-17}</string>
                <key>spriteSize</key>
                <string>{85,68}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{90,349},{85,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-18}</string>
                <key>spriteSize</key>
                <string>{83,68}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{86,491},{83,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{81,68}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{426,559},{81,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-18}</string>
                <key>spriteSize</key>
                <string>{83,66}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{171,505},{83,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-17}</string>
                <key>spriteSize</key>
                <string>{87,68}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{92,279},{87,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-17}</string>
                <key>spriteSize</key>
                <string>{85,68}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{1,357},{85,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{83,64}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{1,567},{83,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-20}</string>
                <key>spriteSize</key>
                <string>{89,62}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{1,225},{89,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-18}</string>
                <key>spriteSize</key>
                <string>{93,66}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{227,93},{93,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-16}</string>
                <key>spriteSize</key>
                <string>{87,70}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{185,227},{87,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-18}</string>
                <key>spriteSize</key>
                <string>{81,64}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{339,579},{81,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{201,161},{89,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{93,72}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{342,77},{93,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-18}</string>
                <key>spriteSize</key>
                <string>{89,66}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{413,151},{89,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{169,645},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-15}</string>
                <key>spriteSize</key>
                <string>{89,66}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{413,219},{89,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{91,68}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{108,143},{91,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{94,213},{89,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-17}</string>
                <key>spriteSize</key>
                <string>{85,68}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{363,287},{85,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{268,353},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_zhizhu-move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{89,62}</string>
                <key>spriteSourceSize</key>
                <string>{173,134}</string>
                <key>textureRect</key>
                <string>{{292,223},{89,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gw_zhizhu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:599ac681a7b4a18c2e68f60bfbf96ada:f1c6aab85da0b708f1b0220e5077791e:7c67d7efaa4f6db66cdf3fe58d5780b6$</string>
            <key>textureFileName</key>
            <string>gw_zhizhu.png</string>
        </dict>
    </dict>
</plist>
