<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_4_5101-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{83,56}</string>
                <key>spriteSourceSize</key>
                <string>{83,80}</string>
                <key>textureRect</key>
                <string>{{1,157},{83,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5101-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{83,78}</string>
                <key>spriteSourceSize</key>
                <string>{83,80}</string>
                <key>textureRect</key>
                <string>{{86,1},{83,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5101-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{83,72}</string>
                <key>spriteSourceSize</key>
                <string>{83,80}</string>
                <key>textureRect</key>
                <string>{{1,83},{83,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5101-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{83,78}</string>
                <key>spriteSourceSize</key>
                <string>{83,80}</string>
                <key>textureRect</key>
                <string>{{171,1},{83,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5101-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{83,78}</string>
                <key>spriteSourceSize</key>
                <string>{83,80}</string>
                <key>textureRect</key>
                <string>{{86,1},{83,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5101-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{83,76}</string>
                <key>spriteSourceSize</key>
                <string>{83,80}</string>
                <key>textureRect</key>
                <string>{{86,81},{83,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5101-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,80}</string>
                <key>spriteSourceSize</key>
                <string>{83,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5101-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{83,78}</string>
                <key>spriteSourceSize</key>
                <string>{83,80}</string>
                <key>textureRect</key>
                <string>{{86,1},{83,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_4_5101.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47145589cdb9d896055969905b0a79f2:27b040c845c8298f5804466bc21adb6b:16e7474813312dc6729fe93a7be2a587$</string>
            <key>textureFileName</key>
            <string>kuang_4_5101.png</string>
        </dict>
    </dict>
</plist>
