<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_2101-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{99,66}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1,179},{99,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_2101-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,86}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1,91},{99,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_2101-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{99,80}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{102,175},{99,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_2101-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,86}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{102,1},{99,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_2101-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,86}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1,91},{99,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_2101-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{99,84}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{102,89},{99,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_2101-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_2101-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,86}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1,91},{99,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_2101.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32df8ca65443ecb554b63f8f2b9e99e3:1f4d183b85f03f0b578cbc808bc6cf29:73a0a1cf0ae2bed73f988c11bca1c35e$</string>
            <key>textureFileName</key>
            <string>kuang_2101.png</string>
        </dict>
    </dict>
</plist>
