<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_4106-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{169,95}</string>
                <key>spriteSourceSize</key>
                <string>{169,129}</string>
                <key>textureRect</key>
                <string>{{172,130},{169,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4106-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{169,125}</string>
                <key>spriteSourceSize</key>
                <string>{169,129}</string>
                <key>textureRect</key>
                <string>{{1,130},{169,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4106-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{169,127}</string>
                <key>spriteSourceSize</key>
                <string>{169,129}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4106-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{169,115}</string>
                <key>spriteSourceSize</key>
                <string>{169,129}</string>
                <key>textureRect</key>
                <string>{{1,376},{169,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4106-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{169,125}</string>
                <key>spriteSourceSize</key>
                <string>{169,129}</string>
                <key>textureRect</key>
                <string>{{1,130},{169,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4106-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{169,127}</string>
                <key>spriteSourceSize</key>
                <string>{169,129}</string>
                <key>textureRect</key>
                <string>{{172,1},{169,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4106-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{169,117}</string>
                <key>spriteSourceSize</key>
                <string>{169,129}</string>
                <key>textureRect</key>
                <string>{{1,257},{169,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4106-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{169,125}</string>
                <key>spriteSourceSize</key>
                <string>{169,129}</string>
                <key>textureRect</key>
                <string>{{1,130},{169,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_4106.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3475514feca675cb75c15e02dc146979:428a04e14dcd15f5adac89fe0f4f37ed:e5ea577face16f92a4ea31bb91b10625$</string>
            <key>textureFileName</key>
            <string>kuang_4106.png</string>
        </dict>
    </dict>
</plist>
