<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_4104-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{90,59}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{93,173},{90,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4104-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4104-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{90,79}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{1,175},{90,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4104-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{93,1},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4104-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4104-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,83}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{93,88},{90,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4104-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{1,88},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4104-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_4104.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c3c5471896760be2ee580d6a839db10:eb3dfa4ada34a6511c0fc93e95578513:7d8715805e7f1ac6e1d51b8e58efadb7$</string>
            <key>textureFileName</key>
            <string>kuang_4104.png</string>
        </dict>
    </dict>
</plist>
