<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_1133-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{191,173}</string>
                <key>spriteSourceSize</key>
                <string>{193,227}</string>
                <key>textureRect</key>
                <string>{{1,441},{191,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1133-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{191,217}</string>
                <key>spriteSourceSize</key>
                <string>{193,227}</string>
                <key>textureRect</key>
                <string>{{194,1},{191,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1133-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{191,219}</string>
                <key>spriteSourceSize</key>
                <string>{193,227}</string>
                <key>textureRect</key>
                <string>{{1,1},{191,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1133-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{191,217}</string>
                <key>spriteSourceSize</key>
                <string>{193,227}</string>
                <key>textureRect</key>
                <string>{{194,220},{191,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1133-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{191,217}</string>
                <key>spriteSourceSize</key>
                <string>{193,227}</string>
                <key>textureRect</key>
                <string>{{194,1},{191,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1133-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{191,217}</string>
                <key>spriteSourceSize</key>
                <string>{193,227}</string>
                <key>textureRect</key>
                <string>{{1,222},{191,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1133-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{191,217}</string>
                <key>spriteSourceSize</key>
                <string>{193,227}</string>
                <key>textureRect</key>
                <string>{{194,439},{191,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1133-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{191,217}</string>
                <key>spriteSourceSize</key>
                <string>{193,227}</string>
                <key>textureRect</key>
                <string>{{194,1},{191,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_1133.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9547ed2829714335e39be09f47bd671f:6591e64531bb820a0699c51b75978213:75d951f411d12b321de56ed3357aad09$</string>
            <key>textureFileName</key>
            <string>kuang_1133.png</string>
        </dict>
    </dict>
</plist>
