<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_21033-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{161,96}</string>
                <key>spriteSourceSize</key>
                <string>{161,146}</string>
                <key>textureRect</key>
                <string>{{164,147},{161,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_21033-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{161,140}</string>
                <key>spriteSourceSize</key>
                <string>{161,146}</string>
                <key>textureRect</key>
                <string>{{327,1},{161,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_21033-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{161,144}</string>
                <key>spriteSourceSize</key>
                <string>{161,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_21033-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{161,134}</string>
                <key>spriteSourceSize</key>
                <string>{161,146}</string>
                <key>textureRect</key>
                <string>{{327,143},{161,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_21033-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{161,140}</string>
                <key>spriteSourceSize</key>
                <string>{161,146}</string>
                <key>textureRect</key>
                <string>{{327,1},{161,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_21033-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{161,144}</string>
                <key>spriteSourceSize</key>
                <string>{161,146}</string>
                <key>textureRect</key>
                <string>{{164,1},{161,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_21033-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{161,134}</string>
                <key>spriteSourceSize</key>
                <string>{161,146}</string>
                <key>textureRect</key>
                <string>{{1,279},{161,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_21033-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{161,140}</string>
                <key>spriteSourceSize</key>
                <string>{161,146}</string>
                <key>textureRect</key>
                <string>{{327,1},{161,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_21033.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fb7d9a970c51438a36d1df69544608d:5671b65959eecda96a2bf0dae1cf245f:3e3c7b0c7cd7c09500da5fae59b7bd5a$</string>
            <key>textureFileName</key>
            <string>kuang_21033.png</string>
        </dict>
    </dict>
</plist>
