<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_4102-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{111,70}</string>
                <key>spriteSourceSize</key>
                <string>{111,106}</string>
                <key>textureRect</key>
                <string>{{1,209},{111,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4102-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,106}</string>
                <key>textureRect</key>
                <string>{{114,1},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4102-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{111,100}</string>
                <key>spriteSourceSize</key>
                <string>{111,106}</string>
                <key>textureRect</key>
                <string>{{114,105},{111,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4102-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{111,98}</string>
                <key>spriteSourceSize</key>
                <string>{111,106}</string>
                <key>textureRect</key>
                <string>{{114,207},{111,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4102-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,106}</string>
                <key>textureRect</key>
                <string>{{114,1},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4102-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{111,104}</string>
                <key>spriteSourceSize</key>
                <string>{111,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4102-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{111,100}</string>
                <key>spriteSourceSize</key>
                <string>{111,106}</string>
                <key>textureRect</key>
                <string>{{1,107},{111,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4102-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,106}</string>
                <key>textureRect</key>
                <string>{{114,1},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_4102.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ca959369d13d906232f24189bcb10db:bd6d188291cf5d0c9df0cde0b37acae1:a500243d709ea307a07e4826a3097eba$</string>
            <key>textureFileName</key>
            <string>kuang_4102.png</string>
        </dict>
    </dict>
</plist>
