<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_4_5103-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{128,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{261,115},{128,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5103-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{131,1},{128,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5103-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5103-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{128,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{261,1},{128,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5103-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{131,1},{128,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5103-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{1,127},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5103-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{128,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{131,125},{128,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5103-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{131,1},{128,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_4_5103.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd4c1096afb2049dd6d89e34df6fe126:e792ffea36732ea4142b3a7fff3320ab:91270b67731c128d04b8ec9f7f412c0e$</string>
            <key>textureFileName</key>
            <string>kuang_4_5103.png</string>
        </dict>
    </dict>
</plist>
