<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_1131-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{90,69}</string>
                <key>spriteSourceSize</key>
                <string>{92,103}</string>
                <key>textureRect</key>
                <string>{{1,205},{90,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1131-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{90,99}</string>
                <key>spriteSourceSize</key>
                <string>{92,103}</string>
                <key>textureRect</key>
                <string>{{93,1},{90,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1131-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{90,101}</string>
                <key>spriteSourceSize</key>
                <string>{92,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1131-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{90,99}</string>
                <key>spriteSourceSize</key>
                <string>{92,103}</string>
                <key>textureRect</key>
                <string>{{93,102},{90,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1131-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{90,99}</string>
                <key>spriteSourceSize</key>
                <string>{92,103}</string>
                <key>textureRect</key>
                <string>{{93,1},{90,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1131-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{90,99}</string>
                <key>spriteSourceSize</key>
                <string>{92,103}</string>
                <key>textureRect</key>
                <string>{{1,104},{90,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1131-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{90,97}</string>
                <key>spriteSourceSize</key>
                <string>{92,103}</string>
                <key>textureRect</key>
                <string>{{93,203},{90,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1131-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{90,99}</string>
                <key>spriteSourceSize</key>
                <string>{92,103}</string>
                <key>textureRect</key>
                <string>{{93,1},{90,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_1131.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eacc57360523cfd8599c08d5f8b8e082:48d98932ff93d5dfea32985512865940:626b259d933c6c473693ada3e411c0f3$</string>
            <key>textureFileName</key>
            <string>kuang_1131.png</string>
        </dict>
    </dict>
</plist>
