<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{85,100},{68,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{1,100},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{80,93}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{169,1},{80,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{85,1},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{80,93}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{169,96},{80,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f29a37030709e78201e75cefd9e0565b:948e74702faa07d458ef8d3f5b87c401:61f283e7e615ee88aa73ba7aed9fe771$</string>
            <key>textureFileName</key>
            <string>kuang.png</string>
        </dict>
    </dict>
</plist>
