<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_1132-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{261,125},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1132-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,1},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1132-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,127},{128,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1132-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1132-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,1},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1132-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{261,1},{128,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1132-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,129},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1132-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,1},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_1132.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a8e5a4b9a7786af17dc25b89cea08c0:7418c7ac0f2a6cbd53237028c8c7c901:4422eb5192085c2d57e7efa3225c5f30$</string>
            <key>textureFileName</key>
            <string>kuang_1132.png</string>
        </dict>
    </dict>
</plist>
