<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_1122-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{124,132}</string>
                <key>textureRect</key>
                <string>{{1,263},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1122-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,132}</string>
                <key>textureRect</key>
                <string>{{1,133},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1122-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{124,126}</string>
                <key>spriteSourceSize</key>
                <string>{124,132}</string>
                <key>textureRect</key>
                <string>{{127,133},{124,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1122-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{124,130}</string>
                <key>spriteSourceSize</key>
                <string>{124,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1122-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,132}</string>
                <key>textureRect</key>
                <string>{{1,133},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1122-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{124,126}</string>
                <key>spriteSourceSize</key>
                <string>{124,132}</string>
                <key>textureRect</key>
                <string>{{127,261},{124,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1122-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{124,130}</string>
                <key>spriteSourceSize</key>
                <string>{124,132}</string>
                <key>textureRect</key>
                <string>{{127,1},{124,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1122-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,132}</string>
                <key>textureRect</key>
                <string>{{1,133},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_1122.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efb60fb2ad42d91556084e8311584425:71a41c1dde2c1b8cf109bceb1ccedf8a:8c0ed9cd6ae3b144e2b129f39b92e436$</string>
            <key>textureFileName</key>
            <string>kuang_1122.png</string>
        </dict>
    </dict>
</plist>
