<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_1113-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-23}</string>
                <key>spriteSize</key>
                <string>{154,162}</string>
                <key>spriteSourceSize</key>
                <string>{174,218}</string>
                <key>textureRect</key>
                <string>{{313,211},{154,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1113-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{174,218}</string>
                <key>textureRect</key>
                <string>{{1,213},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1113-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{174,218}</string>
                <key>textureRect</key>
                <string>{{157,1},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1113-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{174,218}</string>
                <key>textureRect</key>
                <string>{{313,1},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1113-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{174,218}</string>
                <key>textureRect</key>
                <string>{{1,213},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1113-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{174,218}</string>
                <key>textureRect</key>
                <string>{{157,211},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1113-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{154,210}</string>
                <key>spriteSourceSize</key>
                <string>{174,218}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1113-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{174,218}</string>
                <key>textureRect</key>
                <string>{{1,213},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_1113.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6a3d611398f55885c59e0cc656304a2:f7e8c141557d80c6d8dcbfc40bdf40e7:931e21b99f3f9ba6c73f5e4211e138d0$</string>
            <key>textureFileName</key>
            <string>kuang_1113.png</string>
        </dict>
    </dict>
</plist>
