<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_1123-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{154,162}</string>
                <key>spriteSourceSize</key>
                <string>{172,216}</string>
                <key>textureRect</key>
                <string>{{313,211},{154,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1123-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{172,216}</string>
                <key>textureRect</key>
                <string>{{1,213},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1123-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{172,216}</string>
                <key>textureRect</key>
                <string>{{157,1},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1123-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{154,210}</string>
                <key>spriteSourceSize</key>
                <string>{172,216}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1123-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{172,216}</string>
                <key>textureRect</key>
                <string>{{1,213},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1123-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{172,216}</string>
                <key>textureRect</key>
                <string>{{313,1},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1123-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{172,216}</string>
                <key>textureRect</key>
                <string>{{157,211},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1123-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{172,216}</string>
                <key>textureRect</key>
                <string>{{1,213},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_1123.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa268cd4af9fa8e5b2d9025e1a30e69f:c36da8bd1b2e3152616fcea463e1d688:62adba7ba9c396d09d54bb2a64593bf2$</string>
            <key>textureFileName</key>
            <string>kuang_1123.png</string>
        </dict>
    </dict>
</plist>
