<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_4_5102-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{118,85}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{121,231},{118,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5102-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{118,113}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{121,1},{118,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5102-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{118,113}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{121,116},{118,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5102-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{118,109}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{1,231},{118,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5102-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{118,113}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{121,1},{118,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5102-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,115}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5102-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{118,111}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{1,118},{118,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5102-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{118,113}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{121,1},{118,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_4_5102.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e373fd0e54ee193bcc72e0c54f5720e:9cbd9b36bac33f5841ab16e8f9ec3a75:e9a0717cd7c3878d185f4a2a2d020a9a$</string>
            <key>textureFileName</key>
            <string>kuang_4_5102.png</string>
        </dict>
    </dict>
</plist>
