<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_4_5104-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{232,205}</string>
                <key>spriteSourceSize</key>
                <string>{258,221}</string>
                <key>textureRect</key>
                <string>{{1,656},{232,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5104-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{248,217}</string>
                <key>spriteSourceSize</key>
                <string>{258,221}</string>
                <key>textureRect</key>
                <string>{{1,220},{248,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5104-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{248,215}</string>
                <key>spriteSourceSize</key>
                <string>{258,221}</string>
                <key>textureRect</key>
                <string>{{1,439},{248,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5104-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{250,217}</string>
                <key>spriteSourceSize</key>
                <string>{258,221}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5104-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{248,217}</string>
                <key>spriteSourceSize</key>
                <string>{258,221}</string>
                <key>textureRect</key>
                <string>{{251,220},{248,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5104-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{246,217}</string>
                <key>spriteSourceSize</key>
                <string>{258,221}</string>
                <key>textureRect</key>
                <string>{{251,439},{246,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5104-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{250,217}</string>
                <key>spriteSourceSize</key>
                <string>{258,221}</string>
                <key>textureRect</key>
                <string>{{253,1},{250,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_4_5104-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{248,217}</string>
                <key>spriteSourceSize</key>
                <string>{258,221}</string>
                <key>textureRect</key>
                <string>{{1,220},{248,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_4_5104.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7967b03b155938c0e1d9a1742e6fe62:36c28976c3b8ed3efa25937b672de3b6:e232726cc557ce8310658158cbdf1f77$</string>
            <key>textureFileName</key>
            <string>kuang_4_5104.png</string>
        </dict>
    </dict>
</plist>
