<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_1111-die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{93,68}</string>
                <key>spriteSourceSize</key>
                <string>{95,102}</string>
                <key>textureRect</key>
                <string>{{96,201},{93,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1111-hurt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{93,98}</string>
                <key>spriteSourceSize</key>
                <string>{95,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1111-hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{93,98}</string>
                <key>spriteSourceSize</key>
                <string>{95,102}</string>
                <key>textureRect</key>
                <string>{{96,1},{93,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1111-hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{93,98}</string>
                <key>spriteSourceSize</key>
                <string>{95,102}</string>
                <key>textureRect</key>
                <string>{{1,101},{93,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1111-hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{93,98}</string>
                <key>spriteSourceSize</key>
                <string>{95,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1111-hurt_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{93,98}</string>
                <key>spriteSourceSize</key>
                <string>{95,102}</string>
                <key>textureRect</key>
                <string>{{96,101},{93,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1111-hurt_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{93,96}</string>
                <key>spriteSourceSize</key>
                <string>{95,102}</string>
                <key>textureRect</key>
                <string>{{1,201},{93,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_1111-idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{93,98}</string>
                <key>spriteSourceSize</key>
                <string>{95,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuang_1111.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c7b6c2635be71a93ab04b2a1350e00d:26df8193e70fdae5a2c1c70da3e10612:091a5529be417ed0c4b3afe532bfb8dd$</string>
            <key>textureFileName</key>
            <string>kuang_1111.png</string>
        </dict>
    </dict>
</plist>
