<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_upper-attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{23,52}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{44,199},{23,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,1}</string>
                <key>spriteSize</key>
                <string>{33,80}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{124,91},{33,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{37,88}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{87,1},{37,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,1}</string>
                <key>spriteSize</key>
                <string>{37,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{85,103},{37,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{39,94}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{44,103},{39,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{41,100}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{41,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{41,100}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{41,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_upper-attack_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{41,100}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{44,1},{41,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack_upper.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a1303786391104b61fbff16d8cf0701:8c4ab7343c845f206a0def90b7e9ed03:a05bbee2854bee9f1b4cbd468b89e0f9$</string>
            <key>textureFileName</key>
            <string>attack_upper.png</string>
        </dict>
    </dict>
</plist>
