<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_bullet_upper-attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_bullet_upper-attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{1,31},{106,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_bullet_upper-attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{1,61},{106,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_bullet_upper-attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{1,91},{106,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_bullet_upper-attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{1,121},{106,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack_bullet_upper.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2493d102389f0b83d4f4f35d05affc9a:ad4912c956044c02dfa1b2e14c829743:96baa8b45e621b81f36a48897f3298a8$</string>
            <key>textureFileName</key>
            <string>attack_bullet_upper.png</string>
        </dict>
    </dict>
</plist>
