<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill01_bullet_upper-skill01_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,0}</string>
                <key>spriteSize</key>
                <string>{75,93}</string>
                <key>spriteSourceSize</key>
                <string>{151,99}</string>
                <key>textureRect</key>
                <string>{{152,96},{75,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_bullet_upper-skill01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,0}</string>
                <key>spriteSize</key>
                <string>{89,93}</string>
                <key>spriteSourceSize</key>
                <string>{151,99}</string>
                <key>textureRect</key>
                <string>{{152,1},{89,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_bullet_upper-skill01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,1}</string>
                <key>spriteSize</key>
                <string>{105,97}</string>
                <key>spriteSourceSize</key>
                <string>{151,99}</string>
                <key>textureRect</key>
                <string>{{136,191},{105,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_bullet_upper-skill01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{121,93}</string>
                <key>spriteSourceSize</key>
                <string>{151,99}</string>
                <key>textureRect</key>
                <string>{{134,290},{121,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_bullet_upper-skill01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{133,93}</string>
                <key>spriteSourceSize</key>
                <string>{151,99}</string>
                <key>textureRect</key>
                <string>{{1,102},{133,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_bullet_upper-skill01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{131,99}</string>
                <key>spriteSourceSize</key>
                <string>{151,99}</string>
                <key>textureRect</key>
                <string>{{1,197},{131,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_bullet_upper-skill01_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{149,99}</string>
                <key>spriteSourceSize</key>
                <string>{151,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{149,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill01_bullet_upper.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ba09921081b4d22d4986e741016068f:ad187cbee07e3448a5c449b01b94eeca:c24caf87badbad4a9a4c240a3eac18ff$</string>
            <key>textureFileName</key>
            <string>skill01_bullet_upper.png</string>
        </dict>
    </dict>
</plist>
