<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill01_hit_upper-skill01_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,66.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{508,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{1,493},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{105,104}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{406,127},{105,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{127,126}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{1,249},{127,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{128,483},{115,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{117,114}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{257,367},{117,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{117,112}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{376,463},{117,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{388,359},{123,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{125,114}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{130,367},{125,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{125,114}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{1,377},{125,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{127,116}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{130,249},{127,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{127,116}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{259,249},{127,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{129,118}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{1,129},{129,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{131,120}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{138,127},{131,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{131,122}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{273,125},{131,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{133,122}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{273,1},{133,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{133,124}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{138,1},{133,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{135,126}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{135,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,6}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{408,1},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,6}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{406,233},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill01_hit_upper-skill01_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,64}</string>
                <key>spriteSize</key>
                <string>{7,8}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{499,1},{7,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill01_hit_upper.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f63915429c907a4c7cfd159e9f88c3f9:b12a7dae8406b49b8181c8f12c7afad0:574e82dc11262252ec4d4c1962ca5d87$</string>
            <key>textureFileName</key>
            <string>skill01_hit_upper.png</string>
        </dict>
    </dict>
</plist>
