<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ring-idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{87,56}</string>
                <key>spriteSourceSize</key>
                <string>{89,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring-idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{87,56}</string>
                <key>spriteSourceSize</key>
                <string>{89,56}</string>
                <key>textureRect</key>
                <string>{{1,59},{87,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring-idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{87,56}</string>
                <key>spriteSourceSize</key>
                <string>{89,56}</string>
                <key>textureRect</key>
                <string>{{90,1},{87,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring-idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{85,56}</string>
                <key>spriteSourceSize</key>
                <string>{89,56}</string>
                <key>textureRect</key>
                <string>{{268,59},{85,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring-idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{85,56}</string>
                <key>spriteSourceSize</key>
                <string>{89,56}</string>
                <key>textureRect</key>
                <string>{{355,59},{85,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring-idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{87,56}</string>
                <key>spriteSourceSize</key>
                <string>{89,56}</string>
                <key>textureRect</key>
                <string>{{90,59},{87,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring-idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{87,56}</string>
                <key>spriteSourceSize</key>
                <string>{89,56}</string>
                <key>textureRect</key>
                <string>{{179,1},{87,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring-idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{87,56}</string>
                <key>spriteSourceSize</key>
                <string>{89,56}</string>
                <key>textureRect</key>
                <string>{{179,59},{87,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring-idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{87,56}</string>
                <key>spriteSourceSize</key>
                <string>{89,56}</string>
                <key>textureRect</key>
                <string>{{268,1},{87,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ring.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7b0a42d0bec6dac619bd2ebdf32fd56:136cf0cc39e6a3ba9ac0d2d65aea7104:215356365a731af160df69bb8cb9816c$</string>
            <key>textureFileName</key>
            <string>ring.png</string>
        </dict>
    </dict>
</plist>
