<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slash1-attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,203}</string>
                <key>spriteSourceSize</key>
                <string>{175,203}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slash1-attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,203}</string>
                <key>spriteSourceSize</key>
                <string>{175,203}</string>
                <key>textureRect</key>
                <string>{{1,206},{171,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slash1-attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{157,201}</string>
                <key>spriteSourceSize</key>
                <string>{175,203}</string>
                <key>textureRect</key>
                <string>{{174,206},{157,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slash1-attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{141,191}</string>
                <key>spriteSourceSize</key>
                <string>{175,203}</string>
                <key>textureRect</key>
                <string>{{178,1},{141,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slash1-attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-14}</string>
                <key>spriteSize</key>
                <string>{157,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,203}</string>
                <key>textureRect</key>
                <string>{{333,1},{157,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slash1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87daf02dbcaf570817e85cd785e2f408:93978c9040516fdea6662f37a3cae7cf:2f9e592578a2c84e4874b19327ae5155$</string>
            <key>textureFileName</key>
            <string>slash1.png</string>
        </dict>
    </dict>
</plist>
